Repository software-mansion/protostar, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arcticae, @MaksymilianDemitraszek, @Radinyn

Add `compile_starknet_contract_to_sierra_from_path`
  protostar/cairo/cairo_bindings.py
Owners: @MaksymilianDemitraszek

Update bindings names
  protostar/cairo/cairo_bindings.py
  protostar/commands/cairo1_commands/build_cairo1_command.py
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test.py
Owners: @MaksymilianDemitraszek, @Arcticae

revert unnecessary changes
  tests/integration/cairo1_compiler_bindings/library_functions_test/deploy_test.cairo
Owners: @Arcticae

Modular protostar - architecture (#1623)
  design_docs/img/diagram.png
  design_docs/protostar-architecture.md
Owners: @Arcticae

Separate test commands (#1602)
  protostar/commands/cairo1_commands/test_cairo1_command.py
Owners: @Arcticae

Add prepare cairo1 test (#1624)
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/prepare_test.cairo
Owners: @Arcticae

Fix handle binding errors
  protostar/cairo/cairo_bindings.py
Owners: @MaksymilianDemitraszek

Add merge_group event trigger for essential checks
  .github/workflows/build_docs.yml
  .github/workflows/builds_on_mac.yml
  .github/workflows/checks.yml
Owners: @Arcticae

Split compiler bindings (#1631)
  protostar/cairo/cairo_bindings.py
  protostar/commands/cairo1_commands/build_cairo1_command.py
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test.py
Owners: @MaksymilianDemitraszek, @Arcticae

Add `merge_group` event trigger for essential checks (#1639)
  .github/workflows/build_docs.yml
  .github/workflows/builds_on_mac.yml
  .github/workflows/checks.yml
Owners: @Arcticae

Add `declare_cairo0` libfunc test (#1622)
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/declare_cairo0_test.cairo
Owners: @Arcticae

prototype ready
  protostar/commands/cairo1_commands/build_cairo1_command.py
  protostar/commands/cairo1_commands/fetch_from_scarb.py
  protostar/commands/cairo1_commands/test_cairo1_command.py
Owners: @Arcticae

Add a test which fails to declare a contract
  tests/integration/pure_cairo_vm/cheatcodes/declare_cairo0_cheatcode_test.py
  tests/integration/pure_cairo_vm/cheatcodes/declare_cairo0_cheatcode_test/declare_cairo0_test.cairo
Owners: @Arcticae

Bump deps
  poetry.lock
  pyproject.toml
Owners: @Arcticae

Change test name
  tests/integration/pure_cairo_vm/cheatcodes/declare_cairo0_cheatcode_test.py
  tests/integration/pure_cairo_vm/cheatcodes/declare_cairo0_cheatcode_test/declare_cairo0_test.cairo
Owners: @Arcticae

Update implementations to new deps version
  protostar/cheatable_starknet/cheatables/cheatable_execute_entry_point.py
  protostar/starknet/cheatable_execute_entry_point.py
  protostar/starknet/cheatable_invoke_function.py
  protostar/starknet/cheatable_state.py
  protostar/starknet/cheatcode.py
  protostar/starknet/contract.py
  protostar/starknet_gateway/account_manager.py
  protostar/starknet_gateway/gateway_facade.py
  protostar/testing/environments/contract_based_test_execution_environment.py
  pyproject.toml
  tests/integration/cheatcodes/prepare/prepare_test.cairo
  tests/integration/commands/test_command_test.py
  tests/integration/gateway/gateway_facade_test.py
  tests/integration/gateway/multicall_use_case_test.py
Owners: @MaksymilianDemitraszek, @Arcticae, @Radinyn

Fix deprecation warnings
  website/src/components/HomepageFeature/HomepageFeature.tsx
  website/src/theme/DocPage/Layout/Main/index.js
Owners: @Arcticae

Update logo in README.md
  README.md
  readme/protostar-logo--dark.svg
  readme/protostar-logo--light.svg
Owners: @MaksymilianDemitraszek

Use new logo in navbar
  website/docusaurus.config.js
  website/static/img/protostar-logo--dark.png
  website/static/img/protostar-logo--light.png
  website/static/img/protostar-wide--dark.svg
  website/static/img/protostar-wide--light.svg
Owners: @Arcticae

Use new star
  website/src/components/StarIcon/StarIcon.tsx
  website/src/components/StarIcon/index.ts
  website/src/components/Stars/Stars.tsx
  website/src/components/index.ts
  website/static/img/star--dark.png
  website/static/img/star--light.png
Owners: @Arcticae

Use new logo in front page
  website/src/components/HomepageHeader/HomepageHeader.tsx
  website/src/components/HomepageHeader/styles.module.css
  website/src/css/custom.css
  website/static/img/protostar-title--dark.svg
  website/static/img/protostar-title--light.svg
Owners: @Arcticae

Add a case with broken syntax test
  tests/integration/pure_cairo_vm/cheatcodes/declare_cairo0_cheatcode_test.py
  tests/integration/pure_cairo_vm/cheatcodes/declare_cairo0_cheatcode_test/broken_syntax_contract.cairo
  tests/integration/pure_cairo_vm/cheatcodes/declare_cairo0_cheatcode_test/declare_cairo0_test.cairo
Owners: @Arcticae

`declare_cairo0` business logic (#1636)
  protostar/cairo/short_string.py
  protostar/cairo_testing/cairo_hint_local_factory.py
  protostar/cheatable_starknet/callable_hint_locals/__init__.py
  protostar/cheatable_starknet/callable_hint_locals/declare_cairo0_hint_local.py
  protostar/cheatable_starknet/callable_hint_locals/deploy_contract_hint_local.py
  protostar/cheatable_starknet/cheatables/cheatable_cached_state.py
  protostar/cheatable_starknet/controllers/contracts.py
  tests/integration/pure_cairo_vm/cheatcodes/declare_cairo0_cheatcode_test.py
  tests/integration/pure_cairo_vm/cheatcodes/declare_cairo0_cheatcode_test/basic_contract.cairo
  tests/integration/pure_cairo_vm/cheatcodes/declare_cairo0_cheatcode_test/broken_syntax_contract.cairo
  tests/integration/pure_cairo_vm/cheatcodes/declare_cairo0_cheatcode_test/declare_cairo0_test.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

Update Docusaurus to latest version
  website/package.json
  website/yarn.lock
Owners: @Arcticae

Update favicon
  website/docusaurus.config.js
  website/static/apple-touch-icon.png
  website/static/favicon.ico
  website/static/favicon.svg
  website/static/icon-192.png
  website/static/icon-512.png
  website/static/img/favicon.ico
  website/static/manifest.json
Owners: @Arcticae

Add social image
  website/docusaurus.config.js
  website/static/og-image.png
Owners: @Arcticae

Apply new branding colors
  website/src/components/HomepageFeature/HomepageFeature.tsx
  website/src/components/HomepageFeature/styles.module.css
  website/src/css/custom.css
  website/src/pages/index.tsx
Owners: @Arcticae

Update branding (#1651)
  README.md
  readme/protostar-logo--dark.svg
  readme/protostar-logo--light.svg
  website/docusaurus.config.js
  website/package.json
  website/src/components/HomepageFeature/HomepageFeature.tsx
  website/src/components/HomepageFeature/styles.module.css
  website/src/components/HomepageHeader/HomepageHeader.tsx
  website/src/components/HomepageHeader/styles.module.css
  website/src/components/StarIcon/StarIcon.tsx
  website/src/components/StarIcon/index.ts
  website/src/components/Stars/Stars.tsx
  website/src/components/index.ts
  website/src/css/custom.css
  website/src/pages/index.tsx
  website/src/theme/DocPage/Layout/Main/index.js
  website/static/apple-touch-icon.png
  website/static/favicon.ico
  website/static/favicon.svg
  website/static/icon-192.png
  website/static/icon-512.png
  website/static/img/favicon.ico
  website/static/img/protostar-logo--dark.png
  website/static/img/protostar-logo--light.png
  website/static/img/protostar-title--dark.svg
  website/static/img/protostar-title--light.svg
  website/static/img/protostar-wide--dark.svg
  website/static/img/protostar-wide--light.svg
  website/static/img/star--dark.png
  website/static/img/star--light.png
  website/static/manifest.json
  website/static/og-image.png
  website/yarn.lock
Owners: @MaksymilianDemitraszek, @Arcticae

init
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/deploy_test.cairo
Owners: @Arcticae

fix prepare
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
Owners: @Arcticae

init
  protostar/cairo/cairo_bindings.py
  protostar/cairo/cairo_function_runner_facade.py
  tests/integration/cairo1/builtins_test/test.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

camel -> title
  protostar/cairo/cairo_bindings.py
  protostar/cairo/cairo_function_runner_facade.py
Owners: @MaksymilianDemitraszek

Update deps, add devnet prerelease
  poetry.lock
  protostar/cheatable_starknet/cheatables/cheatable_syscall_handler.py
  pyproject.toml
Owners: @Arcticae, @MaksymilianDemitraszek

Fix builtins (#1655)
  protostar/cairo/cairo_bindings.py
  protostar/cairo/cairo_function_runner_facade.py
  tests/integration/cairo1/builtins_test/test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/deploy_test.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

Improved error messages
  protostar/cheatable_starknet/callable_hint_locals/declare_cairo0_hint_local.py
Owners: @MaksymilianDemitraszek

lint
  protostar/cheatable_starknet/callable_hint_locals/declare_cairo0_hint_local.py
Owners: @MaksymilianDemitraszek

Downgrade pylint, lint files
  poetry.lock
  protostar/cheatable_starknet/cheatables/cheatable_cached_state.py
  protostar/cheatable_starknet/cheatables/cheatable_execute_entry_point.py
  protostar/cheatable_starknet/controllers/contracts.py
  protostar/profiler/transaction_profiler_test.py
  protostar/starknet/cheatable_cached_state.py
  protostar/starknet/cheatable_execute_entry_point.py
  protostar/starknet/cheatable_invoke_function.py
  protostar/starknet/cheatable_syscall_handler.py
  protostar/starknet_gateway/account_manager.py
  protostar/testing/cheatcodes/declare_cheatcode.py
  pyproject.toml
  tests/integration/gateway/gateway_facade_test.py
Owners: @Arcticae, @MaksymilianDemitraszek, @Radinyn

Bump starkner.py, fix prepare_test address and add debug info
  poetry.lock
  pyproject.toml
  tests/integration/cheatcodes/prepare/prepare_test.cairo
Owners: @Arcticae

Revert "lint"
  protostar/cheatable_starknet/callable_hint_locals/declare_cairo0_hint_local.py
Owners: @MaksymilianDemitraszek

Revert "Improved error messages"
  protostar/cheatable_starknet/callable_hint_locals/declare_cairo0_hint_local.py
Owners: @MaksymilianDemitraszek

.github/CODEOWNERS:

* @Arcticae

/protostar @MaksymilianDemitraszek
/protostar/cli @Arcticae
/protostar/commands @Arcticae
/protostar/commands/declare @Arcticae @Radinyn
/protostar/commands/deploy @Arcticae @Radinyn
/protostar/commands/init @MaksymilianDemitraszek
/protostar/compiler @Arcticae
/protostar/configuration_file @Arcticae
/protostar/formatter @Radinyn
/protostar/git @Radinyn
/protostar/package_manager @Radinyn
/protostar/profiler @MaksymilianDemitraszek
/protostar/starknet @MaksymilianDemitraszek
/protostar/starknet_gateway @Arcticae @Radinyn
/protostar/testing/cheatcodes/load_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/cheatcodes/store_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/fuzzing @Radinyn
/protostar/upgrader @Arcticae

/website @Arcticae
/website/docs @MaksymilianDemitraszek
README.md @MaksymilianDemitraszek
/readme/ @MaksymilianDemitraszek
