Repository software-mansion/protostar, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arcticae, @kasperski95, @mkaput, @MaksymilianDemitraszek, @Radinyn

Update `mock_call` docs (#980)
  website/docs/tutorials/07-testing/02-cheatcodes/mock-call.md
Owners: @MaksymilianDemitraszek

fix type in the composition root
  protostar/composition_root.py
Owners: @kasperski95, @mkaput, @MaksymilianDemitraszek

fix types
  protostar/commands/test/test_command.py
  protostar/composition_root.py
  protostar/configuration_file/conftest.py
  protostar/testing/test_runner.py
  protostar/testing/test_scheduler.py
  tests/integration/conftest.py
  tests/integration/protostar_fixture.py
Owners: @mkaput, @kasperski95, @MaksymilianDemitraszek, @Arcticae

lint
  protostar/configuration_file/__init__.py
  protostar/configuration_file/conftest.py
  protostar/testing/test_runner.py
  tests/integration/project_compiler/project_compiler_test.py
Owners: @kasperski95, @mkaput, @MaksymilianDemitraszek, @Arcticae

fix integration tests
  protostar/configuration_file/configuration_file_factory.py
  tests/integration/protostar_fixture.py
Owners: @kasperski95, @Arcticae

fix
  protostar/compiler/project_cairo_path_builder.py
  protostar/configuration_file/configuration_file_factory.py
Owners: @kasperski95

fix tests
  protostar/configuration_file/configuration_file_factory_test.py
  protostar/configuration_file/configuration_file_v2_migrator.py
Owners: @kasperski95

add giscus-react
  website/package.json
  website/yarn.lock
Owners: @kasperski95

update docusaurus
  website/package.json
  website/yarn.lock
Owners: @kasperski95

make giscus work
  website/package.json
  website/src/theme/DocPage/Layout/Main/index.js
Owners: @kasperski95

refine
  website/src/theme/DocPage/Layout/Main/index.js
Owners: @kasperski95

remove reactions
  website/src/theme/DocPage/Layout/Main/index.js
Owners: @kasperski95

remove giscus
  website/package.json
  website/src/theme/DocPage/Layout/Main/index.js
Owners: @kasperski95

Revert "remove giscus"
  website/package.json
  website/src/theme/DocPage/Layout/Main/index.js
Owners: @kasperski95

Removed file
  profile.pb.gz
Owners: @Arcticae, @kasperski95

Changes
  website/docs/tutorials/09-profiling.md
Owners: @MaksymilianDemitraszek

Collocate images
  website/docs/tutorials/09-profiling.md
  website/docs/tutorials/prof1.jpg
  website/docs/tutorials/prof2.jpg
  website/docs/tutorials/prof3.jpg
Owners: @MaksymilianDemitraszek

imp
  website/docs/tutorials/09-profiling.md
Owners: @MaksymilianDemitraszek

fix, to png, trim
  website/docs/tutorials/09-profiling.md
  website/docs/tutorials/prof1.jpg
  website/docs/tutorials/prof1.png
  website/docs/tutorials/prof2.jpg
  website/docs/tutorials/prof2.png
  website/docs/tutorials/prof3.jpg
  website/docs/tutorials/prof3.png
Owners: @MaksymilianDemitraszek

Purge traces of benchmarks from the project
  .github/workflows/checks.yml
  poetry.lock
  pyproject.toml
Owners: @Arcticae, @kasperski95

Fixes
  website/docs/tutorials/09-profiling.md
Owners: @MaksymilianDemitraszek

Purge traces of benchmarks from the project (#1009)
  .github/workflows/checks.yml
  poetry.lock
  pyproject.toml
Owners: @Arcticae, @kasperski95

Update Docusaurus (#1010)
  website/package.json
  website/yarn.lock
Owners: @kasperski95

change category
  website/src/theme/DocPage/Layout/Main/index.js
Owners: @kasperski95

connect lang
  website/src/theme/DocPage/Layout/Main/index.js
Owners: @kasperski95

Docs for Profiling (#984)
  website/docs/tutorials/09-profiling.md
  website/docs/tutorials/prof1.png
  website/docs/tutorials/prof2.png
  website/docs/tutorials/prof3.png
Owners: @MaksymilianDemitraszek

connecting
  protostar/compiler/project_compiler.py
  protostar/composition_root.py
  protostar/testing/test_runner.py
Owners: @kasperski95, @mkaput, @MaksymilianDemitraszek

Unify max-fee interfaces across commands and cheatcodes (#979)
  protostar/migrator/cheatcodes/migrator_invoke_cheatcode.py
  protostar/starknet_gateway/gateway_facade.py
  tests/e2e/test_migrating/migration_signed_invokes.cairo
  tests/integration/migrator/migrator_invoke_cheatcode_test.py
  website/docs/tutorials/06-deploying/02-migrations/invoke.md
Owners: @Arcticae, @kasperski95, @Radinyn, @MaksymilianDemitraszek

use margin
  website/src/theme/DocPage/Layout/Main/index.js
Owners: @kasperski95

fix unify max-fee
  protostar/commands/invoke_command.py
Owners: @kasperski95, @mkaput

Fix unify max-fee (#1015)
  protostar/commands/invoke_command.py
Owners: @kasperski95, @mkaput

make the message more generic
  protostar/commands/install/install_command.py
  protostar/configuration_file/configuration_file.py
Owners: @kasperski95, @mkaput

little fixes
  protostar/commands/install/install_command.py
Owners: @kasperski95, @mkaput

suggest to add cairo path
  protostar/commands/install/install_command.py
Owners: @kasperski95, @mkaput

move suggesting function to the ConfigurationFile
  protostar/commands/install/install_command.py
  protostar/configuration_file/configuration_file.py
Owners: @kasperski95, @mkaput

Redesigning `protostar.toml` 11 — Rolling integration — `ProjectCairoPathBuilder` (#949)
  protostar/commands/test/test_command.py
  protostar/compiler/project_cairo_path_builder.py
  protostar/composition_root.py
  protostar/configuration_file/__init__.py
  protostar/configuration_file/configuration_file.py
  protostar/configuration_file/configuration_file_factory.py
  protostar/configuration_file/configuration_file_factory_test.py
  protostar/configuration_file/configuration_file_v2.py
  protostar/configuration_file/configuration_file_v2_migrator.py
  protostar/configuration_file/configuration_file_v2_test.py
  protostar/configuration_file/conftest.py
  protostar/configuration_file/fake_configuration_file.py
  protostar/testing/test_runner.py
  protostar/testing/test_scheduler.py
  tests/integration/conftest.py
  tests/integration/project_compiler/project_compiler_test.py
  tests/integration/protostar_fixture.py
Owners: @mkaput, @kasperski95, @MaksymilianDemitraszek, @Arcticae

Add Giscus — discussions bellow docs (#1011)
  website/package.json
  website/src/theme/DocPage/Layout/Main/index.js
Owners: @kasperski95

Bump starknet.py and devnet
  poetry.lock
  pyproject.toml
Owners: @Arcticae, @kasperski95

Do not lit a fire so much in some cheatcodes docs
  website/docs/tutorials/07-testing/02-cheatcodes/example.md
  website/docs/tutorials/07-testing/02-cheatcodes/given.md
  website/docs/tutorials/07-testing/02-cheatcodes/max-examples.md
Owners: @MaksymilianDemitraszek

Bump the ref of devnet
  poetry.lock
  pyproject.toml
Owners: @Arcticae, @kasperski95

.github/CODEOWNERS:

* @Arcticae @kasperski95

/protostar @kasperski95 @mkaput @MaksymilianDemitraszek
/protostar/cli @kasperski95
/protostar/commands @kasperski95 @mkaput
/protostar/commands/deploy @Arcticae @kasperski95 @Radinyn
/protostar/commands/declare @Arcticae @kasperski95 @Radinyn
/protostar/commands/init @kasperski95 @MaksymilianDemitraszek
/protostar/commands/migrate @Arcticae @kasperski95 @Radinyn
/protostar/commands/test @mkaput @kasperski95
/protostar/commands/test/fuzzing @mkaput
/protostar/testing/fuzzing @mkaput
/protostar/compiler @kasperski95
/protostar/migrator @Arcticae @kasperski95 @Radinyn
/protostar/formatter @Radinyn
/protostar/protostar_toml @kasperski95
/protostar/configuration_file @kasperski95
/protostar/starknet @MaksymilianDemitraszek
/protostar/profiler @MaksymilianDemitraszek
/protostar/testing/cheatcodes/load_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/cheatcodes/store_cheatcode.py @MaksymilianDemitraszek
/protostar/starknet_gateway @Arcticae @kasperski95 @Radinyn
/protostar/upgrader @kasperski95
/protostar/git @Radinyn
/protostar/package_manager @kasperski95 @Radinyn

/website @kasperski95
/website/docs @MaksymilianDemitraszek
README.md @MaksymilianDemitraszek
/readme/ @MaksymilianDemitraszek
