Repository software-mansion/protostar, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arcticae, @MaksymilianDemitraszek, @Radinyn

.github/CODEOWNERS:

* @Arcticae

/protostar @MaksymilianDemitraszek
/protostar/cli @Arcticae
/protostar/commands @Arcticae
/protostar/commands/declare @Arcticae @Radinyn
/protostar/commands/deploy @Arcticae @Radinyn
/protostar/commands/init @MaksymilianDemitraszek
/protostar/compiler @Arcticae
/protostar/configuration_file @Arcticae
/protostar/formatter @Radinyn
/protostar/git @Radinyn
/protostar/package_manager @Radinyn
/protostar/profiler @MaksymilianDemitraszek
/protostar/starknet @MaksymilianDemitraszek
/protostar/starknet_gateway @Arcticae @Radinyn
/protostar/testing/cheatcodes/load_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/cheatcodes/store_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/fuzzing @Radinyn
/protostar/upgrader @Arcticae

/website @Arcticae
/website/docs @MaksymilianDemitraszek
README.md @MaksymilianDemitraszek
/readme/ @MaksymilianDemitraszek

split complex tests
  tests/e2e/cairo1/test_building.py
  tests/e2e/test_building.py
Owners: @Arcticae

fix cli reference
  website/docs/cli-reference.md
Owners: @MaksymilianDemitraszek

add a separate method for compiling a single contract
  protostar/commands/cairo1_commands/build_cairo1_command.py
  protostar/compiler/project_compiler.py
Owners: @Arcticae

add asserts
  tests/e2e/cairo_0_1_mixed/test_building.py
Owners: @Arcticae

add default to contract_name argument
  protostar/cli/common_arguments.py
  protostar/commands/build_command.py
  protostar/commands/cairo1_commands/build_cairo1_command.py
Owners: @Arcticae

fix the fixtures
  tests/e2e/cairo1/test_building.py
  tests/e2e/cairo1/test_cairo1_testing.py
  tests/e2e/fixtures/cairo1_modules/protostar.toml
  tests/e2e/fixtures/cairo1_modules/src/cairo_project.toml
  tests/e2e/fixtures/cairo1_modules/src/lib.cairo
  tests/e2e/fixtures/cairo1_modules/src/mod1_cairo1.cairo
  tests/e2e/fixtures/cairo1_modules/src/mod1_cairo1/mod1_code.cairo
  tests/e2e/fixtures/cairo1_modules/src/mod2_cairo1.cairo
  tests/e2e/fixtures/cairo1_modules/src/mod2_cairo1/mod2_code.cairo
  tests/e2e/fixtures/cairo1_modules/tests/test_main.cairo
Owners: @Arcticae

fix namespace bug
  protostar/commands/build_command.py
  protostar/commands/cairo1_commands/build_cairo1_command.py
Owners: @Arcticae

working for cairo0 + cairo1
  protostar/cli/common_arguments.py
  protostar/commands/build_command.py
  protostar/commands/cairo1_commands/build_cairo1_command.py
  protostar/commands/test/test_command.py
  protostar/compiler/project_compiler.py
  tests/e2e/cairo1/test_building.py
  tests/e2e/fixtures/cairo_0_1_mixed/protostar.toml
  tests/e2e/fixtures/cairo_0_1_mixed/src/basic2_cairo0.cairo
  tests/e2e/fixtures/cairo_0_1_mixed/src/basic_cairo0.cairo
  tests/e2e/fixtures/cairo_0_1_mixed/src/calculate_cairo1.cairo
  tests/e2e/fixtures/cairo_0_1_mixed/src/do_nothing_cairo1.cairo
  tests/e2e/fixtures/cairo_0_1_mixed/src/main.cairo
  tests/e2e/test_building.py
Owners: @Arcticae

remove redundant test
  tests/e2e/cairo_0_1_mixed/test_building.py
Owners: @Arcticae

fix ci
  protostar/commands/build_command.py
  tests/e2e/cairo1/test_cairo1_building.py
  tests/e2e/cairo_0_1_mixed/test_cairo_0_1_mixed_building.py
  tests/integration/_conftest/protostar_fixture.py
Owners: @Arcticae

Add declare_legacy from cairo1 test
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/declare_legacy_test.cairo
Owners: @Arcticae

Added first draft
  design_docs/img/diagram.png
  design_docs/protostar-architecture.md
Owners: @Arcticae

Add an elif
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
Owners: @Arcticae

Add contract name option to the build command (#1612)
  protostar/cli/common_arguments.py
  protostar/commands/build_command.py
  protostar/commands/cairo1_commands/build_cairo1_command.py
  protostar/commands/test/test_command.py
  protostar/compiler/project_compiler.py
  tests/e2e/cairo1/test_cairo1_building.py
  tests/e2e/cairo1/test_cairo1_testing.py
  tests/e2e/cairo_0_1_mixed/test_cairo_0_1_mixed_building.py
  tests/e2e/fixtures/cairo1_modules/protostar.toml
  tests/e2e/fixtures/cairo1_modules/src/cairo_project.toml
  tests/e2e/fixtures/cairo1_modules/src/lib.cairo
  tests/e2e/fixtures/cairo1_modules/src/mod1_cairo1.cairo
  tests/e2e/fixtures/cairo1_modules/src/mod1_cairo1/mod1_code.cairo
  tests/e2e/fixtures/cairo1_modules/src/mod2_cairo1.cairo
  tests/e2e/fixtures/cairo1_modules/src/mod2_cairo1/mod2_code.cairo
  tests/e2e/fixtures/cairo1_modules/tests/test_main.cairo
  tests/e2e/fixtures/cairo_0_1_mixed/src/basic2_cairo0.cairo
  tests/e2e/fixtures/cairo_0_1_mixed/src/basic_cairo0.cairo
  tests/e2e/fixtures/cairo_0_1_mixed/src/calculate_cairo1.cairo
  tests/e2e/fixtures/cairo_0_1_mixed/src/do_nothing_cairo1.cairo
  tests/e2e/fixtures/cairo_0_1_mixed/src/main.cairo
  tests/integration/_conftest/protostar_fixture.py
  website/docs/cli-reference.md
Owners: @Arcticae, @MaksymilianDemitraszek

Reduce repetitions in mocks creation
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
Owners: @Arcticae

Use LinkedLibrariesBuilder in create_protostar_fixture when creating TestCommand (#1610)
  tests/integration/_conftest/protostar_fixture_factory.py
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test.py
Owners: @Arcticae

Avoid excessive testing of values
  tests/integration/fuzzing/parameterized_test.cairo
Owners: @Arcticae

Stop wrapping hypothesis in sync, make the test function sync instead. Add a negative case.
  protostar/testing/environments/fuzz_test_execution_environment.py
  tests/integration/fuzzing/fuzzing_test.py
  tests/integration/fuzzing/parameterized_test.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

black .
  protostar/testing/environments/fuzz_test_execution_environment.py
Owners: @MaksymilianDemitraszek

not sure if it is supposed to be done this way, but works
  protostar/testing/environments/fuzz_test_execution_environment.py
Owners: @MaksymilianDemitraszek

Use module instead of importing
  protostar/testing/environments/fuzz_test_execution_environment.py
Owners: @MaksymilianDemitraszek

added wrapped_test_thread to await for test_thread
  protostar/testing/environments/fuzz_test_execution_environment.py
Owners: @MaksymilianDemitraszek

assertion outside of hints
  tests/integration/fuzzing/parameterized_test.cairo
Owners: @Arcticae

Update parameterized_test.cairo
  tests/integration/fuzzing/parameterized_test.cairo
Owners: @Arcticae

Update fuzzing_test.py
  tests/integration/fuzzing/fuzzing_test.py
Owners: @Arcticae

Fix the example cheatcode (#1583)
  protostar/testing/environments/fuzz_test_execution_environment.py
  tests/integration/fuzzing/fuzzing_test.py
  tests/integration/fuzzing/parameterized_test.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

Rename cheatcode to declare_cairo0
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/declare_cairo0_test.cairo
Owners: @Arcticae

init
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/deploy_test.cairo
Owners: @Arcticae

updates
  design_docs/protostar-architecture.md
Owners: @Arcticae

wip
  protostar/commands/cairo1_commands/fetch_from_scarb.py
Owners: @Arcticae

Move old declare logic to `declare_cairo0`
  protostar/cairo/short_string.py
  protostar/cairo_testing/cairo_hint_local_factory.py
  protostar/cheatable_starknet/callable_hint_locals/__init__.py
  protostar/cheatable_starknet/callable_hint_locals/declare_cairo0_hint_local.py
  protostar/cheatable_starknet/callable_hint_locals/deploy_contract_hint_local.py
  protostar/cheatable_starknet/cheatables/cheatable_cached_state.py
  protostar/cheatable_starknet/controllers/contracts.py
  tests/integration/pure_cairo_vm/cheatcodes/declare_cairo0_cheatcode_test.py
  tests/integration/pure_cairo_vm/cheatcodes/declare_cairo0_cheatcode_test/basic_contract.cairo
  tests/integration/pure_cairo_vm/cheatcodes/declare_cairo0_cheatcode_test/declare_cairo0_test.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

Update types
  protostar/cheatable_starknet/callable_hint_locals/declare_cairo0_hint_local.py
Owners: @MaksymilianDemitraszek

Update types on DeployContract
  protostar/cheatable_starknet/callable_hint_locals/deploy_contract_hint_local.py
Owners: @MaksymilianDemitraszek

Fix deploy tests (#1632)
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/deploy_test.cairo
Owners: @Arcticae

init
  protostar/commands/cairo1_commands/test_cairo1_command.py
Owners: @Arcticae

make imports absolute
  protostar/commands/cairo1_commands/test_cairo1_command.py
Owners: @Arcticae

fdbck
  protostar/commands/cairo1_commands/test_cairo1_command.py
Owners: @Arcticae

init
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/prepare_test.cairo
Owners: @Arcticae

fix deploy tests
  tests/integration/cairo1_compiler_bindings/library_functions_test/deploy_test.cairo
Owners: @Arcticae

Update design_docs/protostar-architecture.md
  design_docs/protostar-architecture.md
Owners: @Arcticae
