Repository software-mansion/protostar, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arcticae, @kasperski95, @mkaput, @MaksymilianDemitraszek, @Radinyn

.github/CODEOWNERS:

* @Arcticae @kasperski95

/protostar @kasperski95 @mkaput @MaksymilianDemitraszek
/protostar/cli @kasperski95
/protostar/commands @kasperski95 @mkaput
/protostar/commands/declare @Arcticae @kasperski95 @Radinyn
/protostar/commands/deploy @Arcticae @kasperski95 @Radinyn
/protostar/commands/init @kasperski95 @MaksymilianDemitraszek
/protostar/commands/migrate @Arcticae @kasperski95 @Radinyn
/protostar/commands/test @mkaput @kasperski95
/protostar/commands/test/fuzzing @mkaput
/protostar/compiler @kasperski95
/protostar/configuration_file @kasperski95
/protostar/formatter @Radinyn
/protostar/git @Radinyn
/protostar/migrator @Arcticae @kasperski95 @Radinyn
/protostar/package_manager @kasperski95 @Radinyn
/protostar/profiler @MaksymilianDemitraszek
/protostar/protostar_toml @kasperski95
/protostar/scripting @mkaput
/protostar/scripting_runtime @mkaput
/protostar/starknet @MaksymilianDemitraszek
/protostar/starknet_gateway @Arcticae @kasperski95 @Radinyn
/protostar/testing/cheatcodes/load_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/cheatcodes/store_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/fuzzing @mkaput
/protostar/upgrader @kasperski95

/website @kasperski95
/website/docs @MaksymilianDemitraszek
README.md @MaksymilianDemitraszek
/readme/ @MaksymilianDemitraszek

Removed unused
  protostar/profiler/contract_profiler.py
Owners: @MaksymilianDemitraszek

lint
  protostar/profiler/contract_profiler.py
Owners: @MaksymilianDemitraszek

refine `create_protostar_project_fixture`
  tests/integration/conftest.py
  tests/integration/protostar_fixture.py
Owners: @Arcticae, @kasperski95

fix types
  tests/integration/gateway/gateway_facade_test.py
Owners: @Arcticae, @kasperski95

Redesigning `protostar.toml` 12 — Rolling integration — `ProjectCompiler` (#1029)
  protostar/compiler/project_compiler.py
  protostar/composition_root.py
  protostar/configuration_file/configuration_file_factory.py
  protostar/configuration_file/fake_configuration_file.py
  protostar/testing/test_runner.py
  tests/integration/conftest.py
  tests/integration/gateway/gateway_facade_test.py
  tests/integration/project_compiler/project_compiler_test.py
  tests/integration/protostar_fixture.py
Owners: @kasperski95, @mkaput, @MaksymilianDemitraszek, @Arcticae

wip
  protostar/testing/fuzzing/strategies/uint256.py
  protostar/testing/fuzzing/strategy_inference.py
  tests/integration/fuzzing_strategies/uint256_test.cairo
Owners: @mkaput, @Arcticae, @kasperski95

integrate configuration file with the install command
  protostar/commands/install/install_command.py
  protostar/composition_root.py
Owners: @kasperski95, @mkaput, @MaksymilianDemitraszek

use configuration file in the remove command
  protostar/commands/remove/remove_command.py
  protostar/composition_root.py
Owners: @kasperski95, @mkaput, @MaksymilianDemitraszek

connect to update_command
  protostar/commands/update/update_command.py
  protostar/composition_root.py
Owners: @kasperski95, @mkaput, @MaksymilianDemitraszek

lint
  protostar/commands/remove/remove_command.py
  protostar/composition_root.py
Owners: @kasperski95, @mkaput, @MaksymilianDemitraszek

format
  protostar/composition_root.py
Owners: @kasperski95, @mkaput, @MaksymilianDemitraszek

Optimize profiler, bump limit (#1036)
  protostar/profiler/contract_profiler.py
  protostar/testing/test_shared_tests_state.py
Owners: @MaksymilianDemitraszek, @kasperski95, @mkaput

Suggest adding cairo-path to the protostar.toml after adding a package (#981)
  protostar/commands/install/install_command.py
  protostar/configuration_file/configuration_file.py
Owners: @kasperski95, @mkaput

implement and change tests accordignly
  protostar/testing/environments/fuzz_test_execution_environment.py
  tests/integration/fuzzing/fuzzing_test.py
  tests/integration/fuzzing/parameterized_test.cairo
Owners: @kasperski95, @mkaput, @MaksymilianDemitraszek, @Arcticae

update docs
  website/docs/tutorials/07-testing/02-cheatcodes/example.md
  website/docs/tutorials/07-testing/02-cheatcodes/given.md
Owners: @MaksymilianDemitraszek

refactor fuzzing tutorial
  website/docs/tutorials/07-testing/03-fuzzing/README.md
Owners: @MaksymilianDemitraszek

revert adjusting fuzzing quality
  website/docs/tutorials/07-testing/03-fuzzing/README.md
Owners: @MaksymilianDemitraszek

docs updates
  website/docs/tutorials/07-testing/03-fuzzing/README.md
  website/docs/tutorials/07-testing/03-fuzzing/strategies.md
Owners: @MaksymilianDemitraszek

remove todo comment
  protostar/testing/environments/fuzz_test_execution_environment.py
Owners: @kasperski95, @mkaput, @MaksymilianDemitraszek

Update protostar/testing/environments/fuzz_test_execution_environment.py
  protostar/testing/environments/fuzz_test_execution_environment.py
Owners: @kasperski95, @mkaput, @MaksymilianDemitraszek

modify cairo test style
  tests/integration/fuzzing/fuzzing_test.py
  tests/integration/fuzzing/parameterized_test.cairo
Owners: @Arcticae, @kasperski95

update the fuzzing tutorial
  website/docs/tutorials/07-testing/03-fuzzing/README.md
  website/docs/tutorials/07-testing/03-fuzzing/strategies.md
Owners: @MaksymilianDemitraszek

Update tests/integration/fuzzing/fuzzing_test.py
  tests/integration/fuzzing/fuzzing_test.py
Owners: @Arcticae, @kasperski95

remove sentence
  website/docs/tutorials/07-testing/03-fuzzing/strategies.md
Owners: @MaksymilianDemitraszek

docs
  website/docs/tutorials/07-testing/02-cheatcodes/given.md
  website/docs/tutorials/07-testing/03-fuzzing/strategies.md
Owners: @MaksymilianDemitraszek

Update tests/integration/fuzzing/fuzzing_test.py
  tests/integration/fuzzing/fuzzing_test.py
Owners: @Arcticae, @kasperski95

Update website/docs/tutorials/07-testing/02-cheatcodes/given.md
  website/docs/tutorials/07-testing/02-cheatcodes/given.md
Owners: @MaksymilianDemitraszek

Address direct comments
  protostar/testing/environments/fuzz_test_execution_environment.py
  website/docs/tutorials/07-testing/02-cheatcodes/example.md
  website/docs/tutorials/07-testing/02-cheatcodes/given.md
  website/docs/tutorials/07-testing/03-fuzzing/strategies.md
Owners: @kasperski95, @mkaput, @MaksymilianDemitraszek

Update website/docs/tutorials/07-testing/03-fuzzing/README.md
  website/docs/tutorials/07-testing/03-fuzzing/README.md
Owners: @MaksymilianDemitraszek
