Repository software-mansion/protostar, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arcticae, @MaksymilianDemitraszek, @Radinyn

.github/CODEOWNERS:

* @Arcticae

/protostar @MaksymilianDemitraszek
/protostar/cli @Arcticae
/protostar/commands @Arcticae
/protostar/commands/declare @Arcticae @Radinyn
/protostar/commands/deploy @Arcticae @Radinyn
/protostar/commands/init @MaksymilianDemitraszek
/protostar/compiler @Arcticae
/protostar/configuration_file @Arcticae
/protostar/formatter @Radinyn
/protostar/git @Radinyn
/protostar/package_manager @Radinyn
/protostar/profiler @MaksymilianDemitraszek
/protostar/starknet @MaksymilianDemitraszek
/protostar/starknet_gateway @Arcticae @Radinyn
/protostar/testing/cheatcodes/load_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/cheatcodes/store_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/fuzzing @Radinyn
/protostar/upgrader @Arcticae

/website @Arcticae
/website/docs @MaksymilianDemitraszek
README.md @MaksymilianDemitraszek
/readme/ @MaksymilianDemitraszek

rename stop expect call => assert expect call
  protostar/cairo_testing/cairo_hint_local_factory.py
  protostar/cheatable_starknet/callable_hint_locals/__init__.py
  protostar/cheatable_starknet/callable_hint_locals/assert_expect_call_hint_local.py
  tests/integration/pure_cairo_vm/cheatcodes/expect_call/expect_call_test.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

add hint local
  protostar/cheatable_starknet/callable_hint_locals/stop_expect_call_hint_local.py
  protostar/cheatable_starknet/controllers/expect_call_controller.py
Owners: @MaksymilianDemitraszek

adapt
  protostar/cairo_testing/cairo_hint_local_factory.py
  protostar/cheatable_starknet/callable_hint_locals/__init__.py
  protostar/cheatable_starknet/controllers/expect_call_controller.py
Owners: @MaksymilianDemitraszek

fix naming
  protostar/cheatable_starknet/callable_hint_locals/assert_expect_call_hint_local.py
  protostar/cheatable_starknet/controllers/expect_call_controller.py
  tests/integration/pure_cairo_vm/cheatcodes/expect_call/expect_call_cairo_cheatcode_test.py
  tests/integration/pure_cairo_vm/cheatcodes/expect_call/expect_call_test.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

fix typo
  protostar/cheatable_starknet/callable_hint_locals/stop_expect_call_hint_local.py
  protostar/cheatable_starknet/controllers/expect_call_controller.py
Owners: @MaksymilianDemitraszek

add tests
  tests/integration/pure_cairo_vm/cheatcodes/expect_call/expect_call_cairo_cheatcode_test.py
  tests/integration/pure_cairo_vm/cheatcodes/expect_call/expect_call_test.cairo
Owners: @Arcticae

fix ci
  tests/integration/cairo1_compiler_bindings/tests_collector_and_compiler_test.py
Owners: @Arcticae

cairo1 parser test for start_prank and declare (#1507)
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/declare_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/roll_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/start_prank_test.cairo
  tests/integration/cairo1_compiler_bindings/parser_test.py
  tests/integration/cairo1_compiler_bindings/parser_test/compiled_test_suite.json
  tests/integration/cairo1_compiler_bindings/tests_collector_and_compiler_test.py
Owners: @Arcticae

Cairo1 as a submodule (#1518)
  .gitmodules
  protostar.spec
  protostar_cairo/protostar/_utils.cairo
  protostar_cairo/protostar/asserts.cairo
  scripts/install_cairo_bindings.sh
  tests/integration/asserts/asserts_test.py
Owners: @Arcticae

WIP support for cairo1 runner
  protostar/cairo/cairo1_test_suite_parser.py
  protostar/cairo/cairo_function_executor.py
  protostar/cairo_testing/cairo1_test_collector.py
  protostar/cairo_testing/cairo1_test_runner_adapter.py
  protostar/cairo_testing/cairo_injectable_function_runner.py
  protostar/cairo_testing/cairo_test_runner.py
  protostar/cairo_testing/execution_environments/cairo_execution_environment.py
  protostar/cairo_testing/execution_environments/cairo_setup_case_execution_environment.py
  protostar/cairo_testing/execution_environments/cairo_setup_execution_environment.py
  protostar/cairo_testing/execution_environments/cairo_test_execution_environment.py
  protostar/commands/test/test_command.py
  protostar/self/protostar_directory.py
  protostar/self/protostar_directory_test.py
  protostar/testing/environments/contract_based_test_execution_environment.py
  protostar/testing/environments/fuzz_test_execution_environment.py
  protostar/testing/environments/setup_case_execution_environment.py
  protostar/testing/environments/setup_execution_environment.py
  protostar/testing/test_case_runners/cairo1_test_case_runner.py
  protostar/testing/test_suite.py
  protostar_cairo/cairo_project.toml
  scripts/install_cairo_bindings.sh
  tests/integration/_conftest/protostar_fixture.py
  tests/integration/_conftest/protostar_fixture_factory.py
  tests/integration/cairo1/parser_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/tests_collector_and_compiler_test.py
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test.py
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_test.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

Revert changes from bindings installation. Add a __eq__ method for `TestCase`
  protostar/testing/test_suite.py
  scripts/install_cairo_bindings.sh
Owners: @MaksymilianDemitraszek, @Arcticae

updated docs with info about possible usage of decimal representation of address and private key, moved common commands' args to common_arguments
  protostar/cli/common_arguments.py
  protostar/commands/call/call_command.py
  protostar/commands/declare_command.py
  protostar/commands/deploy_command.py
  protostar/commands/invoke/invoke_command.py
  website/docs/cli-reference.md
  website/docs/tutorials/08-interacting-with-starknet/01-invoke.md
  website/docs/tutorials/08-interacting-with-starknet/06-signing.md
Owners: @Arcticae, @MaksymilianDemitraszek

Fixed typo
  protostar/cli/signable_command_util.py
Owners: @Arcticae

Bump protostar cairo to newest commit
  scripts/install_cairo_bindings.sh
Owners: @Arcticae

Fix installation procedure for cairo bindings (#1523)
  scripts/install_cairo_bindings.sh
Owners: @Arcticae

Fixes
  protostar/cairo/cairo1_test_suite_parser.py
  protostar/cairo_testing/cairo1_test_collector.py
  protostar/cairo_testing/cairo_injectable_function_runner.py
  protostar/testing/test_suite.py
  protostar_cairo/protostar/lib.cairo
  tests/integration/cairo1/parser_test.py
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test.py
  tests/integration/pure_cairo_vm/cairo1_integration/test_cairo1.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

Add cairo bindings installation step in build procedure
  .github/workflows/build_binaries.yml
Owners: @Arcticae

Catch wrong value of private key (#1516)
  README.md
  protostar/cli/common_arguments.py
  protostar/cli/signable_command_util.py
  protostar/cli/signable_command_util_test.py
  protostar/commands/call/call_command.py
  protostar/commands/declare_command.py
  protostar/commands/deploy_command.py
  protostar/commands/invoke/invoke_command.py
  website/docs/cli-reference.md
  website/docs/tutorials/08-interacting-with-starknet/01-invoke.md
  website/docs/tutorials/08-interacting-with-starknet/06-signing.md
Owners: @MaksymilianDemitraszek, @Arcticae

Try activating the venv for build procedure
  .github/workflows/build_binaries.yml
Owners: @Arcticae

Fail the bindings installation if install function fails. Run a poe job instead of a script.
  .github/workflows/build_binaries.yml
  .github/workflows/builds_on_mac.yml
  scripts/install_cairo_bindings.sh
Owners: @Arcticae

Beep boop
  .github/workflows/builds_on_mac.yml
Owners: @Arcticae

Remove poetry shell
  .github/workflows/builds_on_mac.yml
Owners: @Arcticae

Create a venv in builds on mac
  .github/workflows/builds_on_mac.yml
Owners: @Arcticae

Try to introduce a production build procedure for macs
  .github/workflows/builds_on_mac.yml
  scripts/install_cairo_bindings.sh
Owners: @Arcticae

Updated readme
  README.md
Owners: @MaksymilianDemitraszek

Updated tests
  tests/integration/cairo1_compiler_bindings/library_functions_test/roll_test.cairo
Owners: @Arcticae

Modify installation procedures
  .github/workflows/checks.yml
  scripts/install_cairo_bindings.sh
Owners: @Arcticae

Modify installation procedure flow
  .github/workflows/checks.yml
  scripts/install_cairo_bindings.sh
Owners: @Arcticae

Updated tests
  tests/integration/cairo1_compiler_bindings/tests_collector_and_compiler_test/roll_test.cairo
Owners: @Arcticae

Add running the test function by offset
  protostar/cairo_testing/cairo_injectable_function_runner.py
Owners: @MaksymilianDemitraszek

Add assert expect call hint local (#1501)
  protostar/cairo_testing/cairo_hint_local_factory.py
  protostar/cheatable_starknet/callable_hint_locals/__init__.py
  protostar/cheatable_starknet/callable_hint_locals/assert_expect_call_hint_local.py
  protostar/cheatable_starknet/controllers/expect_call_controller.py
  tests/integration/pure_cairo_vm/cheatcodes/expect_call/expect_call_cairo_cheatcode_test.py
  tests/integration/pure_cairo_vm/cheatcodes/expect_call/expect_call_test.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

Update README.md
  README.md
Owners: @MaksymilianDemitraszek

Address TODOs, link issues
  protostar/cairo/cairo1_test_suite_parser.py
  protostar/cairo/cairo_bindings.py
  protostar/cairo_testing/cairo1_test_runner_adapter.py
  protostar/self/protostar_directory.py
Owners: @MaksymilianDemitraszek

Fixed hash
  scripts/install_cairo_bindings.sh
Owners: @Arcticae

Removed unnecessary script part
  scripts/install_cairo_bindings.sh
Owners: @Arcticae

Removed update
  scripts/install_cairo_bindings.sh
Owners: @Arcticae

Updated repo
  protostar/__init__.py
  protostar/cheatable_starknet/cheatables/cheatable_execute_entry_point.py
  protostar/cheatable_starknet/cheatables/cheatable_syscall_handler.py
  protostar/cheatable_starknet/controllers/contracts.py
  protostar/compiler/compiled_contract_writer.py
  protostar/compiler/compiled_contract_writer_test.py
  protostar/compiler/project_compiler.py
  protostar/starknet/cheatable_cached_state.py
  protostar/starknet/cheatable_execute_entry_point.py
  protostar/starknet/cheatable_invoke_function.py
  protostar/starknet/cheatable_state.py
  protostar/starknet/cheatable_syscall_handler.py
  protostar/starknet/cheatcode.py
  protostar/starknet/forkable_starknet.py
  protostar/starknet/starknet_compiler.py
  protostar/testing/cheatcodes/deploy_cheatcode.py
  protostar/testing/cheatcodes/send_message_to_l2.py
  protostar/testing/starkware/contract_utils.py
  protostar/testing/test_runner.py
  tests/conftest.py
Owners: @MaksymilianDemitraszek, @Arcticae

Update roll tests (#1524)
  README.md
  scripts/install_cairo_bindings.sh
  tests/integration/cairo1_compiler_bindings/library_functions_test/roll_test.cairo
  tests/integration/cairo1_compiler_bindings/tests_collector_and_compiler_test/roll_test.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

Added Cairo1 `warp` test
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/warp_test.cairo
Owners: @Arcticae

Added Cairo1 `warp` test (#1528)
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/warp_test.cairo
Owners: @Arcticae
