Repository software-mansion/protostar, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arcticae, @MaksymilianDemitraszek, @Radinyn

Add documentation examples of handling panics
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/call.md
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/deploy.md
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/invoke.md
Owners: @MaksymilianDemitraszek

Add more elaborate message in e2e testing scenario
  tests/e2e/cairo1/test_cairo1_testing.py
  tests/e2e/fixtures/cairo1/failing_test.cairo
Owners: @Arcticae

Logic adjustments
  protostar/cheatable_starknet/callable_hint_locals/callable_hint_local.py
  protostar/cheatable_starknet/callable_hint_locals/deploy_hint_local.py
  protostar/cheatable_starknet/controllers/transaction_revert_exception.py
  tests/e2e/cairo1/test_cairo1_testing.py
  tests/integration/cairo1/compiler_bindings/library_functions_test.py
  tests/integration/cairo1/compiler_bindings/library_functions_test/call_test.cairo
  tests/integration/cairo1/compiler_bindings/library_functions_test/deploy_test.cairo
  tests/integration/cairo1/compiler_bindings/library_functions_test/invoke_test.cairo
  tests/integration/cairo1/hint_locals/deploy_contract_cairo0/deploy_contract_cairo0_test.cairo
  tests/integration/cairo1/hint_locals/deploy_contract_cairo0/test_deploy_contract_cairo0.py
  tests/integration/cairo1/hint_locals/invoke/invoke_test.cairo
  tests/integration/cairo1_hint_locals/call/call_test.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

Fix expected collected lines
  tests/e2e/cairo1/test_cairo1_testing.py
Owners: @Arcticae

Correct e2e test assertions
  tests/e2e/cairo1/test_cairo1_testing.py
Owners: @Arcticae

Update tests/integration/cairo1_hint_locals/call/data/panicking_contract/lib.cairo
  tests/integration/cairo1_hint_locals/call/data/panicking_contract/lib.cairo
Owners: @Arcticae

Changes after rebase
  tests/integration/cairo1/hint_locals/call/call_test.cairo
  tests/integration/cairo1/hint_locals/call/data/panicking_contract/cairo_project.toml
  tests/integration/cairo1/hint_locals/call/data/panicking_contract/lib.cairo
  tests/integration/cairo1/hint_locals/invoke/data/panicking_contract/cairo_project.toml
  tests/integration/cairo1/hint_locals/invoke/data/panicking_contract/lib.cairo
  tests/integration/cairo1_hint_locals/call/call_test.cairo
Owners: @Arcticae

Extend docs about project initialization (#1785)
  website/docs/tutorials/08-cairo-1-support/01-requirements.md
  website/docs/tutorials/08-cairo-1-support/01-understanding-cairo-packages.md
  website/docs/tutorials/08-cairo-1-support/02-project-initialization.md
  website/docs/tutorials/08-cairo-1-support/03-protostar-toml.md
  website/docs/tutorials/08-cairo-1-support/04-testing.md
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/README.md
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/call.md
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/declare-cairo0.md
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/declare.md
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/deploy.md
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/invoke.md
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/prepare.md
  website/docs/tutorials/08-cairo-1-support/06-interacting-with-starknet/README.md
  website/docs/tutorials/08-cairo-1-support/06-interacting-with-starknet/declare.md
Owners: @MaksymilianDemitraszek

Rename prank to start_prank
  protostar/cheatable_starknet/callable_hint_locals/start_prank_hint_local.py
Owners: @MaksymilianDemitraszek

Move prank tests to correct directory
  tests/integration/cairo1/hint_locals/prank/data/pranked/cairo_project.toml
  tests/integration/cairo1/hint_locals/prank/data/pranked/lib.cairo
  tests/integration/cairo1/hint_locals/prank/prank_test.cairo
  tests/integration/cairo1/hint_locals/prank/test_prank.py
Owners: @Arcticae

Add contract constructor prank test
  tests/integration/cairo1/hint_locals/prank/data/with_constructor/cairo_project.toml
  tests/integration/cairo1/hint_locals/prank/data/with_constructor/lib.cairo
  tests/integration/cairo1/hint_locals/prank/prank_test.cairo
  tests/integration/cairo1/hint_locals/prank/test_prank.py
Owners: @Arcticae

Delete duplicated test
  tests/integration/cairo1/hint_locals/deploy/deploy_test.cairo
  tests/integration/cairo1/hint_locals/deploy/test_deploy.py
Owners: @Arcticae

Rename test_cairo1 parameter
  tests/integration/cairo1/hint_locals/prepare/test_prepare.py
Owners: @Arcticae

Create pull_request_template.md (#1839)
  .github/pull_request_template.md
Owners: @Arcticae

Renamed file
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/deploy_contract_cairo0.md
Owners: @MaksymilianDemitraszek

Protostar Shell MVP design document (#1711)
  design_docs/shell.md
Owners: @Arcticae

Update pranking logic to include contract constructors
  protostar/cheatable_starknet/controllers/contracts.py
Owners: @MaksymilianDemitraszek

Fix deploy_test.cairo
  tests/integration/cairo1/hint_locals/deploy/deploy_test.cairo
Owners: @Arcticae

Add docs
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/start_prank.md
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/stop_prank.md
Owners: @MaksymilianDemitraszek

Apply suggestions from code review
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/start_prank.md
Owners: @MaksymilianDemitraszek

Add cairo1 prank cheatcode documentation (#1811)
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/start_prank.md
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/stop_prank.md
Owners: @MaksymilianDemitraszek

added compiler version info to `--version` (#1842)
  protostar.spec
  protostar/protostar_cli.py
  protostar/self/protostar_directory.py
  tests/e2e/test_misc_commands.py
  website/docs/cli-reference.md
  website/docs/tutorials/05-compiling.md
Owners: @Arcticae, @MaksymilianDemitraszek

Deploy contract
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/deploy_contract.md
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/deploy_contract_cairo0.md
Owners: @MaksymilianDemitraszek

Fix links?
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/deploy_contract.md
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/deploy_contract_cairo0.md
Owners: @MaksymilianDemitraszek

Fixed merge changes
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/deploy_contract.md
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/deploy_contract_cairo0.md
Owners: @MaksymilianDemitraszek

Add RevertedTransactions support (#1792)
  protostar/cairo_testing/cairo_injectable_function_runner.py
  protostar/cheatable_starknet/callable_hint_locals/callable_hint_local.py
  protostar/cheatable_starknet/callable_hint_locals/deploy_hint_local.py
  protostar/cheatable_starknet/controllers/contracts.py
  protostar/cheatable_starknet/controllers/transaction_revert_exception.py
  tests/e2e/cairo1/test_cairo1_testing.py
  tests/e2e/fixtures/cairo1/failing_test.cairo
  tests/integration/cairo1/compiler_bindings/library_functions_test.py
  tests/integration/cairo1/compiler_bindings/library_functions_test/call_test.cairo
  tests/integration/cairo1/compiler_bindings/library_functions_test/deploy_test.cairo
  tests/integration/cairo1/compiler_bindings/library_functions_test/invoke_test.cairo
  tests/integration/cairo1/hint_locals/call/call_test.cairo
  tests/integration/cairo1/hint_locals/call/data/panicking_contract/cairo_project.toml
  tests/integration/cairo1/hint_locals/call/data/panicking_contract/lib.cairo
  tests/integration/cairo1/hint_locals/call/data/with_ctor_panic/lib.cairo
  tests/integration/cairo1/hint_locals/call/test_call.py
  tests/integration/cairo1/hint_locals/deploy/deploy_test.cairo
  tests/integration/cairo1/hint_locals/deploy/test_deploy.py
  tests/integration/cairo1/hint_locals/deploy_contract_cairo0/deploy_contract_cairo0_test.cairo
  tests/integration/cairo1/hint_locals/deploy_contract_cairo0/test_deploy_contract_cairo0.py
  tests/integration/cairo1/hint_locals/invoke/data/panicking_contract/cairo_project.toml
  tests/integration/cairo1/hint_locals/invoke/data/panicking_contract/lib.cairo
  tests/integration/cairo1/hint_locals/invoke/invoke_test.cairo
  tests/integration/cairo1/hint_locals/invoke/test_invoke.py
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/call.md
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/deploy.md
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/invoke.md
Owners: @MaksymilianDemitraszek, @Arcticae

Fix deploy_contract_cairo0_test.cairo
  tests/integration/cairo1/hint_locals/deploy_contract_cairo0/deploy_contract_cairo0_test.cairo
Owners: @Arcticae

Move docs to correct directory
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/start_prank.md
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/stop_prank.md
Owners: @MaksymilianDemitraszek

Fix method name in example
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/start_prank.md
Owners: @MaksymilianDemitraszek

Rename library functions. Remove unused ones
  protostar/cheatable_starknet/callable_hint_locals/deploy_hint_local.py
  protostar/cheatable_starknet/callable_hint_locals/prepare_hint_local.py
  scripts/install_cairo_bindings.sh
  tests/integration/cairo1/compiler_bindings/library_functions_test.py
  tests/integration/cairo1/compiler_bindings/library_functions_test/deploy_test.cairo
  tests/integration/cairo1/compiler_bindings/library_functions_test/prepare_test.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

Update website/docs/tutorials/08-cairo-1-support/06-compiling.md
  website/docs/tutorials/08-cairo-1-support/06-compiling.md
Owners: @MaksymilianDemitraszek

Added `deploy_contract` docs (#1840)
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/deploy_contract.md
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/deploy_contract_cairo0.md
Owners: @MaksymilianDemitraszek

Add build-cairo1 docs (#1643)
  website/docs/tutorials/08-cairo-1-support/06-compiling.md
Owners: @MaksymilianDemitraszek

Revert unwanted change, delete intermediate function and rename deploy implementation.
  protostar/cheatable_starknet/callable_hint_locals/deploy_hint_local.py
  scripts/install_cairo_bindings.sh
Owners: @MaksymilianDemitraszek, @Arcticae

init
  tests/integration/cairo1/compiler_bindings/print_test.py
  tests/integration/cairo1/compiler_bindings/print_test/basic_print_test.cairo
  tests/integration/cairo1_compiler_bindings/print_test/simple/cairo_project.toml
  tests/integration/cairo1_compiler_bindings/print_test/simple/lib.cairo
Owners: @Arcticae

update
  tests/integration/cairo1/compiler_bindings/print_test.py
  tests/integration/cairo1/compiler_bindings/print_test/basic_print_test.cairo
  tests/integration/cairo1/compiler_bindings/print_test/simple/cairo_project.toml
  tests/integration/cairo1/compiler_bindings/print_test/simple/lib.cairo
Owners: @Arcticae

add print hint local, resign from printing in contract
  protostar/cairo_testing/cairo_hint_local_factory.py
  protostar/cheatable_starknet/callable_hint_locals/__init__.py
  protostar/cheatable_starknet/callable_hint_locals/print_hint_local.py
  protostar/cheatable_starknet/controllers/contracts.py
  tests/integration/cairo1/compiler_bindings/test_print.py
  tests/integration/cairo1/compiler_bindings/test_print/print_contract/cairo_project.toml
  tests/integration/cairo1/compiler_bindings/test_print/print_contract/lib.cairo
  tests/integration/cairo1/compiler_bindings/test_print/print_test.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

naming
  tests/integration/cairo1/compiler_bindings/print_test/simple/cairo_project.toml
  tests/integration/cairo1/compiler_bindings/test_print.py
  tests/integration/cairo1/compiler_bindings/test_print/print_contract/cairo_project.toml
  tests/integration/cairo1/compiler_bindings/test_print/print_contract/lib.cairo
  tests/integration/cairo1/compiler_bindings/test_print/print_test.cairo
Owners: @Arcticae

add dox
  website/docs/tutorials/08-cairo-1-support/07-debugging.md
Owners: @MaksymilianDemitraszek

address feedback
  protostar/cairo_testing/cairo_hint_local_factory.py
  protostar/cheatable_starknet/callable_hint_locals/print_hint_local.py
  protostar/cheatable_starknet/controllers/__init__.py
  protostar/cheatable_starknet/controllers/contracts.py
  protostar/cheatable_starknet/controllers/io.py
Owners: @MaksymilianDemitraszek

.github/CODEOWNERS:

* @Arcticae

/protostar @MaksymilianDemitraszek
/protostar/cli @Arcticae
/protostar/commands @Arcticae
/protostar/commands/declare @Arcticae @Radinyn
/protostar/commands/deploy @Arcticae @Radinyn
/protostar/commands/init @MaksymilianDemitraszek
/protostar/compiler @Arcticae
/protostar/configuration_file @Arcticae
/protostar/formatter @Radinyn
/protostar/git @Radinyn
/protostar/package_manager @Radinyn
/protostar/profiler @MaksymilianDemitraszek
/protostar/starknet @MaksymilianDemitraszek
/protostar/starknet_gateway @Arcticae @Radinyn
/protostar/testing/cheatcodes/load_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/cheatcodes/store_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/fuzzing @Radinyn
/protostar/upgrader @Arcticae

/website @Arcticae
/website/docs @MaksymilianDemitraszek
README.md @MaksymilianDemitraszek
/readme/ @MaksymilianDemitraszek
