Repository software-mansion/protostar, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arcticae, @MaksymilianDemitraszek, @Radinyn

.github/CODEOWNERS:

* @Arcticae

/protostar @MaksymilianDemitraszek
/protostar/cli @Arcticae
/protostar/commands @Arcticae
/protostar/commands/declare @Arcticae @Radinyn
/protostar/commands/deploy @Arcticae @Radinyn
/protostar/commands/init @MaksymilianDemitraszek
/protostar/compiler @Arcticae
/protostar/configuration_file @Arcticae
/protostar/formatter @Radinyn
/protostar/git @Radinyn
/protostar/package_manager @Radinyn
/protostar/profiler @MaksymilianDemitraszek
/protostar/starknet @MaksymilianDemitraszek
/protostar/starknet_gateway @Arcticae @Radinyn
/protostar/testing/cheatcodes/load_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/cheatcodes/store_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/fuzzing @Radinyn
/protostar/upgrader @Arcticae

/website @Arcticae
/website/docs @MaksymilianDemitraszek
README.md @MaksymilianDemitraszek
/readme/ @MaksymilianDemitraszek

Plugged in `available_gas` (#1790)
  protostar/cairo_testing/cairo1_test_collector.py
  protostar/testing/test_collector.py
Owners: @MaksymilianDemitraszek

Remove misleading info
  website/docs/tutorials/08-cairo-1-support/03-testing.md
Owners: @MaksymilianDemitraszek

Formatting
  website/docs/tutorials/08-cairo-1-support/03-testing.md
Owners: @MaksymilianDemitraszek

Cover different test cases (#1795)
  tests/integration/cairo1_hint_locals/call/call_test.cairo
  tests/integration/cairo1_hint_locals/call/data/with_storage/cairo_project.toml
  tests/integration/cairo1_hint_locals/call/data/with_storage/lib.cairo
  tests/integration/cairo1_hint_locals/call/test_call.py
  tests/integration/cairo1_hint_locals/prepare/data/minimal_no_ctor/cairo_project.toml
  tests/integration/cairo1_hint_locals/prepare/data/minimal_no_ctor/lib.cairo
  tests/integration/cairo1_hint_locals/prepare/prepare_test.cairo
  tests/integration/cairo1_hint_locals/prepare/test_prepare.py
Owners: @Arcticae

random typo fix
  protostar/cheatable_starknet/callable_hint_locals/declare_hint_local.py
Owners: @MaksymilianDemitraszek

Fix misleading cairo1 docs (#1813)
  website/docs/tutorials/08-cairo-1-support/03-testing.md
Owners: @MaksymilianDemitraszek

Add cairo0 tests. Add test with a custom structure
  tests/integration/cairo1_hint_locals/prepare/data/cairo0.cairo
  tests/integration/cairo1_hint_locals/prepare/data/cairo0_w_ctor.cairo
  tests/integration/cairo1_hint_locals/prepare/data/cairo0_w_ctor_no_args.cairo
  tests/integration/cairo1_hint_locals/prepare/data/minimal_custom_structures/cairo_project.toml
  tests/integration/cairo1_hint_locals/prepare/data/minimal_custom_structures/lib.cairo
  tests/integration/cairo1_hint_locals/prepare/prepare_test.cairo
  tests/integration/cairo1_hint_locals/prepare/test_prepare.py
Owners: @Arcticae

removed flag, fixed tests
  protostar/commands/cairo1_commands/test_cairo1_command.py
  protostar/commands/test/test_command.py
  tests/integration/_conftest/protostar_fixture.py
  tests/integration/_conftest/protostar_fixture_factory.py
  tests/integration/cairo1_hint_locals/call/test_call.py
  tests/integration/cairo1_hint_locals/declare/test_declare.py
  tests/integration/cairo1_hint_locals/deploy/test_deploy.py
  tests/integration/cairo1_hint_locals/deploy_contract/test_deploy_contract.py
  tests/integration/cairo1_hint_locals/deploy_contract_cairo0/test_deploy_contract_cairo0.py
  tests/integration/cairo1_hint_locals/invoke/test_invoke.py
  tests/integration/cairo1_hint_locals/prepare/test_prepare.py
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test.py
  tests/integration/pure_cairo_vm/cheatcodes/declare_cairo0_cheatcode_test.py
Owners: @Arcticae

`decorator` -> `attribute`
  website/docs/tutorials/08-cairo-1-support/05-gas.md
Owners: @MaksymilianDemitraszek

Remove cairo1 flag from test command (#1822)
  protostar/commands/cairo1_commands/test_cairo1_command.py
  protostar/commands/test/test_command.py
  pyproject.toml
  tests/integration/_conftest/protostar_fixture.py
  tests/integration/_conftest/protostar_fixture_factory.py
  tests/integration/cairo1_hint_locals/call/test_call.py
  tests/integration/cairo1_hint_locals/declare/test_declare.py
  tests/integration/cairo1_hint_locals/deploy/test_deploy.py
  tests/integration/cairo1_hint_locals/deploy_contract/test_deploy_contract.py
  tests/integration/cairo1_hint_locals/deploy_contract_cairo0/test_deploy_contract_cairo0.py
  tests/integration/cairo1_hint_locals/invoke/test_invoke.py
  tests/integration/cairo1_hint_locals/prepare/test_prepare.py
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test.py
  tests/integration/pure_cairo_vm/cheatcodes/declare_cairo0_cheatcode_test.py
Owners: @Arcticae

Added `available_gas` docs (#1791)
  website/docs/tutorials/08-cairo-1-support/05-gas.md
Owners: @MaksymilianDemitraszek

Removed not relevant todods
  protostar/cairo/cairo_compiler.py
  protostar/cairo_testing/cairo1_test_runner.py
  protostar/cairo_testing/execution_environments/cairo_test_execution_environment.py
  protostar/cheatable_starknet/controllers/contracts.py
  protostar/commands/init/project_creator/_project_creator.py
  protostar/profiler/contract_profiler.py
  protostar/profiler/transaction_profiler.py
  protostar/self/protostar_directory.py
  protostar/starknet/cheatable_execute_entry_point.py
  protostar/starknet/cheatable_syscall_handler.py
  protostar/starknet/cheatcode.py
  protostar/starknet/starknet_compiler.py
  protostar/starknet_gateway/account_tx_version_detector.py
  protostar/testing/environments/contract_based_test_execution_environment.py
  tests/e2e/conftest.py
  tests/e2e/test_gateway_commands.py
  tests/integration/cairo1_compiler_bindings/tests_collector_and_compiler_test.py
  tests/integration/commands/declare_command_test.py
Owners: @MaksymilianDemitraszek, @Arcticae, @Radinyn

Removed not relevant todos
  protostar/cairo/cairo_compiler.py
  protostar/cairo_testing/cairo1_test_runner.py
  protostar/cairo_testing/execution_environments/cairo_test_execution_environment.py
  protostar/cheatable_starknet/controllers/contracts.py
  protostar/commands/init/project_creator/_project_creator.py
  protostar/profiler/contract_profiler.py
  protostar/profiler/transaction_profiler.py
  protostar/self/protostar_directory.py
  protostar/starknet/cheatable_execute_entry_point.py
  protostar/starknet/cheatable_syscall_handler.py
  protostar/starknet/cheatcode.py
  protostar/starknet/starknet_compiler.py
  protostar/starknet_gateway/account_tx_version_detector.py
  protostar/testing/environments/contract_based_test_execution_environment.py
  tests/e2e/conftest.py
  tests/e2e/test_gateway_commands.py
  tests/integration/cairo1_compiler_bindings/tests_collector_and_compiler_test.py
  tests/integration/commands/declare_command_test.py
Owners: @MaksymilianDemitraszek, @Arcticae, @Radinyn

Improve new template scarb compatibility (#1786)
  protostar/commands/init/project_creator/new_project_creator.py
  templates/cairo1/hello_starknet/cairo_project.toml
  templates/cairo1/hello_starknet/src/business_logic.cairo
  templates/cairo1/hello_starknet/src/business_logic/utils.cairo
  templates/cairo1/hello_starknet/src/contracts.cairo
  templates/cairo1/hello_starknet/src/contracts/hello_starknet.cairo
  templates/cairo1/hello_starknet/src/lib.cairo
  templates/cairo1/protostar.toml
  templates/cairo1/src/cairo_project.toml
  templates/cairo1/tests/test_utils.cairo
  tests/integration/commands/init_command_test/project_name/hello_starknet/cairo_project.toml
  tests/integration/commands/init_command_test/project_name/hello_starknet/src/business_logic.cairo
  tests/integration/commands/init_command_test/project_name/hello_starknet/src/business_logic/utils.cairo
  tests/integration/commands/init_command_test/project_name/hello_starknet/src/contracts.cairo
  tests/integration/commands/init_command_test/project_name/hello_starknet/src/contracts/hello_starknet.cairo
  tests/integration/commands/init_command_test/project_name/hello_starknet/src/lib.cairo
  tests/integration/commands/init_command_test/project_name/protostar.toml
  tests/integration/commands/init_command_test/project_name/src/cairo_project.toml
  tests/integration/commands/init_command_test/project_name/tests/test_utils.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

add to master
  website/docs/tutorials/08-cairo-1-support/06-compiling.md
Owners: @MaksymilianDemitraszek

Removed not relevant todos (#1828)
  protostar/cairo/cairo_compiler.py
  protostar/cairo_testing/cairo1_test_runner.py
  protostar/cairo_testing/execution_environments/cairo_test_execution_environment.py
  protostar/cheatable_starknet/controllers/contracts.py
  protostar/commands/init/project_creator/_project_creator.py
  protostar/profiler/contract_profiler.py
  protostar/profiler/transaction_profiler.py
  protostar/self/protostar_directory.py
  protostar/starknet/cheatable_execute_entry_point.py
  protostar/starknet/cheatable_syscall_handler.py
  protostar/starknet/cheatcode.py
  protostar/starknet/starknet_compiler.py
  protostar/starknet_gateway/account_tx_version_detector.py
  protostar/testing/environments/contract_based_test_execution_environment.py
  tests/e2e/conftest.py
  tests/e2e/test_gateway_commands.py
  tests/integration/cairo1_compiler_bindings/tests_collector_and_compiler_test.py
  tests/integration/commands/declare_command_test.py
Owners: @MaksymilianDemitraszek, @Arcticae, @Radinyn

Test init-cairo1 without project name
  tests/e2e/cairo1/test_cairo1_init.py
Owners: @Arcticae

Test cairo1 instead of cairo0
  tests/e2e/cairo1/test_cairo1_init.py
Owners: @Arcticae

Add init with invalid name e2e test
  tests/e2e/cairo1/test_cairo1_init.py
Owners: @Arcticae

Test init-cairo1 with existing name
  tests/e2e/cairo1/test_cairo1_init.py
Owners: @Arcticae

Make create_project_directory_from_template private
  protostar/commands/init/project_creator/new_project_creator.py
Owners: @MaksymilianDemitraszek

Add tests to cairo1 project creation logic (#1787)
  protostar/commands/init/project_creator/new_project_creator.py
  tests/e2e/cairo1/test_cairo1_init.py
Owners: @MaksymilianDemitraszek, @Arcticae

Remove unnecessary "linked-libraries" from adapted_project_creator.py
  protostar/commands/init/project_creator/adapted_project_creator.py
Owners: @MaksymilianDemitraszek

add info about class hash files
  website/docs/tutorials/08-cairo-1-support/06-compiling.md
Owners: @MaksymilianDemitraszek

Make `create_project_directory_from_template` private
  protostar/commands/init/project_creator/new_project_creator.py
Owners: @MaksymilianDemitraszek

Review suggestion
  protostar/commands/init/project_creator/new_project_creator.py
Owners: @MaksymilianDemitraszek

Inline output_dir_path
  protostar/commands/init/project_creator/new_project_creator.py
Owners: @MaksymilianDemitraszek

Update tests/e2e/cairo1/test_cairo1_init.py
  tests/e2e/cairo1/test_cairo1_init.py
Owners: @Arcticae

renamed
  protostar/cairo_testing/cairo1_test_runner.py
  protostar/testing/test_case_runners/cairo1_test_case_runner.py
  protostar/testing/test_suite.py
  tests/integration/cairo1_hint_locals/call/call_test.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

Rolled back available gas
  protostar/testing/test_suite.py
Owners: @MaksymilianDemitraszek

Fix directories
  tests/integration/cairo1/hint_locals/call/data/with_storage/cairo_project.toml
  tests/integration/cairo1/hint_locals/call/data/with_storage/lib.cairo
  tests/integration/cairo1/hint_locals/prepare/data/minimal_no_ctor/cairo_project.toml
  tests/integration/cairo1/hint_locals/prepare/data/minimal_no_ctor/lib.cairo
Owners: @Arcticae

Revert accidental changes
  tests/integration/cairo1_hint_locals/call/call_test.cairo
Owners: @Arcticae

Improve cairo1 template (#1719)
  protostar/commands/init/project_creator/_project_creator.py
  protostar/commands/init/project_creator/adapted_project_creator.py
  protostar/commands/init/project_creator/new_project_creator.py
  protostar/configuration_file/configuration_file_v2.py
  templates/cairo1/hello_starknet/cairo_project.toml
  templates/cairo1/hello_starknet/src/business_logic.cairo
  templates/cairo1/hello_starknet/src/business_logic/utils.cairo
  templates/cairo1/hello_starknet/src/contracts.cairo
  templates/cairo1/hello_starknet/src/contracts/hello_starknet.cairo
  templates/cairo1/hello_starknet/src/lib.cairo
  templates/cairo1/src/cairo_project.toml
  templates/cairo1/src/lib.cairo
  templates/cairo1/src/main.cairo
  templates/cairo1/tests/test_hello_starknet.cairo
  templates/cairo1/tests/test_main.cairo
  templates/cairo1/tests/test_utils.cairo
  tests/e2e/cairo1/test_cairo1_init.py
  tests/integration/_conftest/protostar_project_fixture.py
  tests/integration/commands/init_command_test.py
  tests/integration/commands/init_command_test/project_name/hello_starknet/cairo_project.toml
  tests/integration/commands/init_command_test/project_name/hello_starknet/src/business_logic.cairo
  tests/integration/commands/init_command_test/project_name/hello_starknet/src/business_logic/utils.cairo
  tests/integration/commands/init_command_test/project_name/hello_starknet/src/contracts.cairo
  tests/integration/commands/init_command_test/project_name/hello_starknet/src/contracts/hello_starknet.cairo
  tests/integration/commands/init_command_test/project_name/hello_starknet/src/lib.cairo
  tests/integration/commands/init_command_test/project_name/protostar.toml
  tests/integration/commands/init_command_test/project_name/tests/test_hello_starknet.cairo
  tests/integration/commands/init_command_test/project_name/tests/test_utils.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

Rename TestCaseWithOffset (#1833)
  protostar/cairo_testing/cairo1_test_runner.py
  protostar/testing/test_case_runners/cairo1_test_case_runner.py
  protostar/testing/test_suite.py
Owners: @MaksymilianDemitraszek

Copy module name reference to 02-project-initialization.md
  website/docs/tutorials/08-cairo-1-support/02-project-initialization.md
Owners: @MaksymilianDemitraszek

Update docs
  website/docs/tutorials/08-cairo-1-support/01-understanding-cairo-packages.md
  website/docs/tutorials/08-cairo-1-support/02-project-initialization.md
  website/docs/tutorials/08-cairo-1-support/03-protostar-toml.md
Owners: @MaksymilianDemitraszek

Remove capitalization from the title
  website/docs/tutorials/08-cairo-1-support/01-understanding-cairo-packages.md
Owners: @MaksymilianDemitraszek

Update docs
  website/docs/tutorials/08-cairo-1-support/01-requirements.md
  website/docs/tutorials/08-cairo-1-support/02-project-initialization.md
  website/docs/tutorials/08-cairo-1-support/04-testing.md
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/README.md
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/call.md
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/declare-cairo0.md
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/declare.md
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/deploy.md
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/invoke.md
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/prepare.md
  website/docs/tutorials/08-cairo-1-support/06-interacting-with-starknet/README.md
  website/docs/tutorials/08-cairo-1-support/06-interacting-with-starknet/declare.md
Owners: @MaksymilianDemitraszek

Replace my_mod with my_module
  website/docs/tutorials/08-cairo-1-support/01-understanding-cairo-packages.md
Owners: @MaksymilianDemitraszek

Reorganize 01-requirements.md
  website/docs/tutorials/08-cairo-1-support/01-requirements.md
Owners: @MaksymilianDemitraszek
