Repository software-mansion/protostar, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arcticae, @MaksymilianDemitraszek, @Radinyn

.github/CODEOWNERS:

* @Arcticae

/protostar @MaksymilianDemitraszek
/protostar/cli @Arcticae
/protostar/commands @Arcticae
/protostar/commands/declare @Arcticae @Radinyn
/protostar/commands/deploy @Arcticae @Radinyn
/protostar/commands/init @MaksymilianDemitraszek
/protostar/compiler @Arcticae
/protostar/configuration_file @Arcticae
/protostar/formatter @Radinyn
/protostar/git @Radinyn
/protostar/package_manager @Radinyn
/protostar/profiler @MaksymilianDemitraszek
/protostar/starknet @MaksymilianDemitraszek
/protostar/starknet_gateway @Arcticae @Radinyn
/protostar/testing/cheatcodes/load_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/cheatcodes/store_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/fuzzing @Radinyn
/protostar/upgrader @Arcticae

/website @Arcticae
/website/docs @MaksymilianDemitraszek
README.md @MaksymilianDemitraszek
/readme/ @MaksymilianDemitraszek

Adapt to starknet 0.11 OS changes
  protostar/__init__.py
  protostar/cairo_testing/cairo_injectable_function_runner.py
  protostar/cairo_testing/cairo_test_execution_state.py
  protostar/cheatable_starknet/cheatables/cheatable_cached_state.py
  protostar/cheatable_starknet/cheatables/cheatable_execute_entry_point.py
  protostar/cheatable_starknet/cheatables/cheatable_syscall_handler.py
  protostar/cheatable_starknet/controllers/contracts.py
  protostar/commands/invoke/invoke_command.py
  protostar/commands/multicall_command.py
  protostar/compiler/compiled_contract_writer.py
  protostar/compiler/compiled_contract_writer_test.py
  protostar/compiler/project_compiler.py
  protostar/profiler/transaction_profiler_test.py
  protostar/starknet/cheatable_cached_state.py
  protostar/starknet/cheatable_execute_entry_point.py
  protostar/starknet/cheatable_state.py
  protostar/starknet/cheatable_syscall_handler.py
  protostar/starknet/cheatcode.py
  protostar/starknet/contract.py
  protostar/starknet/forkable_starknet.py
  protostar/starknet/starknet_compiler.py
  protostar/starknet_gateway/__init__.py
  protostar/starknet_gateway/account_manager.py
  protostar/starknet_gateway/gateway_facade.py
  protostar/testing/cheatcodes/declare_cheatcode.py
  protostar/testing/cheatcodes/deploy_cheatcode.py
  protostar/testing/cheatcodes/send_message_to_l2.py
  protostar/testing/starkware/contract_utils.py
  protostar/testing/test_runner.py
  tests/_conftest/devnet/devnet_account_preparator.py
  tests/integration/_conftest/gateway_client_tx_interceptor.py
  tests/integration/_conftest/transaction_registry.py
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/tests_collector_and_compiler_test.py
  tests/integration/cheatcodes/prepare/prepare_test.cairo
  tests/integration/commands/test_command_test.py
Owners: @MaksymilianDemitraszek, @Arcticae, @Radinyn

Remove redundant line
  protostar/cairo_testing/cairo1_test_collector.py
Owners: @MaksymilianDemitraszek

added depth 2 tests for warp and roll and refactored remaining tests, modified roll_warp_tester contract - marked setters @external and made them return no value
  tests/integration/pure_cairo_vm/cheatcodes/roll/roll_cairo_cheatcode_test.py
  tests/integration/pure_cairo_vm/cheatcodes/roll/roll_test.cairo
  tests/integration/pure_cairo_vm/cheatcodes/warp/warp_cairo_cheatcode_test.py
  tests/integration/pure_cairo_vm/cheatcodes/warp/warp_test.cairo
  tests/integration/pure_cairo_vm/contracts/roll_warp_tester.cairo
Owners: @Arcticae

fixed tests that broke as a result of modifying roll_warp_tester
  tests/integration/pure_cairo_vm/contracts/l1_handler_contract.cairo
  tests/integration/pure_cairo_vm/contracts/roll_warp_tester.cairo
Owners: @Arcticae

init
  protostar/cairo/cairo_bindings.py
Owners: @MaksymilianDemitraszek

update submodules
  scripts/install_cairo_bindings.sh
Owners: @Arcticae

Merge 2 parsing functions into one
  protostar/cairo/cairo1_test_suite_parser.py
  protostar/cairo_testing/cairo1_test_runner_adapter.py
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/tests_collector_and_compiler_test.py
Owners: @MaksymilianDemitraszek, @Arcticae

Update bindings' names (#1529)
  protostar/cairo/cairo_bindings.py
  scripts/install_cairo_bindings.sh
Owners: @MaksymilianDemitraszek, @Arcticae

Link an issue to the TODO
  protostar/cairo_testing/cairo1_test_runner_adapter.py
Owners: @MaksymilianDemitraszek

Simplify assignment expression
  protostar/cairo_testing/cairo1_test_collector.py
Owners: @MaksymilianDemitraszek

Add an assertion for each test case
  protostar/testing/test_suite.py
Owners: @MaksymilianDemitraszek

replace ".." with `.parent` access
  tests/integration/_conftest/protostar_fixture_factory.py
Owners: @Arcticae

Remove redundant line
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test.py
Owners: @Arcticae

Extract setup files to shared datadir
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test.py
  tests/integration/pure_cairo_vm/cairo1_integration/data/cairo_project.toml
  tests/integration/pure_cairo_vm/cairo1_integration/data/lib.cairo
Owners: @Arcticae

Draft
  protostar/commands/test/test_command.py
  protostar/protostar_cli.py
  tests/e2e/cairo1/test_testing.py
  tests/e2e/conftest.py
  tests/e2e/fixtures/cairo1_project/protostar.toml
  tests/e2e/fixtures/cairo1_project/tests/test_a.cairo
  tests/e2e/fixtures/cairo1_project/tests/test_with_deps.cairo
Owners: @Arcticae, @MaksymilianDemitraszek

Add cairo runner facade, alter the structure of cairo1 suites.
  protostar/cairo/cairo_function_runner_facade.py
  protostar/cairo_testing/cairo1_test_runner_adapter.py
  protostar/cairo_testing/cairo_injectable_function_runner.py
  protostar/testing/test_suite.py
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/tests_collector_and_compiler_test.py
Owners: @MaksymilianDemitraszek, @Arcticae

Add back the hint locals passing in injectable runner
  protostar/cairo_testing/cairo_injectable_function_runner.py
Owners: @MaksymilianDemitraszek

Implement cairo function runner facade
  protostar/cairo/cairo_function_runner_facade.py
  protostar/testing/test_suite.py
  tests/integration/cairo1_compiler_bindings/tests_collector_and_compiler_test.py
Owners: @MaksymilianDemitraszek, @Arcticae

Add a test with custom library
  tests/integration/_conftest/protostar_fixture.py
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test.py
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test/external_lib_foo/cairo_project.toml
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test/external_lib_foo/foo.cairo
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test/external_lib_foo/lib.cairo
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test/test_cairo1.cairo
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test/test_cairo1_ext_lib.cairo
Owners: @Arcticae

Add empty case + combined case with 2 suites
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test.py
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test/test_cairo1_empty_suite.cairo
Owners: @Arcticae

split roll_warp_tester to separate contracts, refactored methods' names
  tests/integration/pure_cairo_vm/cheatcodes/roll/roll_cairo_cheatcode_test.py
  tests/integration/pure_cairo_vm/cheatcodes/roll/roll_test.cairo
  tests/integration/pure_cairo_vm/cheatcodes/send_message_to_l2/send_message_to_l2_hint_local_test.cairo
  tests/integration/pure_cairo_vm/cheatcodes/send_message_to_l2/send_message_to_l2_hint_local_test.py
  tests/integration/pure_cairo_vm/cheatcodes/stop_roll/stop_roll_cairo_cheatcode_test.py
  tests/integration/pure_cairo_vm/cheatcodes/stop_roll/stop_roll_test.cairo
  tests/integration/pure_cairo_vm/cheatcodes/stop_warp/stop_warp_cairo_cheatcode_test.py
  tests/integration/pure_cairo_vm/cheatcodes/stop_warp/stop_warp_test.cairo
  tests/integration/pure_cairo_vm/cheatcodes/warp/warp_cairo_cheatcode_test.py
  tests/integration/pure_cairo_vm/cheatcodes/warp/warp_test.cairo
  tests/integration/pure_cairo_vm/contracts/l1_handler_contract.cairo
  tests/integration/pure_cairo_vm/contracts/roll_contract.cairo
  tests/integration/pure_cairo_vm/contracts/roll_warp_tester.cairo
  tests/integration/pure_cairo_vm/contracts/warp_contract.cairo
Owners: @Arcticae

Acced test-cairo1, Added e2e tests
  protostar.spec
  protostar/commands/test/__init__.py
  protostar/commands/test/test_command.py
  protostar/commands/test_cairo1/__init__.py
  protostar/commands/test_cairo1/test_cairo1_command.py
  protostar/compiler/project_cairo_path_builder.py
  protostar/composition_root.py
  tests/e2e/cairo1/test_testing.py
  tests/e2e/fixtures/cairo1_project/libraries/external_lib_bar/bar.cairo
  tests/e2e/fixtures/cairo1_project/libraries/external_lib_bar/cairo_project.toml
  tests/e2e/fixtures/cairo1_project/libraries/external_lib_bar/lib.cairo
  tests/e2e/fixtures/cairo1_project/libraries/external_lib_foo/cairo_project.toml
  tests/e2e/fixtures/cairo1_project/libraries/external_lib_foo/foo.cairo
  tests/e2e/fixtures/cairo1_project/libraries/external_lib_foo/lib.cairo
  tests/e2e/fixtures/cairo1_project/protostar.toml
  tests/e2e/fixtures/cairo1_project/tests/test_a.cairo
  tests/e2e/fixtures/cairo1_project/tests/test_with_deps.cairo
Owners: @Arcticae, @MaksymilianDemitraszek

Refactored
  protostar/commands/test/__init__.py
  protostar/commands/test/test_command.py
  protostar/commands/test_cairo1/test_cairo1_command.py
  protostar/compiler/__init__.py
  protostar/compiler/project_cairo_path_builder.py
  protostar/compiler/project_compiler.py
  protostar/composition_root.py
  protostar/protostar_cli.py
  tests/e2e/cairo1/test_testing.py
  tests/e2e/conftest.py
Owners: @Arcticae, @MaksymilianDemitraszek

renamed externall contracts calls
  tests/integration/pure_cairo_vm/cheatcodes/roll/roll_test.cairo
  tests/integration/pure_cairo_vm/cheatcodes/send_message_to_l2/send_message_to_l2_hint_local_test.cairo
  tests/integration/pure_cairo_vm/cheatcodes/warp/warp_test.cairo
  tests/integration/pure_cairo_vm/contracts/l1_handler_contract.cairo
  tests/integration/pure_cairo_vm/contracts/roll_contract.cairo
  tests/integration/pure_cairo_vm/contracts/warp_contract.cairo
Owners: @Arcticae

Update var naming for suite parsing
  protostar/cairo/cairo1_test_suite_parser.py
Owners: @MaksymilianDemitraszek

Set fixed poetry version to 1.3.2 in all Actions
  .github/workflows/build_binaries.yml
  .github/workflows/builds_on_mac.yml
  .github/workflows/checks.yml
Owners: @Arcticae

Fix versions of python and poetry to variable values
  .github/workflows/build_binaries.yml
  .github/workflows/builds_on_mac.yml
  .github/workflows/checks.yml
Owners: @Arcticae

Set fixed poetry version to 1.3.2 in all Actions (#1547)
  .github/workflows/build_binaries.yml
  .github/workflows/builds_on_mac.yml
  .github/workflows/checks.yml
Owners: @Arcticae

Added depth 2 tests for warp and roll (#1532)
  tests/integration/pure_cairo_vm/cheatcodes/roll/roll_cairo_cheatcode_test.py
  tests/integration/pure_cairo_vm/cheatcodes/roll/roll_test.cairo
  tests/integration/pure_cairo_vm/cheatcodes/send_message_to_l2/send_message_to_l2_hint_local_test.cairo
  tests/integration/pure_cairo_vm/cheatcodes/send_message_to_l2/send_message_to_l2_hint_local_test.py
  tests/integration/pure_cairo_vm/cheatcodes/stop_roll/stop_roll_cairo_cheatcode_test.py
  tests/integration/pure_cairo_vm/cheatcodes/stop_roll/stop_roll_test.cairo
  tests/integration/pure_cairo_vm/cheatcodes/stop_warp/stop_warp_cairo_cheatcode_test.py
  tests/integration/pure_cairo_vm/cheatcodes/stop_warp/stop_warp_test.cairo
  tests/integration/pure_cairo_vm/cheatcodes/warp/warp_cairo_cheatcode_test.py
  tests/integration/pure_cairo_vm/cheatcodes/warp/warp_test.cairo
  tests/integration/pure_cairo_vm/contracts/l1_handler_contract.cairo
  tests/integration/pure_cairo_vm/contracts/roll_contract.cairo
  tests/integration/pure_cairo_vm/contracts/roll_warp_tester.cairo
  tests/integration/pure_cairo_vm/contracts/warp_contract.cairo
Owners: @Arcticae

Flatten code in compiler
  protostar/starknet/starknet_compiler.py
Owners: @MaksymilianDemitraszek

removed unnecessary f string
  protostar/starknet_gateway/gateway_facade.py
Owners: @Arcticae, @Radinyn

Error concerning signing declare transaction is now caugh and a more informative error message is displayed to a user
  protostar/starknet_gateway/gateway_facade.py
Owners: @Arcticae, @Radinyn

added check if account address is found in Client Error message
  protostar/starknet_gateway/gateway_facade.py
Owners: @Arcticae, @Radinyn

refactored with black
  protostar/starknet_gateway/gateway_facade.py
Owners: @Arcticae, @Radinyn

Display more informative error message when account is not deployed (declare command) (#1538)
  protostar/starknet_gateway/gateway_facade.py
Owners: @Arcticae, @Radinyn

Rename variables
  protostar/cairo/cairo_function_runner_facade.py
Owners: @MaksymilianDemitraszek

Remove cairo1 package declaration, alter paths handling in test command
  protostar/commands/test/test_command.py
  protostar_cairo/cairo_project.toml
Owners: @Arcticae

Flatten code in compiler (#1546)
  protostar/starknet/starknet_compiler.py
Owners: @MaksymilianDemitraszek

Add a broken case and re-pack the error in a runtime one
  protostar/cairo_testing/cairo1_test_collector.py
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test.py
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test/test_cairo1_broken_suite.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

Add support for adding tests by name. Add a test for skipping unmarked test case.
  protostar/cairo_testing/cairo1_test_collector.py
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test.py
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test/test_cairo1_two_cases.cairo
Owners: @MaksymilianDemitraszek, @Arcticae
