Repository software-mansion/protostar, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arcticae, @MaksymilianDemitraszek, @Radinyn

.github/CODEOWNERS:

* @Arcticae

/protostar @MaksymilianDemitraszek
/protostar/cli @Arcticae
/protostar/commands @Arcticae
/protostar/commands/declare @Arcticae @Radinyn
/protostar/commands/deploy @Arcticae @Radinyn
/protostar/commands/init @MaksymilianDemitraszek
/protostar/compiler @Arcticae
/protostar/configuration_file @Arcticae
/protostar/formatter @Radinyn
/protostar/git @Radinyn
/protostar/package_manager @Radinyn
/protostar/profiler @MaksymilianDemitraszek
/protostar/starknet @MaksymilianDemitraszek
/protostar/starknet_gateway @Arcticae @Radinyn
/protostar/testing/cheatcodes/load_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/cheatcodes/store_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/fuzzing @Radinyn
/protostar/upgrader @Arcticae

/website @Arcticae
/website/docs @MaksymilianDemitraszek
README.md @MaksymilianDemitraszek
/readme/ @MaksymilianDemitraszek

Update docs to reflect new structure
  website/docs/tutorials/08-cairo-1-support/02-project-initialization.md
Owners: @MaksymilianDemitraszek

Add basic intro
  website/docs/tutorials/08-cairo-1-support/01-understanding-cairo-packages.md
Owners: @MaksymilianDemitraszek

Reword cairo_project.toml description
  website/docs/tutorials/08-cairo-1-support/01-understanding-cairo-packages.md
Owners: @MaksymilianDemitraszek

Extend note on crates
  website/docs/tutorials/08-cairo-1-support/01-understanding-cairo-packages.md
Owners: @MaksymilianDemitraszek

Simplify description
  website/docs/tutorials/08-cairo-1-support/02-project-initialization.md
Owners: @MaksymilianDemitraszek

Link to testing in 02-project-initialization.md
  website/docs/tutorials/08-cairo-1-support/02-project-initialization.md
Owners: @MaksymilianDemitraszek

Apply suggestions from code review
  website/docs/tutorials/08-cairo-1-support/01-requirements.md
  website/docs/tutorials/08-cairo-1-support/02-project-initialization.md
Owners: @MaksymilianDemitraszek

Apply suggestions from code review
  website/docs/tutorials/08-cairo-1-support/01-understanding-cairo-packages.md
  website/docs/tutorials/08-cairo-1-support/03-protostar-toml.md
Owners: @MaksymilianDemitraszek

Remove mentions of "default" files
  website/docs/tutorials/08-cairo-1-support/01-understanding-cairo-packages.md
Owners: @MaksymilianDemitraszek

Remove cairo_project.toml and lib.cairo explanations from 02-project-initialization.md
  website/docs/tutorials/08-cairo-1-support/01-understanding-cairo-packages.md
  website/docs/tutorials/08-cairo-1-support/02-project-initialization.md
Owners: @MaksymilianDemitraszek

Extend docs about project initialization
  website/docs/tutorials/08-cairo-1-support/02-project-initialization.md
Owners: @MaksymilianDemitraszek

Use more abstract examples
  website/docs/tutorials/08-cairo-1-support/01-understanding-cairo-packages.md
Owners: @MaksymilianDemitraszek

Reword intro
  website/docs/tutorials/08-cairo-1-support/01-understanding-cairo-packages.md
Owners: @MaksymilianDemitraszek

Remove duplicated docs from 01-requirements.md
  website/docs/tutorials/08-cairo-1-support/01-requirements.md
Owners: @MaksymilianDemitraszek

Remove `.cairo` files explanation
  website/docs/tutorials/08-cairo-1-support/01-understanding-cairo-packages.md
Owners: @MaksymilianDemitraszek

Spelling
  website/docs/tutorials/08-cairo-1-support/01-understanding-cairo-packages.md
  website/docs/tutorials/08-cairo-1-support/02-project-initialization.md
Owners: @MaksymilianDemitraszek

Package, module consistency
  website/docs/tutorials/08-cairo-1-support/01-requirements.md
Owners: @MaksymilianDemitraszek

Add separate sections for files and directories
  website/docs/tutorials/08-cairo-1-support/02-project-initialization.md
Owners: @MaksymilianDemitraszek

Show using `use` syntax
  website/docs/tutorials/08-cairo-1-support/02-project-initialization.md
Owners: @MaksymilianDemitraszek

Reword package definition
  website/docs/tutorials/08-cairo-1-support/01-understanding-cairo-packages.md
Owners: @MaksymilianDemitraszek

Link official cairo docs
  website/docs/tutorials/08-cairo-1-support/01-understanding-cairo-packages.md
Owners: @MaksymilianDemitraszek

Add comma
  website/docs/tutorials/08-cairo-1-support/01-understanding-cairo-packages.md
Owners: @MaksymilianDemitraszek

Add warning about multiple contracts
  website/docs/tutorials/08-cairo-1-support/02-project-initialization.md
Owners: @MaksymilianDemitraszek

Styling and spelling
  website/docs/tutorials/08-cairo-1-support/02-project-initialization.md
Owners: @MaksymilianDemitraszek

Apply suggestions from code review
  website/docs/tutorials/08-cairo-1-support/01-understanding-cairo-packages.md
  website/docs/tutorials/08-cairo-1-support/02-project-initialization.md
Owners: @MaksymilianDemitraszek

Package, module consistency; directories fixes
  website/docs/tutorials/08-cairo-1-support/01-requirements.md
  website/docs/tutorials/08-cairo-1-support/02-project-initialization.md
Owners: @MaksymilianDemitraszek

Add missing backticks
  website/docs/tutorials/08-cairo-1-support/01-understanding-cairo-packages.md
Owners: @MaksymilianDemitraszek

Add links
  website/docs/tutorials/08-cairo-1-support/02-project-initialization.md
Owners: @MaksymilianDemitraszek

Use simpler directory structure in example
  website/docs/tutorials/08-cairo-1-support/01-understanding-cairo-packages.md
Owners: @MaksymilianDemitraszek

Fix file name
  website/docs/tutorials/08-cairo-1-support/01-understanding-cairo-packages.md
Owners: @MaksymilianDemitraszek

Create pull_request_template.md
  .github/pull_request_template.md
Owners: @Arcticae

Added relevant docs
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/deploy_contract.md
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/deploy_contract_cairo.md
Owners: @MaksymilianDemitraszek

added e2e test with multiple contracts, changed the way contract dependencies are fetched, refactored code
  protostar/commands/cairo1_commands/build_cairo1_command.py
  protostar/commands/cairo1_commands/fetch_from_scarb.py
  protostar/commands/cairo1_commands/test_cairo1_command.py
  tests/e2e/cairo1/test_building_contracts_scarb.py
  tests/e2e/cairo1/test_testing_scarb.py
  tests/e2e/fixtures/scarb_integration/multiple_contracts/Scarb.toml
  tests/e2e/fixtures/scarb_integration/multiple_contracts/bar_contract/Scarb.toml
  tests/e2e/fixtures/scarb_integration/multiple_contracts/bar_contract/cairo_project.toml
  tests/e2e/fixtures/scarb_integration/multiple_contracts/bar_contract/src/bar.cairo
  tests/e2e/fixtures/scarb_integration/multiple_contracts/bar_contract/src/lib.cairo
  tests/e2e/fixtures/scarb_integration/multiple_contracts/cairo_project.toml
  tests/e2e/fixtures/scarb_integration/multiple_contracts/foo_contract/Scarb.toml
  tests/e2e/fixtures/scarb_integration/multiple_contracts/foo_contract/cairo_project.toml
  tests/e2e/fixtures/scarb_integration/multiple_contracts/foo_contract/src/foo.cairo
  tests/e2e/fixtures/scarb_integration/multiple_contracts/foo_contract/src/lib.cairo
  tests/e2e/fixtures/scarb_integration/multiple_contracts/protostar.toml
  tests/e2e/fixtures/scarb_integration/multiple_contracts/src/lib.cairo
  tests/e2e/fixtures/scarb_integration/multiple_contracts/tests/test_bar.cairo
  tests/e2e/fixtures/scarb_integration/multiple_contracts/tests/test_foo.cairo
Owners: @Arcticae

Added cairo compiler to version
  protostar.spec
  protostar/self/protostar_directory.py
  tests/e2e/test_misc_commands.py
Owners: @Arcticae, @MaksymilianDemitraszek

Added compiler to version flag
  protostar/self/protostar_directory.py
  tests/e2e/test_misc_commands.py
Owners: @MaksymilianDemitraszek, @Arcticae

fixed broken e2e tests
  protostar/commands/cairo1_commands/fetch_from_scarb.py
Owners: @Arcticae

Updated docs
  protostar/protostar_cli.py
  website/docs/cli-reference.md
  website/docs/tutorials/05-compiling.md
Owners: @MaksymilianDemitraszek

Add impl for RevertedTransactions
  protostar/cairo_testing/cairo_injectable_function_runner.py
  protostar/cheatable_starknet/callable_hint_locals/callable_hint_local.py
  protostar/cheatable_starknet/callable_hint_locals/deploy_hint_local.py
  protostar/cheatable_starknet/controllers/contracts.py
  protostar/cheatable_starknet/controllers/transaction_revert_exception.py
  tests/integration/cairo1/hint_locals/call/data/with_ctor_panic/lib.cairo
  tests/integration/cairo1/hint_locals/call/test_call.py
  tests/integration/cairo1/hint_locals/deploy/deploy_test.cairo
  tests/integration/cairo1/hint_locals/deploy/test_deploy.py
  tests/integration/cairo1/hint_locals/invoke/invoke_test.cairo
  tests/integration/cairo1/hint_locals/invoke/test_invoke.py
  tests/integration/cairo1_hint_locals/call/call_test.cairo
  tests/integration/cairo1_hint_locals/call/data/panicking_contract/cairo_project.toml
  tests/integration/cairo1_hint_locals/call/data/panicking_contract/lib.cairo
  tests/integration/cairo1_hint_locals/invoke/data/panicking_contract/cairo_project.toml
  tests/integration/cairo1_hint_locals/invoke/data/panicking_contract/lib.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

Stop catching all exceptions in `HintLocal`s
  protostar/cheatable_starknet/callable_hint_locals/callable_hint_local.py
Owners: @MaksymilianDemitraszek

Narrow down type of exception caught in hintlocal
  protostar/cheatable_starknet/callable_hint_locals/deploy_hint_local.py
Owners: @MaksymilianDemitraszek
