Repository software-mansion/protostar, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arcticae, @MaksymilianDemitraszek, @Radinyn

Add cairo1 prank cheatcode (#1810)
  protostar/cheatable_starknet/callable_hint_locals/__init__.py
  protostar/cheatable_starknet/callable_hint_locals/start_prank_hint_local.py
  protostar/cheatable_starknet/callable_hint_locals/stop_prank_hint_local.py
  protostar/cheatable_starknet/controllers/contracts.py
  tests/integration/cairo1/hint_locals/prank/data/pranked/cairo_project.toml
  tests/integration/cairo1/hint_locals/prank/data/pranked/lib.cairo
  tests/integration/cairo1/hint_locals/prank/data/with_constructor/cairo_project.toml
  tests/integration/cairo1/hint_locals/prank/data/with_constructor/lib.cairo
  tests/integration/cairo1/hint_locals/prank/prank_test.cairo
  tests/integration/cairo1/hint_locals/prank/test_prank.py
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/start_prank.md
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/stop_prank.md
Owners: @MaksymilianDemitraszek, @Arcticae

Remove obsolete test
  tests/integration/cairo1/hint_locals/prepare/data/minimal_custom_structures/cairo_project.toml
  tests/integration/cairo1/hint_locals/prepare/data/minimal_custom_structures/lib.cairo
  tests/integration/cairo1/hint_locals/prepare/prepare_test.cairo
  tests/integration/cairo1/hint_locals/prepare/test_prepare.py
Owners: @Arcticae

Moved exception next to bindings
  protostar/cairo/cairo_bindings.py
  protostar/cairo/cairo_exceptions.py
  protostar/compiler/project_compiler.py
  protostar/testing/test_collector.py
Owners: @MaksymilianDemitraszek, @Arcticae

Improved error for build command
  protostar/commands/cairo1_commands/build_cairo1_command.py
Owners: @Arcticae

remove redundant code
  protostar/cheatable_starknet/callable_hint_locals/print_hint_local.py
  protostar/cheatable_starknet/controllers/__init__.py
  protostar/cheatable_starknet/controllers/io.py
  tests/integration/cairo1_compiler_bindings/print_test/simple/cairo_project.toml
  tests/integration/cairo1_compiler_bindings/print_test/simple/lib.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

f string
  protostar/cheatable_starknet/controllers/io.py
Owners: @MaksymilianDemitraszek

Rename library functions. Remove unused ones (#1845)
  protostar/cheatable_starknet/callable_hint_locals/deploy_hint_local.py
  protostar/cheatable_starknet/callable_hint_locals/prepare_hint_local.py
  tests/integration/cairo1/compiler_bindings/library_functions_test.py
  tests/integration/cairo1/compiler_bindings/library_functions_test/deploy_test.cairo
  tests/integration/cairo1/compiler_bindings/library_functions_test/prepare_test.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

Remove linking not-existing package
  tests/integration/cairo1/hint_locals/prepare/test_prepare.py
Owners: @Arcticae

Prepare extensive tests (#1821)
  tests/integration/cairo1/hint_locals/prepare/data/cairo0.cairo
  tests/integration/cairo1/hint_locals/prepare/data/cairo0_w_ctor.cairo
  tests/integration/cairo1/hint_locals/prepare/data/cairo0_w_ctor_no_args.cairo
  tests/integration/cairo1/hint_locals/prepare/prepare_test.cairo
  tests/integration/cairo1/hint_locals/prepare/test_prepare.py
Owners: @Arcticae

wip
  tests/e2e/conftest.py
  tests/integration/conftest.py
Owners: @Arcticae

black
  tests/e2e/conftest.py
Owners: @Arcticae

Handle Cairo 1 `print` (#1803)
  protostar/cairo_testing/cairo_hint_local_factory.py
  protostar/cheatable_starknet/callable_hint_locals/__init__.py
  protostar/cheatable_starknet/callable_hint_locals/print_hint_local.py
  protostar/cheatable_starknet/controllers/io.py
  tests/integration/cairo1/compiler_bindings/test_print.py
  tests/integration/cairo1/compiler_bindings/test_print/print_test.cairo
  website/docs/tutorials/08-cairo-1-support/07-debugging.md
Owners: @MaksymilianDemitraszek, @Arcticae

release Protostar 0.10.0
  pyproject.toml
Owners: @Arcticae

Use snapshots for prepare
  tests/integration/cairo1/hint_locals/prepare/prepare_test.cairo
  tests/integration/cairo1/hint_locals/prepare/test_prepare.py
Owners: @Arcticae

Update tests
  tests/integration/cairo1/hint_locals/call/call_test.cairo
  tests/integration/cairo1/hint_locals/deploy/deploy_test.cairo
  tests/integration/cairo1/hint_locals/deploy_contract/deploy_contract_test.cairo
  tests/integration/cairo1/hint_locals/deploy_contract_cairo0/deploy_contract_cairo0_test.cairo
  tests/integration/cairo1/hint_locals/invoke/invoke_test.cairo
  tests/integration/cairo1/hint_locals/prank/prank_test.cairo
Owners: @Arcticae

Lint
  protostar/cairo/cairo_bindings.py
  protostar/commands/cairo1_commands/build_cairo1_command.py
  tests/integration/cairo1/compiler_bindings/test_typecheck_test.py
Owners: @MaksymilianDemitraszek, @Arcticae

Simplify deploy_test.cairo
  tests/integration/cairo1/hint_locals/deploy/deploy_test.cairo
Owners: @Arcticae

Update deploy docs
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/deploy.md
Owners: @MaksymilianDemitraszek

Update deploy_contract docs
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/deploy_contract.md
Owners: @MaksymilianDemitraszek

Update deploy_contract_cairo0 docs
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/deploy_contract_cairo0.md
Owners: @MaksymilianDemitraszek

Update invoke docs
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/invoke.md
Owners: @MaksymilianDemitraszek

Update prepare docs
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/prepare.md
Owners: @MaksymilianDemitraszek

Update prank docs
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/start_prank.md
Owners: @MaksymilianDemitraszek

Unify test style
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/call.md
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/declare-cairo0.md
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/declare.md
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/deploy_contract.md
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/deploy_contract_cairo0.md
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/invoke.md
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/prepare.md
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/start_prank.md
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/stop_prank.md
Owners: @MaksymilianDemitraszek

Add section on handling errors to README.md
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/README.md
Owners: @MaksymilianDemitraszek

Remove example error handling from cheatcodes
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/call.md
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/deploy.md
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/invoke.md
Owners: @MaksymilianDemitraszek

wip
  tests/e2e/test_gateway_commands.py
Owners: @Arcticae

Update tests
  tests/integration/cairo1/hint_locals/call/call_test.cairo
  tests/integration/cairo1/hint_locals/call/test_call.py
  tests/integration/cairo1/hint_locals/deploy_contract/deploy_contract_test.cairo
  tests/integration/cairo1/hint_locals/deploy_contract/test_deploy_contract.py
  tests/integration/cairo1/hint_locals/deploy_contract_cairo0/deploy_contract_cairo0_test.cairo
  tests/integration/cairo1/hint_locals/deploy_contract_cairo0/test_deploy_contract_cairo0.py
  tests/integration/cairo1/hint_locals/invoke/invoke_test.cairo
  tests/integration/cairo1/hint_locals/invoke/test_invoke.py
Owners: @Arcticae

1820 nicer exceptions (#1856)
  protostar/cairo/cairo_bindings.py
  protostar/cairo/cairo_exceptions.py
  protostar/commands/cairo1_commands/build_cairo1_command.py
  protostar/compiler/project_compiler.py
  protostar/testing/test_collector.py
  tests/integration/cairo1/compiler_bindings/test_typecheck_test.py
Owners: @MaksymilianDemitraszek, @Arcticae

Fix pyproject.toml version
  poetry.lock
  pyproject.toml
Owners: @Arcticae

Re-lock
  poetry.lock
Owners: @Arcticae

Fix version in `pyproject.toml` (#1858)
  poetry.lock
  pyproject.toml
Owners: @Arcticae

Remove AccountTxVersionDetector
  protostar/starknet_gateway/account_tx_version_detector.py
  protostar/starknet_gateway/gateway_facade.py
Owners: @Arcticae, @Radinyn

Cleanup
  protostar/starknet_gateway/gateway_facade.py
Owners: @Arcticae, @Radinyn

Re-raise exceptions explicitly in except block
  protostar/starknet_gateway/gateway_facade.py
Owners: @Arcticae, @Radinyn

Remove unused `AccountTxVersionDetector` (#1862)
  protostar/starknet_gateway/account_tx_version_detector.py
  protostar/starknet_gateway/gateway_facade.py
Owners: @Arcticae, @Radinyn

Use `List` instead of `list`
  protostar/cheatable_starknet/controllers/contracts.py
Owners: @MaksymilianDemitraszek

Update typing of hints
  protostar/cheatable_starknet/callable_hint_locals/invoke_hint_local.py
  protostar/cheatable_starknet/callable_hint_locals/prepare_hint_local.py
Owners: @MaksymilianDemitraszek

Make invoke default calldata consistent with prepare
  protostar/cheatable_starknet/callable_hint_locals/invoke_hint_local.py
  protostar/cheatable_starknet/controllers/contracts.py
Owners: @MaksymilianDemitraszek

Remove unused data transformation, use `List[int]` for calldata type
  protostar/cheatable_starknet/controllers/contracts.py
Owners: @MaksymilianDemitraszek

.github/CODEOWNERS:

* @Arcticae

/protostar @MaksymilianDemitraszek
/protostar/cli @Arcticae
/protostar/commands @Arcticae
/protostar/commands/declare @Arcticae @Radinyn
/protostar/commands/deploy @Arcticae @Radinyn
/protostar/commands/init @MaksymilianDemitraszek
/protostar/compiler @Arcticae
/protostar/configuration_file @Arcticae
/protostar/formatter @Radinyn
/protostar/git @Radinyn
/protostar/package_manager @Radinyn
/protostar/profiler @MaksymilianDemitraszek
/protostar/starknet @MaksymilianDemitraszek
/protostar/starknet_gateway @Arcticae @Radinyn
/protostar/testing/cheatcodes/load_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/cheatcodes/store_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/fuzzing @Radinyn
/protostar/upgrader @Arcticae

/website @Arcticae
/website/docs @MaksymilianDemitraszek
README.md @MaksymilianDemitraszek
/readme/ @MaksymilianDemitraszek
