Repository software-mansion/protostar, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arcticae, @MaksymilianDemitraszek, @Radinyn

Re-lock after merge
  poetry.lock
Owners: @Arcticae

improve test
  tests/integration/cairo1_hint_locals/deploy/deploy_test.cairo
Owners: @Arcticae

add tests checking the error message
  protostar/cheatable_starknet/callable_hint_locals/callable_hint_local.py
  tests/integration/cairo1_hint_locals/deploy/deploy_test.cairo
  tests/integration/cairo1_hint_locals/deploy/test_deploy.py
Owners: @MaksymilianDemitraszek, @Arcticae

fix errors
  protostar/cheatable_starknet/callable_hint_locals/callable_hint_local.py
  protostar/cheatable_starknet/callable_hint_locals/deploy_hint_local.py
  tests/integration/cairo1_hint_locals/deploy/deploy_test.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

Update CLI docs
  website/docs/cli-reference.md
Owners: @MaksymilianDemitraszek

Adapt CLI to Starknet 0.11.0 (#1678)
  poetry.lock
  protostar/cairo_testing/cairo1_test_runner.py
  protostar/cheatable_starknet/callable_hint_locals/declare_hint_local.py
  protostar/commands/__init__.py
  protostar/commands/cairo1_commands/__init__.py
  protostar/commands/cairo1_commands/declare_cairo1_command.py
  protostar/commands/declare/__init__.py
  protostar/commands/declare/declare_command.py
  protostar/commands/declare/declare_messages.py
  protostar/compiler/project_compiler.py
  protostar/composition_root.py
  protostar/starknet_gateway/gateway_facade.py
  protostar/testing/test_runner.py
  tests/e2e/test_gateway_commands.py
  tests/e2e/test_gateway_commands/balance.cairo
  tests/integration/_conftest/protostar_fixture.py
  tests/integration/_conftest/protostar_fixture_factory.py
  tests/integration/commands/declare_command_test.py
  tests/integration/commands/declare_command_test/balance.cairo
  tests/integration/commands/deploy_command_test.py
  website/docs/cli-reference.md
Owners: @Arcticae, @MaksymilianDemitraszek, @Radinyn

Added gas support
  protostar/cairo/cairo_bindings.py
  tests/integration/cairo1/gas_test.py
Owners: @MaksymilianDemitraszek, @Arcticae

Use project name in cairo1 templates
  protostar/commands/init/project_creator/_project_creator.py
  protostar/commands/init/project_creator/adapted_project_creator.py
  protostar/commands/init/project_creator/new_project_creator.py
  templates/cairo1/src/cairo_project.toml
  templates/cairo1/src/contracts/hello_starknet.cairo
  templates/cairo1/tests/test_utils.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

Fix test syntax
  templates/cairo1/tests/test_main.cairo
Owners: @Arcticae

Add cairo1 init e2e test
  tests/e2e/cairo1/test_cairo1_init.py
Owners: @Arcticae

Add project name validation in cairo1
  protostar/commands/init/project_creator/new_project_creator.py
Owners: @MaksymilianDemitraszek

Add main contract to protostar.toml
  templates/cairo1/protostar.toml
Owners: @Arcticae

New template WIP
  protostar/commands/cairo1_commands/build_cairo1_command.py
  protostar/commands/init/project_creator/_project_creator.py
  templates/cairo1/protostar.toml
  templates/cairo1/src/cairo_project.toml
  templates/cairo1/src/lib.cairo
  templates/cairo1/src/main.cairo
  templates/cairo1/tests/test_main.cairo
Owners: @Arcticae, @MaksymilianDemitraszek

Add new cairo1 template
  templates/cairo1/protostar.toml
  templates/cairo1/src/business_logic.cairo
  templates/cairo1/src/business_logic/utils.cairo
  templates/cairo1/src/cairo_project.toml
  templates/cairo1/src/contracts.cairo
  templates/cairo1/src/contracts/hello_starknet.cairo
  templates/cairo1/src/lib.cairo
  templates/cairo1/tests/test_hello_starknet.cairo
  templates/cairo1/tests/test_utils.cairo
Owners: @Arcticae

Fixed tests
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/tests_collector_and_compiler_test.py
Owners: @Arcticae

Create config per cairo version
  protostar/commands/init/project_creator/new_project_creator.py
Owners: @MaksymilianDemitraszek

Added tests
  tests/integration/cairo1/gas_test.py
  tests/integration/cairo1/gas_test/test.cairo
Owners: @Arcticae

Fixed tests
  protostar/cairo/cairo_bindings.py
  protostar/cairo_testing/cairo1_test_collector.py
  protostar/cairo_testing/cairo1_test_runner.py
  protostar/testing/test_collector.py
  protostar/testing/test_suite.py
  tests/integration/cairo1_compiler_bindings/tests_collector_and_compiler_test.py
Owners: @MaksymilianDemitraszek, @Arcticae

lint
  protostar/cairo/cairo_bindings.py
  protostar/cairo_testing/cairo1_test_collector.py
  protostar/cairo_testing/cairo1_test_runner.py
  protostar/testing/test_collector.py
  protostar/testing/test_suite.py
Owners: @MaksymilianDemitraszek

Add another newline to protostar.toml
  templates/cairo1/protostar.toml
Owners: @Arcticae

Add cairo1 init test
  tests/integration/commands/init_command_test.py
  tests/integration/commands/init_command_test/project_name/protostar.toml
  tests/integration/commands/init_command_test/project_name/src/business_logic.cairo
  tests/integration/commands/init_command_test/project_name/src/business_logic/utils.cairo
  tests/integration/commands/init_command_test/project_name/src/cairo_project.toml
  tests/integration/commands/init_command_test/project_name/src/contracts.cairo
  tests/integration/commands/init_command_test/project_name/src/contracts/hello_starknet.cairo
  tests/integration/commands/init_command_test/project_name/src/lib.cairo
  tests/integration/commands/init_command_test/project_name/tests/test_hello_starknet.cairo
  tests/integration/commands/init_command_test/project_name/tests/test_utils.cairo
Owners: @Arcticae

add cairo0 test
  tests/integration/cairo1_hint_locals/deploy/data/cairo0.cairo
  tests/integration/cairo1_hint_locals/deploy/deploy_test.cairo
  tests/integration/cairo1_hint_locals/deploy/test_deploy.py
Owners: @Arcticae

fix
  protostar/testing/test_collector.py
Owners: @MaksymilianDemitraszek

fixed conversion
  protostar/testing/test_suite.py
Owners: @MaksymilianDemitraszek

add e2e scarb integration test with modules, update github actions
  .github/workflows/checks.yml
  tests/e2e/cairo1/test_cairo1_testing.py
  tests/e2e/cairo1/test_simple_scarb_integration.py
  tests/e2e/fixtures/cairo1_scarb_integration/Scarb.toml
  tests/e2e/fixtures/cairo1_scarb_integration/protostar.toml
  tests/e2e/fixtures/cairo1_scarb_integration/src/cairo_project.toml
  tests/e2e/fixtures/cairo1_scarb_integration/src/internal_mod_bar.cairo
  tests/e2e/fixtures/cairo1_scarb_integration/src/internal_mod_bar/bar.cairo
  tests/e2e/fixtures/cairo1_scarb_integration/src/internal_mod_foo.cairo
  tests/e2e/fixtures/cairo1_scarb_integration/src/internal_mod_foo/foo.cairo
  tests/e2e/fixtures/cairo1_scarb_integration/src/lib.cairo
  tests/e2e/fixtures/cairo1_scarb_integration/tests/test_internal_deps.cairo
Owners: @Arcticae

update todo comment
  tests/integration/cairo1_hint_locals/deploy/deploy_test.cairo
Owners: @Arcticae

add storage test
  tests/integration/cairo1_hint_locals/deploy/data/with_storage.cairo
  tests/integration/cairo1_hint_locals/deploy/deploy_test.cairo
  tests/integration/cairo1_hint_locals/deploy/test_deploy.py
Owners: @Arcticae

github actions fix
  .github/workflows/checks.yml
Owners: @Arcticae

github actions testing
  .github/workflows/checks.yml
Owners: @Arcticae

add a ctor that uses storage
  tests/integration/cairo1_hint_locals/deploy/data/with_storage.cairo
Owners: @Arcticae

Deploy cairo1 impl (#1716)
  protostar/cheatable_starknet/callable_hint_locals/callable_hint_local.py
  protostar/cheatable_starknet/callable_hint_locals/deploy_hint_local.py
  protostar/cheatable_starknet/controllers/contracts.py
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_hint_locals/deploy/data/cairo0.cairo
  tests/integration/cairo1_hint_locals/deploy/data/minimal.cairo
  tests/integration/cairo1_hint_locals/deploy/data/with_ctor.cairo
  tests/integration/cairo1_hint_locals/deploy/data/with_ctor_panic.cairo
  tests/integration/cairo1_hint_locals/deploy/data/with_storage.cairo
  tests/integration/cairo1_hint_locals/deploy/deploy_test.cairo
  tests/integration/cairo1_hint_locals/deploy/test_deploy.py
Owners: @MaksymilianDemitraszek, @Arcticae

Add test which imports from a contract
  tests/integration/cairo1_compiler_bindings/data/external_contract/cairo_project.toml
  tests/integration/cairo1_compiler_bindings/data/external_contract/contract.cairo
  tests/integration/cairo1_compiler_bindings/data/external_contract/lib.cairo
  tests/integration/cairo1_compiler_bindings/tests_collector_and_compiler_test.py
  tests/integration/cairo1_compiler_bindings/tests_collector_and_compiler_test/test_with_contract_deps.cairo
Owners: @Arcticae

Refactor ProtostarFixture and related logic into ProtostarFixture and ProtostarProjectFixture
  tests/integration/_conftest/__init__.py
  tests/integration/_conftest/protostar_fixture.py
  tests/integration/_conftest/protostar_project_fixture.py
  tests/integration/conftest.py
Owners: @Arcticae

Use ProtostarProjectFixture in integration tests
  tests/integration/cairo1_hint_locals/declare/test_declare.py
  tests/integration/cairo1_hint_locals/prepare/test_prepare.py
  tests/integration/cheatcodes/declare/declare_contract_test.py
  tests/integration/cheatcodes/deploy_contract/deploy_contract_test.py
  tests/integration/cheatcodes/send_message_to_l2/send_message_to_l2_test.py
  tests/integration/commands/calculate_contract_address_command_test.py
  tests/integration/commands/call_command_test.py
  tests/integration/commands/declare_command_test.py
  tests/integration/commands/deploy_account_command_test.py
  tests/integration/commands/deploy_command_test.py
  tests/integration/commands/invoke_command_test.py
  tests/integration/commands/multicall_command_test.py
  tests/integration/commands/test_command_test.py
  tests/integration/formatter/formatter_test.py
  tests/integration/gateway/gateway_facade_test.py
  tests/integration/gateway/multicall_use_case_test.py
  tests/integration/gateway/uint256_as_input_test.py
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test.py
  tests/integration/pure_cairo_vm/cheatcodes/declare_cairo0_cheatcode_test.py
  tests/integration/testing_cache/test_cache.py
Owners: @Arcticae

Use protostar_fixture_factory in ProtostarProjectFixture to create ProtostarFixture
  tests/integration/_conftest/protostar_project_fixture.py
Owners: @Arcticae

Fix ProtostarProjectFixture in test_deploy
  tests/integration/cairo1_hint_locals/deploy/test_deploy.py
Owners: @Arcticae

further github actions fixes
  .github/workflows/checks.yml
Owners: @Arcticae

remove ls
  .github/workflows/checks.yml
Owners: @Arcticae

github actions
  .github/workflows/checks.yml
Owners: @Arcticae

checks not running :c
  .github/workflows/checks.yml
Owners: @Arcticae

.github/CODEOWNERS:

* @Arcticae

/protostar @MaksymilianDemitraszek
/protostar/cli @Arcticae
/protostar/commands @Arcticae
/protostar/commands/declare @Arcticae @Radinyn
/protostar/commands/deploy @Arcticae @Radinyn
/protostar/commands/init @MaksymilianDemitraszek
/protostar/compiler @Arcticae
/protostar/configuration_file @Arcticae
/protostar/formatter @Radinyn
/protostar/git @Radinyn
/protostar/package_manager @Radinyn
/protostar/profiler @MaksymilianDemitraszek
/protostar/starknet @MaksymilianDemitraszek
/protostar/starknet_gateway @Arcticae @Radinyn
/protostar/testing/cheatcodes/load_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/cheatcodes/store_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/fuzzing @Radinyn
/protostar/upgrader @Arcticae

/website @Arcticae
/website/docs @MaksymilianDemitraszek
README.md @MaksymilianDemitraszek
/readme/ @MaksymilianDemitraszek
