Repository software-mansion/protostar, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arcticae, @MaksymilianDemitraszek, @Radinyn

Check cheatcodes return values (#1687)
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/call_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/declare_cairo0_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/declare_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/deploy_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/prepare_test.cairo
Owners: @Arcticae

Cairo code fixes
  templates/cairo1/src/main.cairo
  tests/e2e/fixtures/basic_cairo1.cairo
  tests/e2e/fixtures/cairo1/failing_test.cairo
  tests/e2e/fixtures/cairo1_build/src/main.cairo
  tests/e2e/fixtures/cairo1_modules/src/mod1_cairo1/mod1_code.cairo
  tests/e2e/fixtures/cairo1_modules/src/mod2_cairo1/mod2_code.cairo
  tests/e2e/fixtures/cairo_0_1_mixed/src/calculate_cairo1.cairo
  tests/integration/cairo1/builtins_test/test.cairo
  tests/integration/cairo1/cairo_runner_facade_test/test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/call_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/declare_cairo0_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/declare_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/deploy_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/invoke_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/mock_call_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/prepare_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/roll_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/start_prank_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/stop_prank_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/warp_test.cairo
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test/basic_starknet_contract.cairo
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test/basic_starknet_test.cairo
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test/starknet_contract_with_builtins.cairo
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test/starknet_project/basic_starknet_contract.cairo
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test/starknet_project/basic_starknet_contract_nested_deps.cairo
  tests/integration/cairo1_compiler_bindings/test_typecheck_test/test_with_args.cairo
  tests/integration/cairo1_compiler_bindings/test_typecheck_test/test_with_ret_vals.cairo
  tests/integration/cairo1_compiler_bindings/tests_collector_and_compiler_test/enum_contract.cairo
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test/test_cairo1_failing.cairo
  tests/integration/pure_cairo_vm/cheatcodes/declare_cairo0_cheatcode_test/declare_cairo0_test.cairo
Owners: @Arcticae

tests
  tests/e2e/fixtures/cairo1/failing_test.cairo
  tests/integration/cairo1/cairo_runner_facade_test/test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/call_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/declare_cairo0_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/declare_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/deploy_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/invoke_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/mock_call_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/prepare_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/roll_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/start_prank_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/stop_prank_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/warp_test.cairo
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test/test_cairo1_failing.cairo
  tests/integration/pure_cairo_vm/cheatcodes/declare_cairo0_cheatcode_test/declare_cairo0_test.cairo
Owners: @Arcticae

fix
  tests/integration/pure_cairo_vm/cheatcodes/declare_cairo0_cheatcode_test/declare_cairo0_test.cairo
Owners: @Arcticae

Bump bindings to alpha6 (#1694)
  templates/cairo1/src/main.cairo
  tests/e2e/fixtures/basic_cairo1.cairo
  tests/e2e/fixtures/cairo1/failing_test.cairo
  tests/e2e/fixtures/cairo1_build/src/main.cairo
  tests/e2e/fixtures/cairo1_modules/src/mod1_cairo1/mod1_code.cairo
  tests/e2e/fixtures/cairo1_modules/src/mod2_cairo1/mod2_code.cairo
  tests/e2e/fixtures/cairo_0_1_mixed/src/calculate_cairo1.cairo
  tests/integration/cairo1/builtins_test/test.cairo
  tests/integration/cairo1/cairo_runner_facade_test/test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/call_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/declare_cairo0_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/declare_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/deploy_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/invoke_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/mock_call_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/prepare_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/roll_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/start_prank_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/stop_prank_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/warp_test.cairo
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test/basic_starknet_contract.cairo
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test/basic_starknet_test.cairo
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test/starknet_contract_with_builtins.cairo
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test/starknet_project/basic_starknet_contract.cairo
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test/starknet_project/basic_starknet_contract_nested_deps.cairo
  tests/integration/cairo1_compiler_bindings/test_typecheck_test/test_with_args.cairo
  tests/integration/cairo1_compiler_bindings/test_typecheck_test/test_with_ret_vals.cairo
  tests/integration/cairo1_compiler_bindings/tests_collector_and_compiler_test/enum_contract.cairo
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test/test_cairo1_failing.cairo
  tests/integration/pure_cairo_vm/cheatcodes/declare_cairo0_cheatcode_test/declare_cairo0_test.cairo
Owners: @Arcticae

Fix typo in error message
  protostar/cheatable_starknet/callable_hint_locals/declare_hint_local.py
Owners: @MaksymilianDemitraszek

Use ProjectCompiler in declare hint local
  protostar/cairo_testing/cairo_hint_local_factory.py
  protostar/cheatable_starknet/callable_hint_locals/declare_hint_local.py
Owners: @MaksymilianDemitraszek

Add nonexistent contract test
  tests/integration/cairo1_cheatcodes/declare/declare_test.cairo
  tests/integration/cairo1_cheatcodes/declare/test_declare.py
Owners: @Arcticae

Add cairo 1 declare
  protostar/cairo_testing/cairo_hint_local_factory.py
  protostar/cheatable_starknet/callable_hint_locals/__init__.py
Owners: @MaksymilianDemitraszek

Mock InternalDeclare
  protostar/cheatable_starknet/controllers/contracts.py
Owners: @MaksymilianDemitraszek

Extend declare hint local tests
  tests/integration/cairo1_cheatcodes/declare/data/broken.cairo
  tests/integration/cairo1_cheatcodes/declare/data/cairo0.cairo
  tests/integration/cairo1_cheatcodes/declare/declare_test.cairo
  tests/integration/cairo1_cheatcodes/declare/test_declare.py
Owners: @Arcticae

Explain the hack
  protostar/cheatable_starknet/controllers/contracts.py
Owners: @MaksymilianDemitraszek

Update test and directory name
  tests/integration/cairo1_hint_locals/declare/data/broken.cairo
  tests/integration/cairo1_hint_locals/declare/data/cairo0.cairo
  tests/integration/cairo1_hint_locals/declare/data/minimal.cairo
  tests/integration/cairo1_hint_locals/declare/declare_test.cairo
  tests/integration/cairo1_hint_locals/declare/test_declare.py
Owners: @Arcticae

Remove unused methods and exception
  protostar/compiler/__init__.py
  protostar/compiler/cairo0_project_compiler.py
  protostar/compiler/project_compiler.py
  protostar/compiler/project_compiler_exceptions.py
Owners: @Arcticae

Fix .pylintrc
  .pylintrc
Owners: @Arcticae

Remove contract_class_utils.py
  protostar/cheatable_starknet/controllers/contract_class_utils.py
Owners: @MaksymilianDemitraszek

Update declare test
  tests/integration/cairo1_cheatcodes/declare/declare_test.cairo
  tests/integration/cairo1_cheatcodes/declare/test_declare.py
Owners: @Arcticae

Expand project_compiler.py
  protostar/compiler/project_compiler.py
Owners: @Arcticae

Fix project compiler exceptions
  protostar/compiler/project_compiler.py
Owners: @Arcticae

Ignore pylint
  protostar/cairo_testing/cairo_test_execution_state.py
Owners: @MaksymilianDemitraszek

Update declare hint local
  protostar/cheatable_starknet/callable_hint_locals/declare_hint_local.py
  protostar/cheatable_starknet/controllers/contracts.py
Owners: @MaksymilianDemitraszek

Move declare definition inside _build
  protostar/cheatable_starknet/callable_hint_locals/declare_hint_local.py
Owners: @MaksymilianDemitraszek

Expose contract_name in ContractNameNotFoundException
  protostar/configuration_file/configuration_file.py
Owners: @Arcticae

Use ProjectCompiler
  protostar/cairo_testing/cairo1_test_runner.py
  protostar/cairo_testing/cairo_hint_local_factory.py
  protostar/cairo_testing/cairo_test_execution_state.py
  protostar/cairo_testing/execution_environments/cairo_setup_case_execution_environment.py
  protostar/cairo_testing/execution_environments/cairo_setup_execution_environment.py
  protostar/cairo_testing/execution_environments/cairo_test_execution_environment.py
  protostar/cheatable_starknet/callable_hint_locals/declare_hint_local.py
  protostar/testing/environments/common_test_cheatcode_factory.py
  protostar/testing/starkware/contract_based_test_execution_state.py
  protostar/testing/starkware/test_execution_state.py
  protostar/testing/test_runner.py
Owners: @MaksymilianDemitraszek

Remove lib.cairo and cairo_project.toml from declare test
  tests/integration/cairo1_cheatcodes/declare/data/cairo_project.toml
  tests/integration/cairo1_cheatcodes/declare/data/lib.cairo
Owners: @Arcticae

Bump cairo bindings
  tests/integration/cairo1_cheatcodes/declare/data/minimal.cairo
Owners: @Arcticae

Test declare hint local
  tests/integration/cairo1_cheatcodes/declare/data/cairo_project.toml
  tests/integration/cairo1_cheatcodes/declare/data/lib.cairo
  tests/integration/cairo1_cheatcodes/declare/declare_test.cairo
  tests/integration/cairo1_cheatcodes/declare/minimal.cairo
  tests/integration/cairo1_cheatcodes/declare/test_declare.py
Owners: @Arcticae

Move compiler types and exceptions to separate files, extract cairo1 logic to separate compiler
  protostar/compiler/__init__.py
  protostar/compiler/cairo0_project_compiler.py
  protostar/compiler/project_compiler.py
  protostar/compiler/project_compiler_exceptions.py
  protostar/compiler/project_compiler_types.py
Owners: @Arcticae

Add error handling to DeclareHintLocal
  protostar/cheatable_starknet/callable_hint_locals/declare_hint_local.py
Owners: @MaksymilianDemitraszek

Remove todo
  protostar/cheatable_starknet/controllers/contracts.py
Owners: @MaksymilianDemitraszek

Use absolute imports in compilers
  protostar/compiler/__init__.py
  protostar/compiler/cairo0_project_compiler.py
  tests/integration/project_compiler/project_compiler_test.py
Owners: @Arcticae

Rename ProjectCompiler to Cairo0ProjectCompiler
  protostar/cairo_testing/cairo1_test_runner.py
  protostar/cairo_testing/cairo_hint_local_factory.py
  protostar/cairo_testing/cairo_test_execution_state.py
  protostar/cheatable_starknet/callable_hint_locals/declare_cairo0_hint_local.py
  protostar/cheatable_starknet/callable_hint_locals/declare_hint_local.py
  protostar/commands/build_command.py
  protostar/compiler/__init__.py
  protostar/compiler/cairo0_project_compiler.py
  protostar/composition_root.py
  protostar/testing/cheatcodes/declare_cheatcode.py
  protostar/testing/starkware/contract_based_test_execution_state.py
  protostar/testing/starkware/test_execution_state.py
  protostar/testing/test_runner.py
  tests/integration/_conftest/protostar_fixture_factory.py
  tests/integration/project_compiler/project_compiler_test.py
Owners: @MaksymilianDemitraszek, @Arcticae

Fix error message typo
  protostar/cheatable_starknet/controllers/contracts.py
Owners: @MaksymilianDemitraszek

Raise custom exception instead of ValueError
  protostar/cheatable_starknet/controllers/contracts.py
Owners: @MaksymilianDemitraszek

Add `declare_sierra_contract` to ContractsController
  protostar/cheatable_starknet/controllers/contract_class_utils.py
  protostar/cheatable_starknet/controllers/contracts.py
Owners: @MaksymilianDemitraszek

Move compiled_class_hash computation to ContractsController
  protostar/cheatable_starknet/callable_hint_locals/declare_hint_local.py
  protostar/cheatable_starknet/controllers/contracts.py
Owners: @MaksymilianDemitraszek

Use multiline comment
  protostar/cheatable_starknet/controllers/contracts.py
Owners: @MaksymilianDemitraszek

Fix docstring
  protostar/cheatable_starknet/controllers/contracts.py
Owners: @MaksymilianDemitraszek

Format
  protostar/cheatable_starknet/controllers/contracts.py
Owners: @MaksymilianDemitraszek

Extract compilation to helper method
  protostar/cheatable_starknet/callable_hint_locals/declare_hint_local.py
Owners: @MaksymilianDemitraszek

.github/CODEOWNERS:

* @Arcticae

/protostar @MaksymilianDemitraszek
/protostar/cli @Arcticae
/protostar/commands @Arcticae
/protostar/commands/declare @Arcticae @Radinyn
/protostar/commands/deploy @Arcticae @Radinyn
/protostar/commands/init @MaksymilianDemitraszek
/protostar/compiler @Arcticae
/protostar/configuration_file @Arcticae
/protostar/formatter @Radinyn
/protostar/git @Radinyn
/protostar/package_manager @Radinyn
/protostar/profiler @MaksymilianDemitraszek
/protostar/starknet @MaksymilianDemitraszek
/protostar/starknet_gateway @Arcticae @Radinyn
/protostar/testing/cheatcodes/load_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/cheatcodes/store_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/fuzzing @Radinyn
/protostar/upgrader @Arcticae

/website @Arcticae
/website/docs @MaksymilianDemitraszek
README.md @MaksymilianDemitraszek
/readme/ @MaksymilianDemitraszek
