Repository software-mansion/protostar, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arcticae, @MaksymilianDemitraszek, @Radinyn

.github/CODEOWNERS:

* @Arcticae

/protostar @MaksymilianDemitraszek
/protostar/cli @Arcticae
/protostar/commands @Arcticae
/protostar/commands/declare @Arcticae @Radinyn
/protostar/commands/deploy @Arcticae @Radinyn
/protostar/commands/init @MaksymilianDemitraszek
/protostar/compiler @Arcticae
/protostar/configuration_file @Arcticae
/protostar/formatter @Radinyn
/protostar/git @Radinyn
/protostar/package_manager @Radinyn
/protostar/profiler @MaksymilianDemitraszek
/protostar/starknet @MaksymilianDemitraszek
/protostar/starknet_gateway @Arcticae @Radinyn
/protostar/testing/cheatcodes/load_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/cheatcodes/store_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/fuzzing @Radinyn
/protostar/upgrader @Arcticae

/website @Arcticae
/website/docs @MaksymilianDemitraszek
README.md @MaksymilianDemitraszek
/readme/ @MaksymilianDemitraszek

Fix invoke hintlocal test
  tests/integration/cairo1_hint_locals/invoke/test_invoke.py
Owners: @Arcticae

Added cairo1 prepare docs
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/prepare.md
Owners: @MaksymilianDemitraszek

Add testing invoke state changes vs call
  tests/integration/cairo1_hint_locals/invoke/invoke_test.cairo
  tests/integration/cairo1_hint_locals/invoke/test_invoke.py
Owners: @Arcticae

Add declare v2 cli docs
  website/docs/tutorials/08-cairo-1-support/04-interacting-with-starknet/README.md
  website/docs/tutorials/08-cairo-1-support/04-interacting-with-starknet/declare.md
Owners: @MaksymilianDemitraszek

Update felt to felt252
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/declare-cairo0.md
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/declare.md
Owners: @MaksymilianDemitraszek

Cairo1 invoke impl (#1733)
  protostar/cheatable_starknet/callable_hint_locals/invoke_hint_local.py
  tests/integration/cairo1_hint_locals/invoke/data/cairo0.cairo
  tests/integration/cairo1_hint_locals/invoke/data/get_set.cairo
  tests/integration/cairo1_hint_locals/invoke/data/get_set_with_ctor.cairo
  tests/integration/cairo1_hint_locals/invoke/invoke_test.cairo
  tests/integration/cairo1_hint_locals/invoke/test_invoke.py
Owners: @MaksymilianDemitraszek, @Arcticae

Hotfix: Uint256 pickling fuzzing issue (#1757)
  protostar/testing/fuzzing/strategies/uint256.py
Owners: @Radinyn

Update declare and declare-cairo0 docs (#1766)
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/declare-cairo0.md
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/declare.md
Owners: @MaksymilianDemitraszek

Apply suggestions from code review
  website/docs/tutorials/08-cairo-1-support/04-interacting-with-starknet/README.md
  website/docs/tutorials/08-cairo-1-support/04-interacting-with-starknet/declare.md
Owners: @MaksymilianDemitraszek

Simplify description
  website/docs/tutorials/08-cairo-1-support/04-interacting-with-starknet/README.md
Owners: @MaksymilianDemitraszek

comment quaireaux test
  tests/e2e/cairo1/test_simple_scarb_integration.py
Owners: @Arcticae

Add declare v2 cli docs (#1765)
  website/docs/tutorials/08-cairo-1-support/04-interacting-with-starknet/README.md
  website/docs/tutorials/08-cairo-1-support/04-interacting-with-starknet/declare.md
Owners: @MaksymilianDemitraszek

Added cairo1 prepare docs (#1764)
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/prepare.md
Owners: @MaksymilianDemitraszek

Added invoke docs
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/invoke.md
Owners: @MaksymilianDemitraszek

fix prepare test
  tests/integration/cairo1_hint_locals/prepare/data/minimal_no_args/cairo_project.toml
  tests/integration/cairo1_hint_locals/prepare/data/minimal_no_args/lib.cairo
  tests/integration/cairo1_hint_locals/prepare/data/minimal_with_args/cairo_project.toml
  tests/integration/cairo1_hint_locals/prepare/data/minimal_with_args/lib.cairo
  tests/integration/cairo1_hint_locals/prepare/test_prepare.py
Owners: @Arcticae

fix tests
  tests/e2e/fixtures/cairo1_build/src/cairo_project.toml
  tests/e2e/fixtures/cairo1_build/src/lib.cairo
  tests/e2e/fixtures/cairo_0_1_mixed/protostar.toml
  tests/e2e/fixtures/cairo_0_1_mixed/src/calculate_cairo1/cairo_project.toml
  tests/e2e/fixtures/cairo_0_1_mixed/src/calculate_cairo1/lib.cairo
  tests/e2e/fixtures/cairo_0_1_mixed/src/do_nothing_cairo1/cairo_project.toml
  tests/e2e/fixtures/cairo_0_1_mixed/src/do_nothing_cairo1/lib.cairo
  tests/e2e/test_gateway_commands.py
  tests/e2e/test_gateway_commands/cairo1_project/balance/cairo_project.toml
  tests/e2e/test_gateway_commands/cairo1_project/balance/lib.cairo
  tests/e2e/test_gateway_commands/cairo1_project/protostar.toml
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test.py
  tests/integration/commands/declare_command_test.py
  tests/integration/commands/declare_command_test/cairo_project.toml
  tests/integration/commands/declare_command_test/lib.cairo
Owners: @Arcticae

fix call test
  tests/integration/cairo1_hint_locals/call/data/simple/cairo_project.toml
  tests/integration/cairo1_hint_locals/call/data/simple/lib.cairo
  tests/integration/cairo1_hint_locals/call/data/with_ctor/cairo_project.toml
  tests/integration/cairo1_hint_locals/call/data/with_ctor/lib.cairo
  tests/integration/cairo1_hint_locals/call/data/with_ctor_panic/cairo_project.toml
  tests/integration/cairo1_hint_locals/call/data/with_ctor_panic/lib.cairo
  tests/integration/cairo1_hint_locals/call/test_call.py
Owners: @Arcticae

add docs
  website/docs/tutorials/08-cairo-1-support/01-requirements.md
  website/docs/tutorials/08-cairo-1-support/02-project-initialization.md
  website/docs/tutorials/08-cairo-1-support/03-testing.md
Owners: @MaksymilianDemitraszek

address feedback
  website/docs/tutorials/08-cairo-1-support/01-requirements.md
Owners: @MaksymilianDemitraszek

fix declare and deploy tests
  tests/integration/_conftest/protostar_project_fixture.py
  tests/integration/cairo1_hint_locals/declare/data/broken/cairo_project.toml
  tests/integration/cairo1_hint_locals/declare/data/broken/lib.cairo
  tests/integration/cairo1_hint_locals/declare/data/cairo0/cairo_project.toml
  tests/integration/cairo1_hint_locals/declare/data/cairo0/lib.cairo
  tests/integration/cairo1_hint_locals/declare/data/minimal/cairo_project.toml
  tests/integration/cairo1_hint_locals/declare/data/minimal/lib.cairo
  tests/integration/cairo1_hint_locals/declare/test_declare.py
  tests/integration/cairo1_hint_locals/deploy/data/minimal/cairo_project.toml
  tests/integration/cairo1_hint_locals/deploy/data/minimal/lib.cairo
  tests/integration/cairo1_hint_locals/deploy/data/with_ctor/cairo_project.toml
  tests/integration/cairo1_hint_locals/deploy/data/with_ctor/lib.cairo
  tests/integration/cairo1_hint_locals/deploy/data/with_ctor_panic/cairo_project.toml
  tests/integration/cairo1_hint_locals/deploy/data/with_ctor_panic/lib.cairo
  tests/integration/cairo1_hint_locals/deploy/data/with_storage/cairo_project.toml
  tests/integration/cairo1_hint_locals/deploy/data/with_storage/lib.cairo
  tests/integration/cairo1_hint_locals/deploy/test_deploy.py
Owners: @Arcticae

make add_contracts_to_protostar_toml private
  tests/integration/_conftest/protostar_project_fixture.py
Owners: @Arcticae

avoid redundant str cast
  tests/integration/_conftest/protostar_project_fixture.py
Owners: @Arcticae

wip
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test.py
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test/basic_starknet_project/cairo_project.toml
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test/basic_starknet_project/lib.cairo
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test/builtins_starknet_project/cairo_project.toml
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test/builtins_starknet_project/lib.cairo
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test/deps_starknet_project/cairo_project.toml
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test/deps_starknet_project/lib.cairo
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test/nested_deps_starknet_project/cairo_project.toml
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test/nested_deps_starknet_project/lib.cairo
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test/starknet_project/cairo_project.toml
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test/starknet_project/lib.cairo
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test/test_starknet_project/cairo_project.toml
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test/test_starknet_project/lib.cairo
Owners: @Arcticae

new lines
  tests/e2e/fixtures/cairo1_build/src/cairo_project.toml
  tests/e2e/test_gateway_commands/cairo1_project/balance/cairo_project.toml
Owners: @Arcticae

fix crate roots
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test/builtins_starknet_project/cairo_project.toml
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test/deps_starknet_project/cairo_project.toml
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test/nested_deps_starknet_project/cairo_project.toml
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test/test_starknet_project/cairo_project.toml
  tests/integration/cairo1_hint_locals/declare/data/broken/cairo_project.toml
  tests/integration/cairo1_hint_locals/declare/data/cairo0/cairo_project.toml
  tests/integration/cairo1_hint_locals/deploy/data/with_ctor/cairo_project.toml
  tests/integration/cairo1_hint_locals/deploy/data/with_ctor_panic/cairo_project.toml
  tests/integration/cairo1_hint_locals/deploy/data/with_storage/cairo_project.toml
  tests/integration/cairo1_hint_locals/prepare/data/minimal_no_args/cairo_project.toml
  tests/integration/cairo1_hint_locals/prepare/data/minimal_with_args/cairo_project.toml
Owners: @Arcticae

use shutil
  tests/integration/_conftest/protostar_project_fixture.py
Owners: @Arcticae

fix invoke tests
  tests/integration/cairo1_hint_locals/invoke/data/get_set/cairo_project.toml
  tests/integration/cairo1_hint_locals/invoke/data/get_set/lib.cairo
  tests/integration/cairo1_hint_locals/invoke/data/get_set_with_ctor/cairo_project.toml
  tests/integration/cairo1_hint_locals/invoke/data/get_set_with_ctor/lib.cairo
  tests/integration/cairo1_hint_locals/invoke/test_invoke.py
Owners: @Arcticae

Apply suggestions from code review
  tests/integration/cairo1_compiler_bindings/data/external_contract/contract.cairo
  tests/integration/cairo1_compiler_bindings/tests_collector_and_compiler_test/test_with_contract_deps.cairo
Owners: @Arcticae

init
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/deploy.md
Owners: @MaksymilianDemitraszek

init
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/call.md
Owners: @MaksymilianDemitraszek

init
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/deploy.md
Owners: @MaksymilianDemitraszek

remove deploy docs
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/deploy.md
Owners: @MaksymilianDemitraszek

Add deploy Cairo 1 docs (#1772)
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/deploy.md
Owners: @MaksymilianDemitraszek

Add simple assert to template
  templates/cairo1/src/contracts/hello_starknet.cairo
Owners: @Arcticae

Change test
  templates/cairo1/tests/test_hello_starknet.cairo
Owners: @Arcticae

Remove non-functional assert
  templates/cairo1/tests/test_hello_starknet.cairo
Owners: @Arcticae

fix errors
  protostar/cheatable_starknet/callable_hint_locals/callable_hint_local.py
Owners: @MaksymilianDemitraszek

fix test
  tests/integration/cairo1_hint_locals/deploy/test_deploy.py
  tests/integration/cairo1_hint_locals/deploy_contract/test_deploy_contract.py
Owners: @Arcticae

add panicking ctor test
  tests/integration/cairo1_hint_locals/deploy/data/broken.cairo
  tests/integration/cairo1_hint_locals/deploy/data/cairo0.cairo
  tests/integration/cairo1_hint_locals/deploy/test_deploy.py
Owners: @Arcticae

add cairo0 test
  tests/integration/cairo1_hint_locals/deploy/data/cairo0.cairo
Owners: @Arcticae
