Repository software-mansion/protostar, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arcticae, @kasperski95, @mkaput, @MaksymilianDemitraszek, @Radinyn

update msg
  protostar/configuration_file/configuration_file.py
Owners: @kasperski95

Change GitHub discussion mapping method and make it strict (#1040)
  website/src/theme/DocPage/Layout/Main/index.js
Owners: @kasperski95

fix stale comments
  website/src/theme/DocPage/Layout/Main/index.js
Owners: @kasperski95

use mapping by pathname
  website/src/theme/DocPage/Layout/Main/index.js
Owners: @kasperski95

Hot-fix stale comments (#1048)
  website/src/theme/DocPage/Layout/Main/index.js
Owners: @kasperski95

Implement `call` command in a similar manner to `invoke`
  protostar/commands/__init__.py
  protostar/commands/call_command.py
  protostar/composition_root.py
  protostar/starknet_gateway/gateway_facade.py
  tests/integration/commands/call_command_test.py
  tests/integration/commands/getter_contract.cairo
  tests/integration/protostar_fixture.py
Owners: @kasperski95, @mkaput, @MaksymilianDemitraszek, @Arcticae, @Radinyn

Generate ref docs
  website/docs/cli-reference.md
Owners: @MaksymilianDemitraszek

Format, fix types
  tests/integration/commands/call_command_test.py
  tests/integration/protostar_fixture.py
Owners: @Arcticae, @kasperski95

Lint
  tests/integration/commands/call_command_test.py
Owners: @Arcticae, @kasperski95

Enable debug logging
  protostar/git/git_repository.py
Owners: @Radinyn

Enable file transport for all unit tests
  protostar/conftest.py
Owners: @kasperski95, @mkaput, @MaksymilianDemitraszek

Remove fixture, add the conf step to README.md, add setting the git config in checks.yml.
  .github/workflows/checks.yml
  README.md
  protostar/conftest.py
Owners: @Arcticae, @kasperski95, @MaksymilianDemitraszek, @mkaput

Replace slash with a pipe
  .github/workflows/checks.yml
Owners: @Arcticae, @kasperski95

Disable git logging
  protostar/git/git_repository.py
Owners: @Radinyn

Enable git file transport for all unit tests (#1056)
  .github/workflows/checks.yml
  README.md
Owners: @Arcticae, @kasperski95, @MaksymilianDemitraszek

Add trailing newline
  tests/integration/commands/getter_contract.cairo
Owners: @Arcticae, @kasperski95

Implement `call` command (#1053)
  protostar/commands/__init__.py
  protostar/commands/call_command.py
  protostar/composition_root.py
  protostar/starknet_gateway/gateway_facade.py
  tests/integration/commands/call_command_test.py
  tests/integration/commands/getter_contract.cairo
  tests/integration/protostar_fixture.py
  website/docs/cli-reference.md
Owners: @kasperski95, @mkaput, @MaksymilianDemitraszek, @Arcticae, @Radinyn

.github/CODEOWNERS:

* @Arcticae @kasperski95

/protostar @kasperski95 @mkaput @MaksymilianDemitraszek
/protostar/cli @kasperski95
/protostar/commands @kasperski95 @mkaput
/protostar/commands/deploy @Arcticae @kasperski95 @Radinyn
/protostar/commands/declare @Arcticae @kasperski95 @Radinyn
/protostar/commands/init @kasperski95 @MaksymilianDemitraszek
/protostar/commands/migrate @Arcticae @kasperski95 @Radinyn
/protostar/commands/test @mkaput @kasperski95
/protostar/commands/test/fuzzing @mkaput
/protostar/testing/fuzzing @mkaput
/protostar/compiler @kasperski95
/protostar/migrator @Arcticae @kasperski95 @Radinyn
/protostar/formatter @Radinyn
/protostar/protostar_toml @kasperski95
/protostar/configuration_file @kasperski95
/protostar/starknet @MaksymilianDemitraszek
/protostar/profiler @MaksymilianDemitraszek
/protostar/testing/cheatcodes/load_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/cheatcodes/store_cheatcode.py @MaksymilianDemitraszek
/protostar/starknet_gateway @Arcticae @kasperski95 @Radinyn
/protostar/upgrader @kasperski95
/protostar/git @Radinyn
/protostar/package_manager @kasperski95 @Radinyn

/website @kasperski95
/website/docs @MaksymilianDemitraszek
README.md @MaksymilianDemitraszek
/readme/ @MaksymilianDemitraszek
