Repository software-mansion/protostar, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arcticae, @MaksymilianDemitraszek, @Radinyn

Add e2e tests with dependencies (#1601)
  tests/e2e/cairo1/test_cairo1_testing.py
Owners: @Arcticae

test cairo1 deploy
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/deploy_test.cairo
Owners: @Arcticae

add wrapper test
  tests/integration/cairo1_compiler_bindings/library_functions_test/deploy_test.cairo
Owners: @Arcticae

fix condition
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
Owners: @Arcticae

Updated tests, updated parser, builtins hardcoded
  protostar/cairo/cairo1_test_suite_parser.py
  protostar/cairo/cairo_bindings.py
  tests/integration/cairo1/builtins_test.py
Owners: @MaksymilianDemitraszek, @Arcticae

Updated tests
  tests/integration/cairo1/builtins_test/test.cairo
Owners: @Arcticae

Updated runner
  protostar/cairo/cairo_function_runner_facade.py
Owners: @MaksymilianDemitraszek

Test cairo1 deploy (#1597)
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/deploy_test.cairo
Owners: @Arcticae

Added bitwise test
  tests/integration/cairo1/builtins_test/test.cairo
Owners: @Arcticae

cleanup
  protostar/cairo/cairo1_test_suite_parser.py
  protostar/cairo/cairo_bindings.py
  protostar/cairo/cairo_function_runner_facade.py
  tests/integration/cairo1/builtins_test.py
Owners: @MaksymilianDemitraszek, @Arcticae

Update tests/integration/cairo1/builtins_test/test.cairo
  tests/integration/cairo1/builtins_test/test.cairo
Owners: @Arcticae

Update tests/integration/cairo1/builtins_test.py
  tests/integration/cairo1/builtins_test.py
Owners: @Arcticae

Add docs about cairo modules inside project initialization
  website/docs/tutorials/08-cairo-1-support/01-project-initialization.md
Owners: @MaksymilianDemitraszek

Test builtins (#1582)
  protostar/cairo/cairo1_test_suite_parser.py
  protostar/cairo/cairo_bindings.py
  protostar/cairo/cairo_function_runner_facade.py
  tests/integration/cairo1/builtins_test.py
  tests/integration/cairo1/builtins_test/test.cairo
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test.py
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test/starknet_contract_with_builtins.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

Update website/docs/tutorials/08-cairo-1-support/01-project-initialization.md
  website/docs/tutorials/08-cairo-1-support/01-project-initialization.md
Owners: @MaksymilianDemitraszek

Add some warnings about template editing and possible future changes
  website/docs/tutorials/08-cairo-1-support/01-project-initialization.md
Owners: @MaksymilianDemitraszek

Grammar suggestions
  website/docs/tutorials/08-cairo-1-support/01-project-initialization.md
Owners: @MaksymilianDemitraszek

Correct grammar
  website/docs/tutorials/08-cairo-1-support/01-project-initialization.md
Owners: @MaksymilianDemitraszek

Add docs about cairo 1 modules (#1603)
  website/docs/tutorials/08-cairo-1-support/01-project-initialization.md
Owners: @MaksymilianDemitraszek

release Protostar 0.9.2
  pyproject.toml
Owners: @Arcticae

HOTFIX: Change cairo binary building to prod
  .github/workflows/build_binaries.yml
Owners: @Arcticae

Add submodule checkout to build binaries procedure
  .github/workflows/build_binaries.yml
Owners: @Arcticae

init
  tests/e2e/cairo1/test_cairo1_testing.py
  tests/e2e/fixtures/cairo_0_1_mixed/protostar.toml
  tests/e2e/fixtures/cairo_0_1_mixed/src/cairo_project.toml
  tests/e2e/fixtures/cairo_0_1_mixed/src/lib.cairo
  tests/e2e/fixtures/cairo_0_1_mixed/src/main.cairo
  tests/e2e/fixtures/cairo_0_1_mixed/src/mod1_cairo1.cairo
  tests/e2e/fixtures/cairo_0_1_mixed/src/mod1_cairo1/mod1_code.cairo
  tests/e2e/fixtures/cairo_0_1_mixed/src/mod2_cairo1.cairo
  tests/e2e/fixtures/cairo_0_1_mixed/src/mod2_cairo1/mod2_code.cairo
  tests/e2e/fixtures/cairo_0_1_mixed/tests/test_main.cairo
Owners: @Arcticae

add asserts
  tests/e2e/cairo1/test_cairo1_testing.py
Owners: @Arcticae

Use LinkedLibrariesBuilder in create_protostar_fixture when creating TestCommand
  tests/integration/_conftest/protostar_fixture_factory.py
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test.py
Owners: @Arcticae

Add StopPrankHintLocal
  protostar/cairo_testing/cairo_hint_local_factory.py
  protostar/cheatable_starknet/callable_hint_locals/stop_prank_hint_local.py
Owners: @MaksymilianDemitraszek

Test StopPrankHintLocal
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/stop_prank_test.cairo
Owners: @Arcticae

Add newline
  tests/integration/cairo1_compiler_bindings/library_functions_test/stop_prank_test.cairo
Owners: @Arcticae

Add corelib to environment when testing
  protostar/commands/test/test_command.py
Owners: @Arcticae

Release fix: corelib detection in tests (#1613)
  protostar/commands/test/test_command.py
Owners: @Arcticae

Update tests/integration/cairo1_compiler_bindings/library_functions_test/stop_prank_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/stop_prank_test.cairo
Owners: @Arcticae

Sync syscall handlers with starkware OS impl
  protostar/cheatable_starknet/cheatables/cheatable_syscall_handler.py
  protostar/starknet/cheatable_syscall_handler.py
Owners: @MaksymilianDemitraszek

Uncomment fixtures, synchronize starknet.py implementations
  protostar/starknet_gateway/gateway_facade.py
  tests/_conftest/devnet/devnet_account_preparator.py
  tests/conftest.py
Owners: @Arcticae, @Radinyn

Update lock file and add temporary dependencies
  poetry.lock
  pyproject.toml
Owners: @Arcticae

Add `stop_prank` hint local (#1611)
  protostar/cairo_testing/cairo_hint_local_factory.py
  protostar/cheatable_starknet/callable_hint_locals/stop_prank_hint_local.py
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/stop_prank_test.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

Test for cairo1 modules (#1609)
  tests/e2e/cairo1/test_cairo1_testing.py
  tests/e2e/fixtures/cairo_0_1_mixed/protostar.toml
  tests/e2e/fixtures/cairo_0_1_mixed/src/cairo_project.toml
  tests/e2e/fixtures/cairo_0_1_mixed/src/lib.cairo
  tests/e2e/fixtures/cairo_0_1_mixed/src/main.cairo
  tests/e2e/fixtures/cairo_0_1_mixed/src/mod1_cairo1.cairo
  tests/e2e/fixtures/cairo_0_1_mixed/src/mod1_cairo1/mod1_code.cairo
  tests/e2e/fixtures/cairo_0_1_mixed/src/mod2_cairo1.cairo
  tests/e2e/fixtures/cairo_0_1_mixed/src/mod2_cairo1/mod2_code.cairo
  tests/e2e/fixtures/cairo_0_1_mixed/tests/test_main.cairo
Owners: @Arcticae

Set rust version to `nightly-2022-11-03`
  scripts/install_cairo_bindings.sh
Owners: @Arcticae

Set rust version to `nightly-2022-11-03` in `install_cairo_bindings.sh` (#1619)
  scripts/install_cairo_bindings.sh
Owners: @Arcticae

move mixed tests to a separate directory
  tests/e2e/cairo1/test_building.py
  tests/e2e/cairo_0_1_mixed/test_building.py
  tests/e2e/test_building.py
Owners: @Arcticae

fix e2e test
  tests/e2e/test_building.py
Owners: @Arcticae

.github/CODEOWNERS:

* @Arcticae

/protostar @MaksymilianDemitraszek
/protostar/cli @Arcticae
/protostar/commands @Arcticae
/protostar/commands/declare @Arcticae @Radinyn
/protostar/commands/deploy @Arcticae @Radinyn
/protostar/commands/init @MaksymilianDemitraszek
/protostar/compiler @Arcticae
/protostar/configuration_file @Arcticae
/protostar/formatter @Radinyn
/protostar/git @Radinyn
/protostar/package_manager @Radinyn
/protostar/profiler @MaksymilianDemitraszek
/protostar/starknet @MaksymilianDemitraszek
/protostar/starknet_gateway @Arcticae @Radinyn
/protostar/testing/cheatcodes/load_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/cheatcodes/store_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/fuzzing @Radinyn
/protostar/upgrader @Arcticae

/website @Arcticae
/website/docs @MaksymilianDemitraszek
README.md @MaksymilianDemitraszek
/readme/ @MaksymilianDemitraszek
