Repository software-mansion/protostar, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arcticae, @MaksymilianDemitraszek, @Radinyn

.github/CODEOWNERS:

* @Arcticae

/protostar @MaksymilianDemitraszek
/protostar/cli @Arcticae
/protostar/commands @Arcticae
/protostar/commands/declare @Arcticae @Radinyn
/protostar/commands/deploy @Arcticae @Radinyn
/protostar/commands/init @MaksymilianDemitraszek
/protostar/compiler @Arcticae
/protostar/configuration_file @Arcticae
/protostar/formatter @Radinyn
/protostar/git @Radinyn
/protostar/package_manager @Radinyn
/protostar/profiler @MaksymilianDemitraszek
/protostar/starknet @MaksymilianDemitraszek
/protostar/starknet_gateway @Arcticae @Radinyn
/protostar/testing/cheatcodes/load_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/cheatcodes/store_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/fuzzing @Radinyn
/protostar/upgrader @Arcticae

/website @Arcticae
/website/docs @MaksymilianDemitraszek
README.md @MaksymilianDemitraszek
/readme/ @MaksymilianDemitraszek

fixed github actions
  .github/workflows/checks.yml
Owners: @Arcticae

final version of github actions
  .github/workflows/checks.yml
Owners: @Arcticae

revert gas merge
  protostar/cairo/cairo_bindings.py
  protostar/cairo_testing/cairo1_test_collector.py
  protostar/cairo_testing/cairo1_test_runner.py
  protostar/testing/test_collector.py
  protostar/testing/test_suite.py
  tests/integration/cairo1/gas_test.py
  tests/integration/cairo1/gas_test/test.cairo
  tests/integration/cairo1_compiler_bindings/tests_collector_and_compiler_test.py
Owners: @MaksymilianDemitraszek, @Arcticae

added e2e test with user defined libraries
  protostar/commands/cairo1_commands/fetch_from_scarb.py
  tests/e2e/cairo1/test_simple_scarb_integration.py
  tests/e2e/fixtures/cairo1_scarb_integration/Scarb.toml
  tests/e2e/fixtures/scarb_integration/cairo1_scarb_libraries/Scarb.toml
  tests/e2e/fixtures/scarb_integration/cairo1_scarb_libraries/libraries/external_lib_bar/Scarb.toml
  tests/e2e/fixtures/scarb_integration/cairo1_scarb_libraries/libraries/external_lib_bar/cairo_project.toml
  tests/e2e/fixtures/scarb_integration/cairo1_scarb_libraries/libraries/external_lib_bar/src/bar.cairo
  tests/e2e/fixtures/scarb_integration/cairo1_scarb_libraries/libraries/external_lib_bar/src/lib.cairo
  tests/e2e/fixtures/scarb_integration/cairo1_scarb_libraries/libraries/external_lib_foo/Scarb.toml
  tests/e2e/fixtures/scarb_integration/cairo1_scarb_libraries/libraries/external_lib_foo/src/cairo_project.toml
  tests/e2e/fixtures/scarb_integration/cairo1_scarb_libraries/libraries/external_lib_foo/src/foo.cairo
  tests/e2e/fixtures/scarb_integration/cairo1_scarb_libraries/libraries/external_lib_foo/src/lib.cairo
  tests/e2e/fixtures/scarb_integration/cairo1_scarb_libraries/protostar.toml
  tests/e2e/fixtures/scarb_integration/cairo1_scarb_libraries/src/cairo_project.toml
  tests/e2e/fixtures/scarb_integration/cairo1_scarb_libraries/src/lib.cairo
  tests/e2e/fixtures/scarb_integration/cairo1_scarb_libraries/tests/test_libraries.cairo
  tests/e2e/fixtures/scarb_integration/cairo1_scarb_modules/Scarb.toml
  tests/e2e/fixtures/scarb_integration/cairo1_scarb_modules/protostar.toml
  tests/e2e/fixtures/scarb_integration/cairo1_scarb_modules/src/cairo_project.toml
  tests/e2e/fixtures/scarb_integration/cairo1_scarb_modules/src/internal_mod_bar.cairo
  tests/e2e/fixtures/scarb_integration/cairo1_scarb_modules/src/internal_mod_bar/bar.cairo
  tests/e2e/fixtures/scarb_integration/cairo1_scarb_modules/src/internal_mod_foo.cairo
  tests/e2e/fixtures/scarb_integration/cairo1_scarb_modules/src/internal_mod_foo/foo.cairo
  tests/e2e/fixtures/scarb_integration/cairo1_scarb_modules/src/lib.cairo
  tests/e2e/fixtures/scarb_integration/cairo1_scarb_modules/tests/test_modules.cairo
Owners: @Arcticae

Fixes
  protostar/cairo/cairo_bindings.py
  protostar/cairo_testing/cairo1_test_collector.py
  protostar/testing/test_collector.py
  protostar/testing/test_suite.py
  tests/integration/cairo1/builtins_test.py
  tests/integration/cairo1/cairo_runner_facade_test.py
  tests/integration/cairo1/gas_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/test_typecheck_test.py
  tests/integration/cairo1_compiler_bindings/tests_collector_and_compiler_test.py
Owners: @MaksymilianDemitraszek, @Arcticae

Fix protostar_project not found in declare_cairo0_cheatcode_test
  tests/integration/pure_cairo_vm/cheatcodes/declare_cairo0_cheatcode_test.py
Owners: @Arcticae

Type names improvement
  protostar/testing/test_collector.py
  protostar/testing/test_suite.py
Owners: @MaksymilianDemitraszek

Removed panic boilerplate
  tests/integration/cairo1/gas_test/test.cairo
Owners: @Arcticae

fix
  protostar/testing/test_collector.py
Owners: @MaksymilianDemitraszek

Rolled back
  tests/integration/cairo1/gas_test/test.cairo
Owners: @Arcticae

e2e test using online repo
  protostar/commands/cairo1_commands/fetch_from_scarb.py
  tests/e2e/cairo1/test_simple_scarb_integration.py
  tests/e2e/fixtures/scarb_integration/cairo1_scarb_libraries/tests/test_libraries.cairo
  tests/e2e/fixtures/scarb_integration/cairo1_scarb_online_dependencies/Scarb.toml
  tests/e2e/fixtures/scarb_integration/cairo1_scarb_online_dependencies/protostar.toml
  tests/e2e/fixtures/scarb_integration/cairo1_scarb_online_dependencies/src/cairo_project.toml
  tests/e2e/fixtures/scarb_integration/cairo1_scarb_online_dependencies/src/lib.cairo
  tests/e2e/fixtures/scarb_integration/cairo1_scarb_online_dependencies/tests/test_online.cairo
Owners: @Arcticae

Gas support (#1727)
  protostar/cairo/cairo_bindings.py
  protostar/cairo_testing/cairo1_test_collector.py
  protostar/cairo_testing/cairo1_test_runner.py
  protostar/testing/test_collector.py
  protostar/testing/test_suite.py
  tests/integration/cairo1/cairo_runner_facade_test.py
  tests/integration/cairo1/gas_test.py
  tests/integration/cairo1/gas_test/test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/test_typecheck_test.py
  tests/integration/cairo1_compiler_bindings/tests_collector_and_compiler_test.py
Owners: @MaksymilianDemitraszek, @Arcticae

Fix stale ProtostarFixture configuration file (#1735)
  tests/integration/_conftest/__init__.py
  tests/integration/_conftest/protostar_fixture.py
  tests/integration/_conftest/protostar_project_fixture.py
  tests/integration/cairo1_hint_locals/declare/test_declare.py
  tests/integration/cairo1_hint_locals/deploy/test_deploy.py
  tests/integration/cairo1_hint_locals/prepare/test_prepare.py
  tests/integration/cheatcodes/declare/declare_contract_test.py
  tests/integration/cheatcodes/deploy_contract/deploy_contract_test.py
  tests/integration/cheatcodes/send_message_to_l2/send_message_to_l2_test.py
  tests/integration/commands/calculate_contract_address_command_test.py
  tests/integration/commands/call_command_test.py
  tests/integration/commands/declare_command_test.py
  tests/integration/commands/deploy_account_command_test.py
  tests/integration/commands/deploy_command_test.py
  tests/integration/commands/invoke_command_test.py
  tests/integration/commands/multicall_command_test.py
  tests/integration/commands/test_command_test.py
  tests/integration/conftest.py
  tests/integration/formatter/formatter_test.py
  tests/integration/gateway/gateway_facade_test.py
  tests/integration/gateway/multicall_use_case_test.py
  tests/integration/gateway/uint256_as_input_test.py
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test.py
  tests/integration/pure_cairo_vm/cheatcodes/declare_cairo0_cheatcode_test.py
  tests/integration/testing_cache/test_cache.py
Owners: @Arcticae

use list comprehension
  protostar/commands/cairo1_commands/fetch_from_scarb.py
  tests/e2e/fixtures/scarb_integration/cairo1_scarb_libraries/tests/test_libraries.cairo
Owners: @Arcticae

Add deploy_cairo0_contract tests. Remove unnecessary HintLocal.
  protostar/cairo_testing/cairo_hint_local_factory.py
  protostar/cheatable_starknet/callable_hint_locals/__init__.py
  protostar/cheatable_starknet/callable_hint_locals/deploy_contract_hint_local.py
  tests/integration/cairo1_hint_locals/deploy_contract_cairo0/data/cairo0.cairo
  tests/integration/cairo1_hint_locals/deploy_contract_cairo0/data/cairo0_w_ctor.cairo
  tests/integration/cairo1_hint_locals/deploy_contract_cairo0/data/cairo0_w_ctor_error.cairo
  tests/integration/cairo1_hint_locals/deploy_contract_cairo0/deploy_contract_cairo0_test.cairo
  tests/integration/cairo1_hint_locals/deploy_contract_cairo0/test_deploy_contract_cairo0.py
Owners: @MaksymilianDemitraszek, @Arcticae

Restore casm compilation in `build-cairo1`
  protostar/commands/cairo1_commands/build_cairo1_command.py
Owners: @Arcticae

Remove `save_protostar_toml` method, rename `_save_protostar_toml`
  protostar/commands/init/project_creator/_project_creator.py
  protostar/commands/init/project_creator/adapted_project_creator.py
  protostar/commands/init/project_creator/new_project_creator.py
Owners: @MaksymilianDemitraszek

Rename `copy_and_replace_template`
  protostar/commands/init/project_creator/new_project_creator.py
Owners: @MaksymilianDemitraszek

Added basic test
  tests/integration/cairo1/gas_test/test.cairo
Owners: @Arcticae

Fixed tests
  protostar/cairo_testing/cairo1_test_collector.py
  protostar/testing/test_suite.py
Owners: @MaksymilianDemitraszek

lint
  protostar/testing/test_suite.py
Owners: @MaksymilianDemitraszek

Fixes
  protostar/cairo_testing/cairo1_test_collector.py
  protostar/testing/test_suite.py
Owners: @MaksymilianDemitraszek

add test with wrong number of args in ctor
  tests/integration/cairo1_hint_locals/deploy/test_deploy.py
Owners: @Arcticae

fix rebase
  tests/integration/cairo1_hint_locals/deploy/data/cairo0.cairo
  tests/integration/cairo1_hint_locals/deploy/test_deploy.py
Owners: @Arcticae

add tests checking the error message
  protostar/cheatable_starknet/callable_hint_locals/callable_hint_local.py
Owners: @MaksymilianDemitraszek

init
  tests/integration/cairo1_hint_locals/deploy/data/broken.cairo
Owners: @Arcticae

init
  protostar/cheatable_starknet/callable_hint_locals/call_hint_local.py
  protostar/cheatable_starknet/controllers/contracts.py
  tests/integration/cairo1_hint_locals/call/call_test.cairo
  tests/integration/cairo1_hint_locals/call/data/cairo0.cairo
  tests/integration/cairo1_hint_locals/call/data/simple.cairo
  tests/integration/cairo1_hint_locals/call/data/with_ctor.cairo
  tests/integration/cairo1_hint_locals/call/data/with_ctor_panic.cairo
  tests/integration/cairo1_hint_locals/call/test_call.py
Owners: @MaksymilianDemitraszek, @Arcticae

fix errors
  protostar/cheatable_starknet/callable_hint_locals/callable_hint_local.py
Owners: @MaksymilianDemitraszek

add panicking ctor test
  tests/integration/cairo1_hint_locals/deploy/data/broken.cairo
  tests/integration/cairo1_hint_locals/deploy/data/cairo0.cairo
  tests/integration/cairo1_hint_locals/deploy/test_deploy.py
Owners: @Arcticae

remove redundant keccak use
  protostar/cheatable_starknet/callable_hint_locals/call_hint_local.py
Owners: @MaksymilianDemitraszek

fix pyright
  tests/integration/cairo1_hint_locals/call/test_call.py
Owners: @Arcticae

init
  protostar/cairo/cairo_bindings.py
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test.py
Owners: @MaksymilianDemitraszek, @Arcticae

narrow down to only list args
  protostar/cheatable_starknet/callable_hint_locals/call_hint_local.py
  protostar/cheatable_starknet/controllers/contracts.py
Owners: @MaksymilianDemitraszek

Add tests for sierra -> casm compilation (#1744)
  protostar/cairo/cairo_bindings.py
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test.py
Owners: @MaksymilianDemitraszek, @Arcticae

Cairo1 call impl (#1726)
  protostar/cheatable_starknet/callable_hint_locals/call_hint_local.py
  protostar/cheatable_starknet/controllers/contracts.py
  tests/integration/cairo1/gas_test/test.cairo
  tests/integration/cairo1_hint_locals/call/call_test.cairo
  tests/integration/cairo1_hint_locals/call/data/cairo0.cairo
  tests/integration/cairo1_hint_locals/call/data/simple.cairo
  tests/integration/cairo1_hint_locals/call/data/with_ctor.cairo
  tests/integration/cairo1_hint_locals/call/data/with_ctor_panic.cairo
  tests/integration/cairo1_hint_locals/call/test_call.py
Owners: @MaksymilianDemitraszek, @Arcticae

Fixed pickling issue
  protostar/testing/fuzzing/strategies/uint256.py
Owners: @Radinyn

Test `deploy_contract_cairo0` (#1752)
  protostar/cairo_testing/cairo_hint_local_factory.py
  protostar/cheatable_starknet/callable_hint_locals/__init__.py
  protostar/cheatable_starknet/callable_hint_locals/deploy_contract_hint_local.py
  tests/integration/cairo1_hint_locals/deploy_contract_cairo0/data/cairo0.cairo
  tests/integration/cairo1_hint_locals/deploy_contract_cairo0/data/cairo0_w_ctor.cairo
  tests/integration/cairo1_hint_locals/deploy_contract_cairo0/data/cairo0_w_ctor_error.cairo
  tests/integration/cairo1_hint_locals/deploy_contract_cairo0/deploy_contract_cairo0_test.cairo
  tests/integration/cairo1_hint_locals/deploy_contract_cairo0/test_deploy_contract_cairo0.py
Owners: @MaksymilianDemitraszek, @Arcticae

Correct test collection results retrieval in test case
  tests/integration/cairo1_compiler_bindings/tests_collector_and_compiler_test.py
Owners: @Arcticae

Update selector construction
  protostar/cheatable_starknet/callable_hint_locals/invoke_hint_local.py
Owners: @MaksymilianDemitraszek

Invoke tests and function selector adjustment
  protostar/cheatable_starknet/callable_hint_locals/invoke_hint_local.py
  tests/integration/cairo1_hint_locals/invoke/data/cairo0.cairo
  tests/integration/cairo1_hint_locals/invoke/data/get_set.cairo
  tests/integration/cairo1_hint_locals/invoke/data/get_set_with_ctor.cairo
  tests/integration/cairo1_hint_locals/invoke/invoke_test.cairo
  tests/integration/cairo1_hint_locals/invoke/test_invoke.py
Owners: @MaksymilianDemitraszek, @Arcticae
