Repository software-mansion/protostar, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arcticae, @kasperski95, @mkaput, @MaksymilianDemitraszek, @Radinyn

Expand documentation on setup hooks
  website/docs/tutorials/07-testing/README.md
Owners: @MaksymilianDemitraszek

_add voyager link generator
  protostar/starknet_gateway/link_generators/voyager_link_generator.py
  protostar/starknet_gateway/link_generators/voyager_link_generator_test.py
Owners: @Arcticae, @kasperski95, @Radinyn

Update the env variable name in the docs
  website/docs/tutorials/06-deploying/01-cli.md
Owners: @MaksymilianDemitraszek

Bump the ref number again
  poetry.lock
  pyproject.toml
Owners: @Arcticae, @kasperski95

Fix the logic and tests for declaring with a too low of a max_fee.
  protostar/starknet_gateway/gateway_facade.py
  tests/integration/deploying/declare_command_test.py
Owners: @Arcticae, @kasperski95, @Radinyn

Drop the warning for unstable feature in fuzzing
  website/docs/tutorials/07-testing/03-fuzzing/README.md
Owners: @MaksymilianDemitraszek

Apply suggestions from code review
  website/docs/tutorials/07-testing/README.md
Owners: @MaksymilianDemitraszek

rewrite sentence
  website/docs/tutorials/07-testing/README.md
Owners: @MaksymilianDemitraszek

Apply suggestions from code review
  website/docs/tutorials/07-testing/README.md
Owners: @MaksymilianDemitraszek

Update the `PROTOSTAR_ACCOUNT_PRIVATE_KEY` variable name in the docs (#1026)
  website/docs/tutorials/06-deploying/01-cli.md
Owners: @MaksymilianDemitraszek

Fix waiting for declare acceptance with fee errors (#1027)
  protostar/starknet_gateway/gateway_facade.py
  tests/integration/deploying/declare_command_test.py
Owners: @Arcticae, @kasperski95, @Radinyn

fix protostar_fixture
  tests/integration/protostar_fixture.py
Owners: @Arcticae, @kasperski95

fix project compiler test
  protostar/configuration_file/fake_configuration_file.py
  tests/integration/project_compiler/project_compiler_test.py
Owners: @kasperski95, @Arcticae

lint
  protostar/testing/test_runner.py
Owners: @kasperski95, @mkaput, @MaksymilianDemitraszek

bump devnet
  poetry.lock
  pyproject.toml
Owners: @Arcticae, @kasperski95

Fix typing
  protostar/testing/fuzzing/strategies/uint256.py
  protostar/testing/fuzzing/strategy_descriptor.py
Owners: @mkaput

Fix formatting
  protostar/testing/fuzzing/strategies/uint256.py
  protostar/testing/fuzzing/strategy_inference.py
Owners: @mkaput

Apply suggestions from code review
  website/docs/tutorials/07-testing/README.md
Owners: @MaksymilianDemitraszek

clarify
  website/docs/tutorials/07-testing/README.md
Owners: @MaksymilianDemitraszek

Do not lit a fire so much in some cheatcodes docs (#1019)
  website/docs/tutorials/07-testing/02-cheatcodes/example.md
  website/docs/tutorials/07-testing/02-cheatcodes/given.md
  website/docs/tutorials/07-testing/02-cheatcodes/max-examples.md
Owners: @MaksymilianDemitraszek

fix types in gateway facade
  protostar/starknet_gateway/gateway_facade.py
Owners: @Arcticae, @kasperski95, @Radinyn

Fix inference
  protostar/testing/fuzzing/strategies/uint256.py
  protostar/testing/fuzzing/strategy_inference.py
  tests/integration/fuzzing_strategies/uint256_test.cairo
Owners: @mkaput, @Arcticae, @kasperski95

Fix formatting
  protostar/testing/fuzzing/strategy_inference.py
Owners: @mkaput

fix store cheatcode
  protostar/testing/cheatcodes/store_cheatcode.py
Owners: @MaksymilianDemitraszek

lint
  protostar/starknet_gateway/gateway_facade.py
Owners: @Arcticae, @kasperski95, @Radinyn

Fix store for 0.10.1 cairo-lang (#966)
  protostar/testing/cheatcodes/store_cheatcode.py
Owners: @MaksymilianDemitraszek

[0.7] Bump devnet (#1030)
  poetry.lock
  pyproject.toml
Owners: @Arcticae, @kasperski95

Expand documentation on setup hooks (#1023)
  website/docs/tutorials/07-testing/README.md
Owners: @MaksymilianDemitraszek

FMT
  protostar/commands/test/test_command_cache.py
  protostar/commands/test/test_result_formatter.py
  protostar/migrator/cheatcodes/migrator_invoke_cheatcode.py
  protostar/profiler/contract_profiler_test.py
  tests/integration/project_compiler/project_compiler_test.py
Owners: @mkaput, @kasperski95, @Arcticae, @Radinyn, @MaksymilianDemitraszek

_fix protostar fixture
  tests/integration/conftest.py
  tests/integration/protostar_fixture.py
Owners: @Arcticae, @kasperski95

address feedback - make the message more generic
  protostar/configuration_file/configuration_file.py
Owners: @kasperski95

Update protostar/commands/test/test_result_formatter.py
  protostar/commands/test/test_result_formatter.py
Owners: @mkaput, @kasperski95

Change `tmpdir`'s `Path` to legacy `LocalPath` as per https://docs.pytest.org/en/7.1.x/how-to/tmp_path.html#the-tmpdir-and-tmpdir-factory-fixtures
  docs_generator/reference_docs_generator_test.py
  protostar/cli/signable_command_util_test.py
  protostar/commands/remove/remove_package_test.py
  protostar/commands/update/update_package_test.py
  protostar/package_manager/package_info_test.py
  protostar/protostar_toml/io/protostar_toml_writer_test.py
  protostar/testing/test_collector_test.py
  tests/e2e/conftest.py
  tests/integration/protostar_toml/protostar_toml_test.py
Owners: @Arcticae, @kasperski95, @mkaput, @Radinyn, @MaksymilianDemitraszek

fix protostar_fixture
  protostar/configuration_file/configuration_file_factory.py
  tests/integration/conftest.py
  tests/integration/protostar_fixture.py
Owners: @kasperski95, @Arcticae

Bump wait time
  protostar/testing/test_shared_tests_state.py
Owners: @kasperski95, @mkaput, @MaksymilianDemitraszek

some optimization
  protostar/profiler/contract_profiler.py
Owners: @MaksymilianDemitraszek

Lint
  protostar/profiler/contract_profiler.py
Owners: @MaksymilianDemitraszek

release Protostar 0.6.0
  pyproject.toml
Owners: @Arcticae, @kasperski95

change discussion mapping method
  website/src/theme/DocPage/Layout/Main/index.js
Owners: @kasperski95

Update protostar/configuration_file/configuration_file.py
  protostar/configuration_file/configuration_file.py
Owners: @kasperski95

.github/CODEOWNERS:

* @Arcticae @kasperski95

/protostar @kasperski95 @mkaput @MaksymilianDemitraszek
/protostar/cli @kasperski95
/protostar/commands @kasperski95 @mkaput
/protostar/commands/deploy @Arcticae @kasperski95 @Radinyn
/protostar/commands/declare @Arcticae @kasperski95 @Radinyn
/protostar/commands/init @kasperski95 @MaksymilianDemitraszek
/protostar/commands/migrate @Arcticae @kasperski95 @Radinyn
/protostar/commands/test @mkaput @kasperski95
/protostar/commands/test/fuzzing @mkaput
/protostar/testing/fuzzing @mkaput
/protostar/compiler @kasperski95
/protostar/migrator @Arcticae @kasperski95 @Radinyn
/protostar/formatter @Radinyn
/protostar/protostar_toml @kasperski95
/protostar/configuration_file @kasperski95
/protostar/starknet @MaksymilianDemitraszek
/protostar/profiler @MaksymilianDemitraszek
/protostar/testing/cheatcodes/load_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/cheatcodes/store_cheatcode.py @MaksymilianDemitraszek
/protostar/starknet_gateway @Arcticae @kasperski95 @Radinyn
/protostar/upgrader @kasperski95
/protostar/git @Radinyn
/protostar/package_manager @kasperski95 @Radinyn

/website @kasperski95
/website/docs @MaksymilianDemitraszek
README.md @MaksymilianDemitraszek
/readme/ @MaksymilianDemitraszek
