Repository software-mansion/protostar, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arcticae, @MaksymilianDemitraszek, @Radinyn

.github/CODEOWNERS:

* @Arcticae

/protostar @MaksymilianDemitraszek
/protostar/cli @Arcticae
/protostar/commands @Arcticae
/protostar/commands/declare @Arcticae @Radinyn
/protostar/commands/deploy @Arcticae @Radinyn
/protostar/commands/init @MaksymilianDemitraszek
/protostar/compiler @Arcticae
/protostar/configuration_file @Arcticae
/protostar/formatter @Radinyn
/protostar/git @Radinyn
/protostar/package_manager @Radinyn
/protostar/profiler @MaksymilianDemitraszek
/protostar/starknet @MaksymilianDemitraszek
/protostar/starknet_gateway @Arcticae @Radinyn
/protostar/testing/cheatcodes/load_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/cheatcodes/store_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/fuzzing @Radinyn
/protostar/upgrader @Arcticae

/website @Arcticae
/website/docs @MaksymilianDemitraszek
README.md @MaksymilianDemitraszek
/readme/ @MaksymilianDemitraszek

Implement prepare hint local, basing on the old implementation
  protostar/cheatable_starknet/callable_hint_locals/deploy_contract_hint_local.py
  protostar/cheatable_starknet/callable_hint_locals/prepare_hint_local.py
  protostar/cheatable_starknet/controllers/contracts.py
  tests/integration/cairo1_hint_locals/prepare/data/minimal_no_args.cairo
  tests/integration/cairo1_hint_locals/prepare/data/minimal_with_args.cairo
  tests/integration/cairo1_hint_locals/prepare/prepare_test.cairo
  tests/integration/cairo1_hint_locals/prepare/test_prepare.py
Owners: @MaksymilianDemitraszek, @Arcticae

Update description
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/README.md
Owners: @MaksymilianDemitraszek

Move MockedProjectCompiler to a fixture
  tests/integration/commands/declare_command_test.py
Owners: @Arcticae

Remove linked-libraries entry from protostar.toml of cairo_0_1_mixed fixture
  tests/e2e/fixtures/cairo_0_1_mixed/protostar.toml
Owners: @Arcticae

Updated tests
  tests/integration/cairo1/gas_test.py
  tests/integration/cairo1/gas_test/test.cairo
Owners: @Arcticae

raise protostar exception when using both scarb and linked-libraries arg in build
  protostar/commands/cairo1_commands/fetch_from_scarb.py
  protostar/commands/cairo1_commands/test_cairo1_command.py
Owners: @Arcticae

Remove unnecessary argument from namespace
  tests/integration/commands/declare_command_test.py
Owners: @Arcticae

update to match bump to aplha6
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/pure_cairo_vm/cheatcodes/deploy_cairo0_test/deploy_cairo0_test.cairo
  tests/integration/pure_cairo_vm/cheatcodes/deploy_contract_cairo0/deploy_contract_cairo0_test.cairo
Owners: @Arcticae

Replace all StarkNet occurrences with Starknet
  .github/ISSUE_TEMPLATE/feature_request.md
  README.md
  protostar/cli/common_arguments.py
  protostar/cli/network_command_util.py
  protostar/cli/network_command_util_test.py
  protostar/commands/call/call_command.py
  protostar/commands/declare_command.py
  protostar/commands/invoke/invoke_command.py
  protostar/starknet/pass_managers.py
  protostar/starknet_gateway/network_config.py
  protostar/testing/examples/basic_with_constructor.cairo
  protostar/testing/test_environment_exceptions.py
  pyproject.toml
  tests/_conftest/compiled_account/account_contract_with_validate_deploy.cairo
  tests/e2e/fixtures/basic.cairo
  tests/e2e/fixtures/formatted.cairo
  tests/e2e/fixtures/proxy_contract.cairo
  tests/e2e/fixtures/unformatted.cairo
  tests/integration/cheatcodes/declare/proxy_contract.cairo
  tests/integration/cheatcodes/deploy_contract/basic_with_constructor.cairo
  tests/integration/cheatcodes/deploy_contract/basic_with_constructor_no_args.cairo
  tests/integration/cheatcodes/deploy_contract/proxy_contract.cairo
  tests/integration/cheatcodes/send_message_to_l2/simple_l1_handler_test.cairo
  website/docs/cli-reference.md
  website/docs/tutorials/01-introduction.md
  website/docs/tutorials/05-compiling.md
  website/docs/tutorials/07-testing/02-cheatcodes/expect-events.md
  website/docs/tutorials/07-testing/02-cheatcodes/send-message-to-l2.md
  website/docs/tutorials/07-testing/04-e2e.md
  website/docs/tutorials/07-testing/README.md
  website/docs/tutorials/09-interacting-with-starknet/03-declare.md
  website/docs/tutorials/09-interacting-with-starknet/05-deploy-account.md
  website/docs/tutorials/09-interacting-with-starknet/README.md
  website/docs/tutorials/09-interacting-with-starknet/_category_.yaml
  website/docusaurus.config.js
  website/src/pages/index.tsx
  website/static/manifest.json
Owners: @Arcticae, @MaksymilianDemitraszek, @Radinyn

Improve --linked-libraries description
  protostar/cli/common_arguments.py
  website/docs/cli-reference.md
Owners: @Arcticae, @MaksymilianDemitraszek

fixed broken libfunc tests
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/deploy_cairo0_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/prepare_cairo0_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/prepare_test.cairo
Owners: @Arcticae

fixed prepare cairo1 cheatcode tests
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/prepare_test.cairo
Owners: @Arcticae

Fixed `prepare` cairo1 libfunc tests (#1705)
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/prepare_test.cairo
Owners: @Arcticae

Fix tests
  tests/integration/cairo1_hint_locals/prepare/data/minimal_with_args.cairo
  tests/integration/cairo1_hint_locals/prepare/prepare_test.cairo
  tests/integration/cairo1_hint_locals/prepare/test_prepare.py
Owners: @Arcticae

add dependencies
  protostar/commands/cairo1_commands/build_cairo1_command.py
  protostar/commands/cairo1_commands/fetch_from_scarb.py
Owners: @Arcticae

Add a test for deploy_contract helper function usage
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/deploy_contract_test.cairo
Owners: @Arcticae

Initial protostar shell design document
  design_docs/shell.md
Owners: @Arcticae

adjusted looking for most significant compilation unit
  protostar/commands/cairo1_commands/fetch_from_scarb.py
Owners: @Arcticae

fixed wrong cwd in scarb metadata subprocess
  protostar/commands/cairo1_commands/fetch_from_scarb.py
Owners: @Arcticae

Move hooks setup to CairoHintLocalFactory's build_hint_locals
  protostar/cairo_testing/cairo_hint_local_factory.py
  protostar/cheatable_starknet/callable_hint_locals/expect_call_hint_local.py
  protostar/cheatable_starknet/callable_hint_locals/expect_events_hint_local.py
Owners: @MaksymilianDemitraszek

Move hooks setup to corresponding controllers' constructors
  protostar/cairo_testing/cairo_hint_local_factory.py
  protostar/cheatable_starknet/callable_hint_locals/expect_call_hint_local.py
  protostar/cheatable_starknet/callable_hint_locals/expect_events_hint_local.py
  protostar/cheatable_starknet/controllers/expect_call_controller.py
  protostar/cheatable_starknet/controllers/expect_events_controller.py
Owners: @MaksymilianDemitraszek

Avoid boilerplate in declare cairo1 tests (#1700)
  tests/integration/cairo1_hint_locals/declare/declare_test.cairo
Owners: @Arcticae

Add a test for `deploy_contract` (#1710)
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/deploy_contract_test.cairo
Owners: @Arcticae

Prepare hint local (#1702)
  protostar/cheatable_starknet/callable_hint_locals/deploy_contract_hint_local.py
  protostar/cheatable_starknet/callable_hint_locals/prepare_hint_local.py
  protostar/cheatable_starknet/controllers/contracts.py
  tests/integration/cairo1_hint_locals/prepare/data/minimal_no_args.cairo
  tests/integration/cairo1_hint_locals/prepare/data/minimal_with_args.cairo
  tests/integration/cairo1_hint_locals/prepare/prepare_test.cairo
  tests/integration/cairo1_hint_locals/prepare/test_prepare.py
Owners: @MaksymilianDemitraszek, @Arcticae

Replace all StarkNet occurrences with Starknet (#1703)
  .github/ISSUE_TEMPLATE/feature_request.md
  README.md
  protostar/cli/common_arguments.py
  protostar/cli/network_command_util.py
  protostar/cli/network_command_util_test.py
  protostar/commands/call/call_command.py
  protostar/commands/declare_command.py
  protostar/commands/invoke/invoke_command.py
  protostar/starknet/pass_managers.py
  protostar/starknet_gateway/network_config.py
  protostar/testing/examples/basic_with_constructor.cairo
  protostar/testing/test_environment_exceptions.py
  pyproject.toml
  tests/_conftest/compiled_account/account_contract_with_validate_deploy.cairo
  tests/e2e/fixtures/basic.cairo
  tests/e2e/fixtures/formatted.cairo
  tests/e2e/fixtures/proxy_contract.cairo
  tests/e2e/fixtures/unformatted.cairo
  tests/integration/cheatcodes/declare/proxy_contract.cairo
  tests/integration/cheatcodes/deploy_contract/basic_with_constructor.cairo
  tests/integration/cheatcodes/deploy_contract/basic_with_constructor_no_args.cairo
  tests/integration/cheatcodes/deploy_contract/proxy_contract.cairo
  tests/integration/cheatcodes/send_message_to_l2/simple_l1_handler_test.cairo
  website/docs/cli-reference.md
  website/docs/tutorials/01-introduction.md
  website/docs/tutorials/05-compiling.md
  website/docs/tutorials/07-testing/02-cheatcodes/expect-events.md
  website/docs/tutorials/07-testing/02-cheatcodes/send-message-to-l2.md
  website/docs/tutorials/07-testing/04-e2e.md
  website/docs/tutorials/07-testing/README.md
  website/docs/tutorials/09-interacting-with-starknet/03-declare.md
  website/docs/tutorials/09-interacting-with-starknet/05-deploy-account.md
  website/docs/tutorials/09-interacting-with-starknet/README.md
  website/docs/tutorials/09-interacting-with-starknet/_category_.yaml
  website/docusaurus.config.js
  website/src/pages/index.tsx
  website/static/manifest.json
Owners: @Arcticae, @MaksymilianDemitraszek, @Radinyn

Move hooks setup to corresponding HintLocal constructors (#1637)
  protostar/cairo_testing/cairo_hint_local_factory.py
  protostar/cheatable_starknet/callable_hint_locals/expect_call_hint_local.py
  protostar/cheatable_starknet/callable_hint_locals/expect_events_hint_local.py
  protostar/cheatable_starknet/controllers/expect_call_controller.py
  protostar/cheatable_starknet/controllers/expect_events_controller.py
Owners: @MaksymilianDemitraszek

working
  protostar/cheatable_starknet/controllers/contracts.py
  tests/integration/cairo1_hint_locals/deploy/deploy_test.cairo
  tests/integration/cairo1_hint_locals/deploy/test_deploy.py
Owners: @MaksymilianDemitraszek, @Arcticae

init
  protostar/cheatable_starknet/callable_hint_locals/deploy_hint_local.py
  tests/integration/cairo1_hint_locals/deploy/data/broken.cairo
  tests/integration/cairo1_hint_locals/deploy/data/cairo0.cairo
  tests/integration/cairo1_hint_locals/deploy/data/minimal.cairo
  tests/integration/cairo1_hint_locals/deploy/data/with_ctor.cairo
  tests/integration/cairo1_hint_locals/deploy/deploy_test.cairo
  tests/integration/cairo1_hint_locals/deploy/test_deploy.py
Owners: @MaksymilianDemitraszek, @Arcticae

Document declare cheatcode in cairo1 (#1690)
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/README.md
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/declare-cairo0.md
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/declare.md
Owners: @MaksymilianDemitraszek

Add an example which imports the structure from the contract into a test case
  tests/integration/cairo1_hint_locals/prepare/data/minimal_with_args.cairo
  tests/integration/cairo1_hint_locals/prepare/prepare_test.cairo
  tests/integration/cairo1_hint_locals/prepare/test_prepare.py
Owners: @Arcticae

add test with wrong number of args in ctor
  tests/integration/cairo1_hint_locals/deploy/deploy_test.cairo
  tests/integration/cairo1_hint_locals/deploy/test_deploy.py
Owners: @Arcticae

fix lib func test
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
Owners: @Arcticae

Use --linked-libraries instead of --cairo-path in `build-cairo1` (#1667)
  protostar/cli/common_arguments.py
  protostar/commands/cairo1_commands/build_cairo1_command.py
  protostar/commands/cairo1_commands/test_cairo1_command.py
  tests/e2e/fixtures/cairo_0_1_mixed/protostar.toml
  website/docs/cli-reference.md
Owners: @Arcticae, @MaksymilianDemitraszek

looking for cairo.toml added - it can be outside of src directory
  protostar/commands/cairo1_commands/build_cairo1_command.py
  protostar/commands/cairo1_commands/fetch_from_scarb.py
  protostar/commands/cairo1_commands/test_cairo1_command.py
  website/docs/cli-reference.md
Owners: @Arcticae, @MaksymilianDemitraszek

updated linked_libraries desc
  protostar/cli/common_arguments.py
  website/docs/cli-reference.md
Owners: @Arcticae, @MaksymilianDemitraszek

removed redundant tests
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/deploy_cairo0_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/prepare_cairo0_test.cairo
Owners: @Arcticae

fix imports
  protostar/cheatable_starknet/callable_hint_locals/deploy_contract_cairo0_hint_local.py
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/deploy_contract_cairo0_test.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

Update website/docs/cli-reference.md
  website/docs/cli-reference.md
Owners: @MaksymilianDemitraszek

update cli docs
  protostar/cli/common_arguments.py
  website/docs/cli-reference.md
Owners: @Arcticae, @MaksymilianDemitraszek

add panicking ctor test
  tests/integration/cairo1_hint_locals/deploy/data/broken.cairo
  tests/integration/cairo1_hint_locals/deploy/data/cairo0.cairo
  tests/integration/cairo1_hint_locals/deploy/data/with_ctor_panic.cairo
  tests/integration/cairo1_hint_locals/deploy/deploy_test.cairo
  tests/integration/cairo1_hint_locals/deploy/test_deploy.py
Owners: @Arcticae
