Repository software-mansion/protostar, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arcticae, @MaksymilianDemitraszek, @Radinyn

.github/CODEOWNERS:

* @Arcticae

/protostar @MaksymilianDemitraszek
/protostar/cli @Arcticae
/protostar/commands @Arcticae
/protostar/commands/declare @Arcticae @Radinyn
/protostar/commands/deploy @Arcticae @Radinyn
/protostar/commands/init @MaksymilianDemitraszek
/protostar/compiler @Arcticae
/protostar/configuration_file @Arcticae
/protostar/formatter @Radinyn
/protostar/git @Radinyn
/protostar/package_manager @Radinyn
/protostar/profiler @MaksymilianDemitraszek
/protostar/starknet @MaksymilianDemitraszek
/protostar/starknet_gateway @Arcticae @Radinyn
/protostar/testing/cheatcodes/load_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/cheatcodes/store_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/fuzzing @Radinyn
/protostar/upgrader @Arcticae

/website @Arcticae
/website/docs @MaksymilianDemitraszek
README.md @MaksymilianDemitraszek
/readme/ @MaksymilianDemitraszek

Isolate multiple test case environment from other test scenarios.
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test.py
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test/broken/test_cairo1_broken_suite.cairo
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test/multiple_suites/test_cairo1.cairo
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test/multiple_suites/test_cairo1_two_cases.cairo
Owners: @Arcticae

added init command for cairo 1
  protostar/commands/init/init_command.py
  protostar/commands/init/project_creator/_project_creator.py
  protostar/commands/init/project_creator/adapted_project_creator.py
  protostar/commands/init/project_creator/new_project_creator.py
  protostar/composition_root.py
  templates/cairo0/protostar.toml
  templates/cairo0/src/main.cairo
  templates/cairo0/tests/test_main.cairo
  templates/cairo1/protostar.toml
  templates/cairo1/src/main_cairo1.cairo
  templates/cairo1/tests/test_main_cairo1.cairo
  website/docs/cli-reference.md
Owners: @MaksymilianDemitraszek, @Arcticae

minor signature changes and fixes
  protostar/commands/init/init_command.py
  protostar/commands/init/project_creator/_project_creator.py
  protostar/commands/init/project_creator/adapted_project_creator.py
  protostar/commands/init/project_creator/new_project_creator.py
  tests/integration/_conftest/protostar_fixture_factory.py
  website/docs/cli-reference.md
Owners: @MaksymilianDemitraszek, @Arcticae

add cairo1 invoke test
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/invoke_test.cairo
Owners: @Arcticae

add args validator
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/invoke_test.cairo
Owners: @Arcticae

add test with empty calldata
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/invoke_test.cairo
Owners: @Arcticae

apply to the facade
  protostar/cairo/cairo_function_runner_facade.py
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
Owners: @MaksymilianDemitraszek, @Arcticae

Add cairo1 invoke test (#1527)
  protostar/cairo/cairo_function_runner_facade.py
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/invoke_test.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

remove updating submodule from bindings installation script
  scripts/install_cairo_bindings.sh
Owners: @Arcticae

Added panic support PoC
  protostar/cairo/cairo_function_runner_facade.py
  protostar/cairo_testing/cairo_injectable_function_runner.py
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test.py
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test/test_failing.cairo
  tests/integration/pure_cairo_vm/test_runner_test/failing_test.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

Bump cairo bindings
  scripts/bump_cairo_bindings.sh
Owners: @Arcticae

Add bump procedure & bump cairo version
  pyproject.toml
  scripts/bump_cairo_bindings.sh
Owners: @Arcticae

Removed dead code
  protostar/protostar_cli.py
Owners: @MaksymilianDemitraszek

Bumped cli
  website/docs/cli-reference.md
Owners: @MaksymilianDemitraszek

lint
  protostar/protostar_cli.py
Owners: @MaksymilianDemitraszek

Add some checks for bumping procedure + add info to README.md
  README.md
  scripts/bump_cairo_bindings.sh
Owners: @MaksymilianDemitraszek, @Arcticae

add variable reference instead of making a command
  scripts/bump_cairo_bindings.sh
Owners: @Arcticae

Add an exit when bindings are up to date
  scripts/bump_cairo_bindings.sh
Owners: @Arcticae

Change output for the messsage
  scripts/bump_cairo_bindings.sh
Owners: @Arcticae

surroud variable with parentheses
  scripts/bump_cairo_bindings.sh
Owners: @Arcticae

Separate updating bindings and installation (#1555)
  README.md
  pyproject.toml
  scripts/bump_cairo_bindings.sh
  scripts/install_cairo_bindings.sh
Owners: @MaksymilianDemitraszek, @Arcticae

replaced is_cairo_1 with enum
  protostar/cairo/__init__.py
  protostar/cairo/cairo_enum.py
  protostar/cairo/cairo_enum_test.py
  protostar/commands/init/init_command.py
  protostar/commands/init/project_creator/_project_creator.py
  protostar/commands/init/project_creator/new_project_creator.py
  protostar/composition_root.py
  tests/integration/_conftest/protostar_fixture_factory.py
Owners: @MaksymilianDemitraszek, @Arcticae

Added asserts
  tests/e2e/conftest.py
Owners: @Arcticae

fix
  protostar/commands/test/test_command.py
Owners: @Arcticae

Requested changes
  protostar/commands/cairo1_commands/__init__.py
  protostar/commands/cairo1_commands/test_cairo1_command.py
  protostar/commands/test_cairo1/__init__.py
  protostar/composition_root.py
  website/docs/cli-reference.md
Owners: @Arcticae, @MaksymilianDemitraszek

lint
  protostar/commands/cairo1_commands/__init__.py
Owners: @Arcticae

updated tests names
  tests/e2e/fixtures/cairo1_project/tests/test_a.cairo
Owners: @Arcticae

Update protostar/commands/init/init_command.py
  protostar/commands/init/init_command.py
Owners: @MaksymilianDemitraszek

Separate updating bindings and installation (#1555)
  README.md
  pyproject.toml
  scripts/bump_cairo_bindings.sh
  scripts/install_cairo_bindings.sh
Owners: @MaksymilianDemitraszek, @Arcticae

update cli docs
  protostar/commands/init/init_command.py
  website/docs/cli-reference.md
Owners: @MaksymilianDemitraszek

Delete obsolete use_cairo_test_runner
  protostar/commands/test/test_command.py
  tests/integration/_conftest/protostar_fixture.py
  tests/integration/conftest.py
  tests/integration/pure_cairo_vm/cheatcodes/call/call_cairo_cheatcode_test.py
  tests/integration/pure_cairo_vm/cheatcodes/declare/declare_contract_cairo_cheatcode_test.py
  tests/integration/pure_cairo_vm/cheatcodes/deploy/deploy_cairo_cheatcode_test.py
  tests/integration/pure_cairo_vm/cheatcodes/deploy_contract/deploy_contract_cairo_cheatcode_test.py
  tests/integration/pure_cairo_vm/cheatcodes/expect_call/expect_call_cairo_cheatcode_test.py
  tests/integration/pure_cairo_vm/cheatcodes/expect_events/expect_event_cairo_cheatcode_test.py
  tests/integration/pure_cairo_vm/cheatcodes/invoke/invoke_cairo_cheatcode_test.py
  tests/integration/pure_cairo_vm/cheatcodes/load/load_cairo_cheatcode_test.py
  tests/integration/pure_cairo_vm/cheatcodes/mock_call/mock_call_hint_local_test.py
  tests/integration/pure_cairo_vm/cheatcodes/prank/prank_cairo_cheatcode_test.py
  tests/integration/pure_cairo_vm/cheatcodes/prepare/prepare_cairo_cheatcode_test.py
  tests/integration/pure_cairo_vm/cheatcodes/roll/roll_cairo_cheatcode_test.py
  tests/integration/pure_cairo_vm/cheatcodes/send_message_to_l2/send_message_to_l2_hint_local_test.py
  tests/integration/pure_cairo_vm/cheatcodes/stop_roll/stop_roll_cairo_cheatcode_test.py
  tests/integration/pure_cairo_vm/cheatcodes/stop_warp/stop_warp_cairo_cheatcode_test.py
  tests/integration/pure_cairo_vm/cheatcodes/store/store_cairo_cheatcode_test.py
  tests/integration/pure_cairo_vm/cheatcodes/warp/warp_cairo_cheatcode_test.py
  tests/integration/pure_cairo_vm/test_runner_test/test_cairo_vm_runner.py
Owners: @Arcticae

Removed assert
  tests/e2e/conftest.py
Owners: @Arcticae

`init` command for cairo 1 (#1549)
  protostar/cairo/__init__.py
  protostar/cairo/cairo_enum.py
  protostar/cairo/cairo_enum_test.py
  protostar/commands/init/init_command.py
  protostar/commands/init/project_creator/_project_creator.py
  protostar/commands/init/project_creator/new_project_creator.py
  protostar/composition_root.py
  templates/cairo0/protostar.toml
  templates/cairo0/src/main.cairo
  templates/cairo0/tests/test_main.cairo
  templates/cairo1/protostar.toml
  templates/cairo1/src/main_cairo1.cairo
  templates/cairo1/tests/test_main_cairo1.cairo
  tests/integration/_conftest/protostar_fixture_factory.py
  website/docs/cli-reference.md
Owners: @MaksymilianDemitraszek, @Arcticae

fix tests
  protostar/commands/cairo1_commands/cairo1_build_command.py
  website/docs/cli-reference.md
Owners: @Arcticae, @MaksymilianDemitraszek

init
  protostar/cairo/cairo_bindings.py
  protostar/commands/__init__.py
  protostar/commands/cairo1_commands/cairo1_build_command.py
  protostar/compiler/project_compiler.py
  protostar/composition_root.py
  tests/integration/_conftest/protostar_fixture.py
  tests/integration/_conftest/protostar_fixture_factory.py
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test.py
Owners: @MaksymilianDemitraszek, @Arcticae

add basic e2e test
  tests/e2e/cairo1/test_building.py
  tests/e2e/conftest.py
  tests/e2e/fixtures/basic_cairo1.cairo
Owners: @Arcticae

cleanup
  protostar/__init__.py
  protostar/commands/cairo1_commands/cairo1_build_command.py
  protostar/composition_root.py
  tests/integration/_conftest/protostar_fixture_factory.py
Owners: @MaksymilianDemitraszek, @Arcticae

add init py
  tests/e2e/cairo1/__init__.py
Owners: @Arcticae

use fixtures
  tests/e2e/conftest.py
Owners: @Arcticae

use init-cairo1
  protostar/cairo/cairo_bindings.py
  templates/cairo1/src/main.cairo
  templates/cairo1/tests/test_main.cairo
  tests/e2e/conftest.py
Owners: @MaksymilianDemitraszek, @Arcticae
