Repository software-mansion/protostar, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arcticae, @MaksymilianDemitraszek, @Radinyn

Convert bindings errors (#1553)
  protostar/cairo/cairo_bindings.py
  protostar/cairo/cairo_exceptions.py
  protostar/testing/test_collector.py
  tests/integration/cairo1_compiler_bindings/test_typecheck_test.py
Owners: @MaksymilianDemitraszek, @Arcticae

added a way to parametrize create_protostar_project_fixture
  tests/integration/_conftest/protostar_fixture_factory.py
  tests/integration/commands/init_command_test.py
  tests/integration/conftest.py
Owners: @Arcticae

refactored create_protostar_project to use cairo_version as optional arg
  templates/cairo1/src/main.cairo
  templates/cairo1/tests/test_main.cairo
Owners: @Arcticae

fixed test_main.cairo template for cairo1
  templates/cairo1/tests/test_main.cairo
Owners: @Arcticae

fixed project templates, added catching FileExistsError in both protostar init commands
  protostar/commands/init/init_command.py
  protostar/commands/init/project_creator/_project_creator.py
  protostar/commands/init/project_creator/adapted_project_creator.py
  protostar/commands/init/project_creator/new_project_creator.py
  templates/cairo1/protostar.toml
  templates/cairo1/src/cairo_project.toml
  templates/cairo1/src/lib.cairo
  templates/cairo1/tests/test_main.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

fixed test_default_build and renamed to test_cairo1_build
  tests/e2e/cairo1/test_building.py
  tests/e2e/fixtures/cairo1_build/protostar.toml
  tests/e2e/fixtures/cairo1_build/src/main.cairo
Owners: @Arcticae

fixed a typo
  tests/integration/commands/init_command_test.py
Owners: @Arcticae

fixed lint
  protostar/commands/init/project_creator/_project_creator.py
Owners: @MaksymilianDemitraszek

modified cairo1 templates
  tests/integration/commands/init_command_test.py
  tests/integration/conftest.py
Owners: @Arcticae

added integration tests for both init commands
  templates/cairo0/protostar.toml
  templates/cairo1/protostar.toml
  tests/conftest.py
  tests/integration/commands/init_command_test.py
Owners: @Arcticae

compare_directories now uses assertions
  tests/integration/commands/init_command_test.py
Owners: @Arcticae

Update website/docs/tutorials/08-cairo-1-support/01-testing.md
  website/docs/tutorials/08-cairo-1-support/01-testing.md
Owners: @MaksymilianDemitraszek

Add tests for `init-cairo1` (#1564)
  protostar/commands/init/init_command.py
  protostar/commands/init/project_creator/_project_creator.py
  protostar/commands/init/project_creator/adapted_project_creator.py
  protostar/commands/init/project_creator/new_project_creator.py
  templates/cairo1/protostar.toml
  templates/cairo1/src/cairo_project.toml
  templates/cairo1/src/lib.cairo
  templates/cairo1/src/main.cairo
  templates/cairo1/tests/test_main.cairo
  tests/conftest.py
  tests/e2e/cairo1/test_building.py
  tests/e2e/fixtures/cairo1_build/protostar.toml
  tests/e2e/fixtures/cairo1_build/src/main.cairo
  tests/integration/_conftest/protostar_fixture_factory.py
  tests/integration/commands/init_command_test.py
  tests/integration/conftest.py
Owners: @MaksymilianDemitraszek, @Arcticae

Correct the example
  website/docs/tutorials/08-cairo-1-support/01-testing.md
Owners: @MaksymilianDemitraszek

Cairo1 testing docs (#1586)
  website/docs/tutorials/01-introduction.md
  website/docs/tutorials/07-testing/04-e2e.md
  website/docs/tutorials/07-testing/README.md
  website/docs/tutorials/08-cairo-1-support/01-testing.md
  website/docs/tutorials/08-cairo-1-support/_category_.yaml
  website/docs/tutorials/09-interacting-with-starknet/01-invoke.md
  website/docs/tutorials/09-interacting-with-starknet/02-call.md
  website/docs/tutorials/09-interacting-with-starknet/03-declare.md
  website/docs/tutorials/09-interacting-with-starknet/04-deploy.md
  website/docs/tutorials/09-interacting-with-starknet/05-deploy-account.md
  website/docs/tutorials/09-interacting-with-starknet/06-signing.md
  website/docs/tutorials/09-interacting-with-starknet/07-multicall.md
  website/docs/tutorials/09-interacting-with-starknet/README.md
  website/docs/tutorials/09-interacting-with-starknet/_category_.yaml
  website/docs/tutorials/09-interacting-with-starknet/scripting.md
  website/docs/tutorials/10-migrations/README.md
  website/docs/tutorials/10-migrations/_category_.yaml
  website/docs/tutorials/11-formatting.md
  website/docs/tutorials/12-profiling.md
Owners: @MaksymilianDemitraszek

Add documentation for tests in cairo1
  website/docs/tutorials/08-cairo-1-testing.md
Owners: @MaksymilianDemitraszek

Move into a separate category
  website/docs/tutorials/08-cairo-1-testing.md
Owners: @MaksymilianDemitraszek

Fix broken links
  website/docs/tutorials/08-cairo-1-support/01-testing.md
Owners: @MaksymilianDemitraszek

Add a project initialization page as a landing page for cairo1 support
  website/docs/tutorials/08-cairo-1-support/01-project-initialization.md
  website/docs/tutorials/08-cairo-1-support/02-testing.md
Owners: @MaksymilianDemitraszek

Fixed test
  tests/integration/cairo1_compiler_bindings/test_typecheck_test.py
Owners: @Arcticae

Handle cairo1 failed tests (#1572)
  protostar/cairo/cairo_function_runner_facade.py
  protostar/cairo_testing/cairo_injectable_function_runner.py
  tests/e2e/cairo1/test_cairo1_testing.py
  tests/e2e/fixtures/cairo1/failing_test.cairo
  tests/integration/cairo1/cairo_runner_facade_test.py
  tests/integration/cairo1/cairo_runner_facade_test/test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test.py
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test/test_cairo1_failing.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

init
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test.py
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test/starknet_contract_with_builtins.cairo
Owners: @Arcticae

Add test for `exit-first` option. Refactor fixtures placement.
  tests/e2e/cairo1/test_cairo1_testing.py
  tests/e2e/fixtures/cairo1/nested/test_nested.cairo
  tests/e2e/fixtures/cairo1/test_a.cairo
  tests/e2e/fixtures/cairo1/test_with_deps.cairo
  tests/e2e/fixtures/cairo1_project/tests/.keep
  tests/e2e/fixtures/cairo1_project/tests/nested/test_nested.cairo
Owners: @Arcticae

Bump bindings to 0.4 alpha (#1590)
  tests/integration/cairo1_compiler_bindings/test_typecheck_test.py
Owners: @Arcticae

Add test for `last-failed` flag
  tests/e2e/cairo1/test_cairo1_testing.py
Owners: @Arcticae

Test reporting slowest tests
  tests/e2e/cairo1/test_cairo1_testing.py
Owners: @Arcticae

Grammar
  website/docs/tutorials/08-cairo-1-support/01-project-initialization.md
Owners: @MaksymilianDemitraszek

add extra assertion about collected tests
  tests/e2e/cairo1/test_cairo1_testing.py
Owners: @Arcticae

Update website/docs/tutorials/08-cairo-1-support/01-project-initialization.md
  website/docs/tutorials/08-cairo-1-support/01-project-initialization.md
Owners: @MaksymilianDemitraszek

Update website/docs/tutorials/08-cairo-1-support/01-project-initialization.md
  website/docs/tutorials/08-cairo-1-support/01-project-initialization.md
Owners: @MaksymilianDemitraszek

Update website/docs/tutorials/08-cairo-1-support/01-project-initialization.md
  website/docs/tutorials/08-cairo-1-support/01-project-initialization.md
Owners: @MaksymilianDemitraszek

Review suggestions
  website/docs/tutorials/08-cairo-1-support/01-project-initialization.md
Owners: @MaksymilianDemitraszek

`test-cairo1` comprehensive e2e tests (#1575)
  tests/e2e/cairo1/test_cairo1_testing.py
  tests/e2e/fixtures/cairo1/nested/test_nested.cairo
  tests/e2e/fixtures/cairo1/test_a.cairo
  tests/e2e/fixtures/cairo1/test_with_deps.cairo
  tests/e2e/fixtures/cairo1_project/tests/.keep
Owners: @Arcticae

`init-cairo1` docs (#1588)
  website/docs/tutorials/08-cairo-1-support/01-project-initialization.md
  website/docs/tutorials/08-cairo-1-support/02-testing.md
Owners: @MaksymilianDemitraszek

wip
  protostar/cairo/cairo1_test_suite_parser.py
  protostar/cairo/cairo_bindings.py
  tests/integration/cairo1/builtins_test.py
  tests/integration/cairo1/builtins_test/test.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

separate class InitCairo1Command, refactoring, removed --existing argument for init-cairo1
  protostar/__init__.py
  protostar/commands/__init__.py
  protostar/commands/cairo1_commands/__init__.py
  protostar/commands/cairo1_commands/build_cairo1_command.py
  protostar/commands/cairo1_commands/init_cairo1_command.py
  protostar/commands/init/init_command.py
  protostar/commands/init/project_creator/adapted_project_creator.py
  protostar/composition_root.py
  tests/integration/_conftest/protostar_fixture.py
  tests/integration/_conftest/protostar_fixture_factory.py
  tests/integration/conftest.py
  website/docs/cli-reference.md
Owners: @MaksymilianDemitraszek, @Arcticae

Remove --existing flag from `init-cairo1` (#1592)
  protostar/__init__.py
  protostar/commands/__init__.py
  protostar/commands/cairo1_commands/__init__.py
  protostar/commands/cairo1_commands/build_cairo1_command.py
  protostar/commands/cairo1_commands/init_cairo1_command.py
  protostar/commands/init/init_command.py
  protostar/commands/init/project_creator/adapted_project_creator.py
  protostar/composition_root.py
  tests/integration/_conftest/protostar_fixture.py
  tests/integration/_conftest/protostar_fixture_factory.py
  tests/integration/conftest.py
  website/docs/cli-reference.md
Owners: @MaksymilianDemitraszek, @Arcticae

Update build_output.py
  protostar/testing/cheatcodes/reflect/build_output.py
Owners: @MaksymilianDemitraszek

e2e deps tests
  tests/e2e/cairo1/test_cairo1_testing.py
Owners: @Arcticae

add missing asserts
  tests/e2e/cairo1/test_cairo1_testing.py
Owners: @Arcticae

.github/CODEOWNERS:

* @Arcticae

/protostar @MaksymilianDemitraszek
/protostar/cli @Arcticae
/protostar/commands @Arcticae
/protostar/commands/declare @Arcticae @Radinyn
/protostar/commands/deploy @Arcticae @Radinyn
/protostar/commands/init @MaksymilianDemitraszek
/protostar/compiler @Arcticae
/protostar/configuration_file @Arcticae
/protostar/formatter @Radinyn
/protostar/git @Radinyn
/protostar/package_manager @Radinyn
/protostar/profiler @MaksymilianDemitraszek
/protostar/starknet @MaksymilianDemitraszek
/protostar/starknet_gateway @Arcticae @Radinyn
/protostar/testing/cheatcodes/load_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/cheatcodes/store_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/fuzzing @Radinyn
/protostar/upgrader @Arcticae

/website @Arcticae
/website/docs @MaksymilianDemitraszek
README.md @MaksymilianDemitraszek
/readme/ @MaksymilianDemitraszek
