Repository software-mansion/protostar, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arcticae, @MaksymilianDemitraszek, @Radinyn

Updated name
  tests/e2e/cairo1/test_cairo1_testing.py
Owners: @Arcticae

Updated name
  tests/e2e/cairo1/test_testing.py
Owners: @Arcticae

fix bug with command
  tests/e2e/conftest.py
Owners: @Arcticae

Add mock_call lib function test
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/mock_call_test.cairo
Owners: @Arcticae

Cairo1 tests e2e (#1548)
  protostar.spec
  protostar/commands/cairo1_commands/__init__.py
  protostar/commands/cairo1_commands/test_cairo1_command.py
  protostar/commands/test/__init__.py
  protostar/commands/test/test_command.py
  protostar/compiler/__init__.py
  protostar/compiler/project_cairo_path_builder.py
  protostar/compiler/project_compiler.py
  protostar/composition_root.py
  protostar/protostar_cli.py
  protostar_cairo/cairo_project.toml
  tests/e2e/cairo1/test_cairo1_testing.py
  tests/e2e/conftest.py
  tests/e2e/fixtures/cairo1_project/libraries/external_lib_bar/bar.cairo
  tests/e2e/fixtures/cairo1_project/libraries/external_lib_bar/cairo_project.toml
  tests/e2e/fixtures/cairo1_project/libraries/external_lib_bar/lib.cairo
  tests/e2e/fixtures/cairo1_project/libraries/external_lib_foo/cairo_project.toml
  tests/e2e/fixtures/cairo1_project/libraries/external_lib_foo/foo.cairo
  tests/e2e/fixtures/cairo1_project/libraries/external_lib_foo/lib.cairo
  tests/e2e/fixtures/cairo1_project/protostar.toml
  tests/e2e/fixtures/cairo1_project/tests/test_a.cairo
  tests/e2e/fixtures/cairo1_project/tests/test_with_deps.cairo
  website/docs/cli-reference.md
Owners: @Arcticae, @MaksymilianDemitraszek

Implement some e2e tests for cairo1 test collecting and ignoring
  tests/e2e/cairo1/test_cairo1_testing.py
  tests/e2e/fixtures/cairo1_project/tests/nested/test_nested.cairo
Owners: @Arcticae

Correct amount of cases passed in fixture project
  tests/e2e/cairo1/test_cairo1_testing.py
Owners: @Arcticae

Add mock_call lib function test (#1560)
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/mock_call_test.cairo
Owners: @Arcticae

add ensure_output_path
  protostar/cairo/cairo_bindings.py
Owners: @MaksymilianDemitraszek

fix naming
  tests/integration/_conftest/protostar_fixture.py
Owners: @Arcticae

Merge cairo1 adapter into cairo test runner
  protostar/cairo_testing/cairo1_test_runner.py
  protostar/cairo_testing/cairo1_test_runner_adapter.py
  protostar/commands/test/test_command.py
Owners: @MaksymilianDemitraszek, @Arcticae

avoid passing proj compiler to the build command
  protostar/commands/cairo1_commands/cairo1_build_command.py
  protostar/composition_root.py
  tests/integration/_conftest/protostar_fixture_factory.py
Owners: @Arcticae, @MaksymilianDemitraszek

change asserts
  tests/e2e/cairo1/test_building.py
Owners: @Arcticae

assert all tests should optionally panic
  tests/integration/cairo1_compiler_bindings/test_typecheck_test.py
  tests/integration/cairo1_compiler_bindings/test_typecheck_test/test_basic.cairo
  tests/integration/cairo1_compiler_bindings/test_typecheck_test/test_with_args.cairo
  tests/integration/cairo1_compiler_bindings/test_typecheck_test/test_with_ret_vals.cairo
  tests/integration/cairo1_compiler_bindings/test_typecheck_test/test_without_panic.cairo
Owners: @Arcticae

Test typecheck test
  protostar/cairo/cairo_bindings.py
  tests/integration/cairo1_compiler_bindings/test_typecheck_test.py
  tests/integration/cairo1_compiler_bindings/test_typecheck_test/test_basic.cairo
  tests/integration/cairo1_compiler_bindings/test_typecheck_test/test_with_args.cairo
  tests/integration/cairo1_compiler_bindings/test_typecheck_test/test_with_no_panic.cairo
  tests/integration/cairo1_compiler_bindings/test_typecheck_test/test_with_ret_vals.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

validate tests when collecting
  protostar/cairo/cairo_bindings.py
  tests/integration/cairo1_compiler_bindings/test_typecheck_test.py
Owners: @MaksymilianDemitraszek, @Arcticae

fix tests
  tests/e2e/fixtures/cairo1_project/tests/test_a.cairo
  tests/e2e/fixtures/cairo1_project/tests/test_with_deps.cairo
  tests/integration/cairo1_compiler_bindings/tests_collector_and_compiler_test/test_with_deps.cairo
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test/multiple_suites/test_cairo1.cairo
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test/multiple_suites/test_cairo1_two_cases.cairo
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test/test_cairo1.cairo
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test/test_cairo1_ext_lib.cairo
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test/test_cairo1_two_cases.cairo
Owners: @Arcticae

Cairo1 build command (#1551)
  protostar/__init__.py
  protostar/cairo/cairo_bindings.py
  protostar/commands/__init__.py
  protostar/commands/cairo1_commands/cairo1_build_command.py
  protostar/compiler/project_compiler.py
  protostar/composition_root.py
  templates/cairo1/src/main.cairo
  templates/cairo1/tests/test_main.cairo
  tests/e2e/cairo1/__init__.py
  tests/e2e/cairo1/test_building.py
  tests/e2e/conftest.py
  tests/e2e/fixtures/basic_cairo1.cairo
  tests/integration/_conftest/protostar_fixture.py
  tests/integration/_conftest/protostar_fixture_factory.py
  tests/integration/cairo1_compiler_bindings/starknet_contracts_compiler_test.py
  website/docs/cli-reference.md
Owners: @MaksymilianDemitraszek, @Arcticae

Cairo1 test typecheck test (#1563)
  tests/e2e/fixtures/cairo1_project/tests/test_a.cairo
  tests/e2e/fixtures/cairo1_project/tests/test_with_deps.cairo
  tests/integration/cairo1_compiler_bindings/test_typecheck_test.py
  tests/integration/cairo1_compiler_bindings/test_typecheck_test/test_basic.cairo
  tests/integration/cairo1_compiler_bindings/test_typecheck_test/test_with_args.cairo
  tests/integration/cairo1_compiler_bindings/test_typecheck_test/test_with_no_panic.cairo
  tests/integration/cairo1_compiler_bindings/test_typecheck_test/test_with_ret_vals.cairo
  tests/integration/cairo1_compiler_bindings/test_typecheck_test/test_without_panic.cairo
  tests/integration/cairo1_compiler_bindings/tests_collector_and_compiler_test/test_with_deps.cairo
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test/multiple_suites/test_cairo1_two_cases.cairo
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test/test_cairo1.cairo
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test/test_cairo1_ext_lib.cairo
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test/test_cairo1_two_cases.cairo
Owners: @Arcticae

Convert bindings errors to protostar exceptions
  protostar/cairo/cairo_bindings.py
Owners: @MaksymilianDemitraszek

fix test
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test.py
Owners: @Arcticae

narrow down to rt err
  protostar/cairo/cairo_bindings.py
Owners: @MaksymilianDemitraszek

break tests on protostar exception
  protostar/cairo/cairo_bindings.py
  protostar/testing/test_collector.py
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test.py
Owners: @MaksymilianDemitraszek, @Arcticae

rethrow new exception: CairoBindingException
  protostar/cairo/cairo_bindings.py
  protostar/cairo/cairo_exceptions.py
  protostar/testing/test_collector.py
  tests/integration/cairo1_compiler_bindings/test_typecheck_test.py
Owners: @MaksymilianDemitraszek, @Arcticae

remove test with ret vals
  tests/integration/cairo1_compiler_bindings/return_values_test.py
  tests/integration/cairo1_compiler_bindings/return_values_test/test.cairo
Owners: @Arcticae

init
  protostar/cairo/cairo_function_runner_facade.py
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/return_values_test.py
  tests/integration/cairo1_compiler_bindings/return_values_test/test.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

add info about panic data
  protostar/cairo/cairo_function_runner_facade.py
  tests/integration/cairo1_compiler_bindings/return_values_test.py
  tests/integration/cairo1_compiler_bindings/return_values_test/test.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

add cairo1 runner test
  protostar/cairo_testing/cairo_injectable_function_runner.py
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test.py
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test/test_cairo1_failing.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

Add documentation for tests in cairo1
  website/docs/tutorials/08-cairo-1-testing.md
  website/docs/tutorials/09-interacting-with-starknet/01-invoke.md
  website/docs/tutorials/09-interacting-with-starknet/02-call.md
  website/docs/tutorials/09-interacting-with-starknet/03-declare.md
  website/docs/tutorials/09-interacting-with-starknet/04-deploy.md
  website/docs/tutorials/09-interacting-with-starknet/05-deploy-account.md
  website/docs/tutorials/09-interacting-with-starknet/06-signing.md
  website/docs/tutorials/09-interacting-with-starknet/07-multicall.md
  website/docs/tutorials/09-interacting-with-starknet/README.md
  website/docs/tutorials/09-interacting-with-starknet/_category_.yaml
  website/docs/tutorials/09-interacting-with-starknet/scripting.md
  website/docs/tutorials/10-migrations/README.md
  website/docs/tutorials/10-migrations/_category_.yaml
  website/docs/tutorials/11-formatting.md
  website/docs/tutorials/12-profiling.md
Owners: @MaksymilianDemitraszek

Move into a separate category
  website/docs/tutorials/08-cairo-1-support/01-testing.md
  website/docs/tutorials/08-cairo-1-support/_category_.yaml
Owners: @MaksymilianDemitraszek

Fix up sections to be properly explorable
  website/docs/tutorials/08-cairo-1-support/01-testing.md
Owners: @MaksymilianDemitraszek

remove redundant cast
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
Owners: @Arcticae

move test
  tests/integration/cairo1/cairo_runner_facade_test.py
  tests/integration/cairo1/cairo_runner_facade_test/test.cairo
Owners: @Arcticae

remove redundant line
  tests/integration/cairo1/cairo_runner_facade_test.py
Owners: @Arcticae

run as one suite
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test.py
Owners: @Arcticae

add e2e test
  tests/e2e/cairo1/test_cairo1_testing.py
Owners: @Arcticae

add missing file
  tests/e2e/fixtures/cairo1/failing_test.cairo
Owners: @Arcticae

Fix broken links
  website/docs/tutorials/01-introduction.md
  website/docs/tutorials/07-testing/04-e2e.md
  website/docs/tutorials/07-testing/README.md
  website/docs/tutorials/08-cairo-1-support/01-testing.md
Owners: @MaksymilianDemitraszek

Review suggestions. Add an example test function.
  website/docs/tutorials/08-cairo-1-support/01-testing.md
Owners: @MaksymilianDemitraszek

Grammar
  website/docs/tutorials/08-cairo-1-support/01-testing.md
Owners: @MaksymilianDemitraszek

.github/CODEOWNERS:

* @Arcticae

/protostar @MaksymilianDemitraszek
/protostar/cli @Arcticae
/protostar/commands @Arcticae
/protostar/commands/declare @Arcticae @Radinyn
/protostar/commands/deploy @Arcticae @Radinyn
/protostar/commands/init @MaksymilianDemitraszek
/protostar/compiler @Arcticae
/protostar/configuration_file @Arcticae
/protostar/formatter @Radinyn
/protostar/git @Radinyn
/protostar/package_manager @Radinyn
/protostar/profiler @MaksymilianDemitraszek
/protostar/starknet @MaksymilianDemitraszek
/protostar/starknet_gateway @Arcticae @Radinyn
/protostar/testing/cheatcodes/load_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/cheatcodes/store_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/fuzzing @Radinyn
/protostar/upgrader @Arcticae

/website @Arcticae
/website/docs @MaksymilianDemitraszek
README.md @MaksymilianDemitraszek
/readme/ @MaksymilianDemitraszek
