Repository software-mansion/protostar, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arcticae, @MaksymilianDemitraszek, @Radinyn

.github/CODEOWNERS:

* @Arcticae

/protostar @MaksymilianDemitraszek
/protostar/cli @Arcticae
/protostar/commands @Arcticae
/protostar/commands/declare @Arcticae @Radinyn
/protostar/commands/deploy @Arcticae @Radinyn
/protostar/commands/init @MaksymilianDemitraszek
/protostar/compiler @Arcticae
/protostar/configuration_file @Arcticae
/protostar/formatter @Radinyn
/protostar/git @Radinyn
/protostar/package_manager @Radinyn
/protostar/profiler @MaksymilianDemitraszek
/protostar/starknet @MaksymilianDemitraszek
/protostar/starknet_gateway @Arcticae @Radinyn
/protostar/testing/cheatcodes/load_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/cheatcodes/store_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/fuzzing @Radinyn
/protostar/upgrader @Arcticae

/website @Arcticae
/website/docs @MaksymilianDemitraszek
README.md @MaksymilianDemitraszek
/readme/ @MaksymilianDemitraszek

Use --linked-libraries instead of --cairo-path for
  protostar/cli/common_arguments.py
  protostar/commands/cairo1_commands/build_cairo1_command.py
  protostar/commands/cairo1_commands/test_cairo1_command.py
Owners: @Arcticae

Format
  protostar/cli/common_arguments.py
Owners: @Arcticae

Update docs
  website/docs/cli-reference.md
Owners: @MaksymilianDemitraszek

add test
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test.py
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test/test_cairo1_cairo_configs.cairo
Owners: @Arcticae

init
  protostar/cairo/cairo_bindings.py
  protostar/cairo_testing/cairo1_test_collector.py
  protostar/cairo_testing/cairo1_test_runner.py
  protostar/testing/test_collector.py
  protostar/testing/test_suite.py
  tests/integration/cairo1/builtins_test.py
  tests/integration/cairo1/cairo_runner_facade_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/test_typecheck_test.py
  tests/integration/cairo1_compiler_bindings/tests_collector_and_compiler_test.py
Owners: @MaksymilianDemitraszek, @Arcticae

Improve errors
  protostar/cheatable_starknet/callable_hint_locals/declare_cairo0_hint_local.py
Owners: @MaksymilianDemitraszek

fixed test, lint
  protostar/cheatable_starknet/callable_hint_locals/declare_cairo0_hint_local.py
  tests/integration/pure_cairo_vm/cheatcodes/declare_cairo0_cheatcode_test.py
Owners: @MaksymilianDemitraszek, @Arcticae

Fix test for OZ-proxy call with protostar
  tests/data/oz_proxy_compiled_contract.json
  tests/integration/commands/call_command_test.py
  tests/integration/commands/proxy.cairo
Owners: @Arcticae

libfunc tests for cheatcodes
  protostar/cairo_testing/cairo_hint_local_factory.py
  protostar/cheatable_starknet/callable_hint_locals/__init__.py
  protostar/cheatable_starknet/callable_hint_locals/deploy_cairo0_hint_local.py
  protostar/cheatable_starknet/callable_hint_locals/deploy_contract_cairo0_hint_local.py
  protostar/cheatable_starknet/callable_hint_locals/prepare_cairo0_hint_local.py
  protostar/cheatable_starknet/controllers/contracts.py
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/deploy_cairo0_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/prepare_cairo0_test.cairo
  tests/integration/pure_cairo_vm/cheatcodes/deploy/basic_contract.cairo
  tests/integration/pure_cairo_vm/cheatcodes/deploy/deploy_cairo0_test.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

Fix lints & types
  protostar/cheatable_starknet/cheatables/cheatable_cached_state.py
  protostar/cheatable_starknet/cheatables/cheatable_execute_entry_point.py
  protostar/cheatable_starknet/controllers/contracts.py
  protostar/profiler/transaction_profiler_test.py
  protostar/starknet/cheatable_cached_state.py
  protostar/starknet/cheatable_execute_entry_point.py
  protostar/starknet/cheatable_invoke_function.py
  protostar/starknet/cheatable_syscall_handler.py
  protostar/starknet/contract.py
  protostar/starknet_gateway/core/structs.py
  protostar/starknet_gateway/gateway_facade.py
  protostar/starknet_gateway/multicall/multicall_structs.py
  protostar/testing/cheatcodes/declare_cheatcode.py
  protostar/testing/starkware/contract_based_test_execution_state.py
  tests/integration/_conftest/gateway_client_tx_interceptor.py
Owners: @MaksymilianDemitraszek, @Arcticae, @Radinyn

add gas playground
  protostar/cairo/cairo_function_runner_facade.py
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test.py
  tests/integration/pure_cairo_vm/cairo1_integration/cairo1_runner_test/test_cairo1.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

init
  protostar/cairo/cairo_bindings.py
Owners: @MaksymilianDemitraszek

handle 2 error cases
  protostar/cairo/cairo_bindings.py
Owners: @MaksymilianDemitraszek

Try to restore cairo bindings from caches
  .github/workflows/checks.yml
Owners: @Arcticae

Avoid running e2e tests in parallel in order to save memory
  pyproject.toml
Owners: @Arcticae

Revert "Avoid running e2e tests in parallel in order to save memory"
  pyproject.toml
Owners: @Arcticae

Debug disc device space
  .github/workflows/checks.yml
Owners: @Arcticae

Try running tests with `p:no-logging`
  .github/workflows/checks.yml
  pyproject.toml
Owners: @Arcticae

Revert changes from CI experiments
  .github/workflows/checks.yml
  pyproject.toml
Owners: @Arcticae

Remove fixme tag
  protostar/cheatable_starknet/cheatables/cheatable_execute_entry_point.py
Owners: @MaksymilianDemitraszek

fix prepare tests
  protostar/cheatable_starknet/callable_hint_locals/deploy_cairo0_hint_local.py
  protostar/cheatable_starknet/callable_hint_locals/prepare_cairo0_hint_local.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/prepare_cairo0_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/prepare_test.cairo
  tests/integration/pure_cairo_vm/cheatcodes/declare_cairo0_cheatcode_test.py
Owners: @MaksymilianDemitraszek, @Arcticae

init
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/call_test.cairo
Owners: @Arcticae

Fix blank return path
  protostar/upgrader/upgrade_manager.py
Owners: @Arcticae

Reference issue number, shorten description
  tests/integration/commands/call_command_test.py
Owners: @Arcticae

Remove leftover
  protostar/starknet/cheatable_execute_entry_point.py
Owners: @MaksymilianDemitraszek

Revert bindings installation procedure change
  .github/workflows/checks.yml
Owners: @Arcticae

Add dummy deepcopy of new `CompiledClass`
  protostar/__init__.py
Owners: @MaksymilianDemitraszek

Use constant from cairo-lang instead of coming up with a number
  protostar/cheatable_starknet/controllers/contracts.py
  protostar/starknet/cheatable_state.py
  protostar/starknet/cheatable_syscall_handler.py
  protostar/testing/cheatcodes/send_message_to_l2.py
Owners: @MaksymilianDemitraszek

Add a wrapper for pytest tmp_path_factory, to reduce disk usage
  tests/conftest.py
  tests/integration/conftest.py
Owners: @Arcticae

Modify scopes of protostar project fixtures
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/deploying/declare_command_test.py
  tests/integration/deploying/deploy_command_test.py
  tests/integration/gateway/uint256_as_input_test.py
Owners: @Arcticae

refactored cheatcodes tests
  tests/integration/__init__.py
  tests/integration/pure_cairo_vm/cheatcodes/conftest.py
  tests/integration/pure_cairo_vm/cheatcodes/contracts_templates/basic_contract.cairo
  tests/integration/pure_cairo_vm/cheatcodes/contracts_templates/broken_syntax_contract.cairo
  tests/integration/pure_cairo_vm/cheatcodes/declare_cairo0_test/declare_cairo0_cheatcode_test.py
  tests/integration/pure_cairo_vm/cheatcodes/declare_cairo0_test/declare_cairo0_test.cairo
  tests/integration/pure_cairo_vm/cheatcodes/deploy/basic_contract.cairo
  tests/integration/pure_cairo_vm/cheatcodes/deploy/deploy_cairo0_test.cairo
  tests/integration/pure_cairo_vm/cheatcodes/deploy_cairo0_test/deploy_cairo0_test.cairo
  tests/integration/pure_cairo_vm/cheatcodes/deploy_cairo0_test/deploy_cairo0_test.py
  tests/integration/pure_cairo_vm/cheatcodes/deploy_contract_cairo0/deploy_contract_cairo0_test.cairo
  tests/integration/pure_cairo_vm/cheatcodes/deploy_contract_cairo0/deploy_contract_cairo0_test.py
  tests/integration/pure_cairo_vm/cheatcodes/prepare_cairo0_test/prepare_cairo0_test.cairo
  tests/integration/pure_cairo_vm/cheatcodes/prepare_cairo0_test/prepare_cairo0_test.py
Owners: @Arcticae

remove redundant init.py
  tests/integration/__init__.py
Owners: @Arcticae

comment out unfinished test
  tests/integration/pure_cairo_vm/cheatcodes/deploy_cairo0_test/deploy_cairo0_test.py
Owners: @Arcticae

file renamed
  tests/integration/pure_cairo_vm/cheatcodes/declare_cairo0_test/declare_cairo0_test.py
Owners: @Arcticae

fixed lint
  protostar/commands/cairo1_commands/build_cairo1_command.py
  protostar/commands/cairo1_commands/fetch_from_scarb.py
  protostar/commands/cairo1_commands/test_cairo1_command.py
Owners: @Arcticae

Change scope of errors reraised in bindings (#1669)
  protostar/cairo/cairo_bindings.py
Owners: @MaksymilianDemitraszek

cleanup
  tests/integration/cairo1_compiler_bindings/library_functions_test/call_test.cairo
Owners: @Arcticae

Add cairo1 call (#1682)
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/call_test.cairo
Owners: @Arcticae

`tmp_path` fixtures wrappers (#1688)
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/deploying/declare_command_test.py
  tests/integration/deploying/deploy_command_test.py
  tests/integration/gateway/uint256_as_input_test.py
Owners: @Arcticae

init
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
  tests/integration/cairo1_compiler_bindings/library_functions_test/call_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/declare_cairo0_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/declare_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/deploy_test.cairo
  tests/integration/cairo1_compiler_bindings/library_functions_test/prepare_test.cairo
Owners: @Arcticae
