Repository software-mansion/protostar, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arcticae, @MaksymilianDemitraszek, @Radinyn

.github/CODEOWNERS:

* @Arcticae

/protostar @MaksymilianDemitraszek
/protostar/cli @Arcticae
/protostar/commands @Arcticae
/protostar/commands/declare @Arcticae @Radinyn
/protostar/commands/deploy @Arcticae @Radinyn
/protostar/commands/init @MaksymilianDemitraszek
/protostar/compiler @Arcticae
/protostar/configuration_file @Arcticae
/protostar/formatter @Radinyn
/protostar/git @Radinyn
/protostar/package_manager @Radinyn
/protostar/profiler @MaksymilianDemitraszek
/protostar/starknet @MaksymilianDemitraszek
/protostar/starknet_gateway @Arcticae @Radinyn
/protostar/testing/cheatcodes/load_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/cheatcodes/store_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/fuzzing @Radinyn
/protostar/upgrader @Arcticae

/website @Arcticae
/website/docs @MaksymilianDemitraszek
README.md @MaksymilianDemitraszek
/readme/ @MaksymilianDemitraszek

Use assert instead of custom exception
  protostar/cheatable_starknet/controllers/contracts.py
Owners: @MaksymilianDemitraszek

Remove TODOs
  protostar/cheatable_starknet/controllers/contracts.py
Owners: @MaksymilianDemitraszek

Added basic test
  tests/integration/cairo1/gas_test.py
  tests/integration/cairo1/gas_test/test.cairo
Owners: @Arcticae

Update contracts in tests
  tests/integration/cairo1_hint_locals/declare/data/cairo0.cairo
  tests/integration/cairo1_hint_locals/declare/declare_test.cairo
Owners: @Arcticae

Restore felt in cairo0 contract
  tests/integration/cairo1_hint_locals/declare/data/cairo0.cairo
Owners: @Arcticae

Use ArrayTrait
  tests/integration/cairo1_hint_locals/declare/declare_test.cairo
Owners: @Arcticae

Remove CompiledClass workaround
  protostar/compiler/project_compiler.py
Owners: @Arcticae

Declare cheatcode (#1625)
  .pylintrc
  protostar/cairo_testing/cairo1_test_runner.py
  protostar/cairo_testing/cairo_hint_local_factory.py
  protostar/cairo_testing/cairo_test_execution_state.py
  protostar/cairo_testing/execution_environments/cairo_setup_case_execution_environment.py
  protostar/cairo_testing/execution_environments/cairo_setup_execution_environment.py
  protostar/cairo_testing/execution_environments/cairo_test_execution_environment.py
  protostar/cheatable_starknet/callable_hint_locals/__init__.py
  protostar/cheatable_starknet/callable_hint_locals/declare_cairo0_hint_local.py
  protostar/cheatable_starknet/callable_hint_locals/declare_hint_local.py
  protostar/cheatable_starknet/controllers/contracts.py
  protostar/commands/build_command.py
  protostar/compiler/__init__.py
  protostar/compiler/cairo0_project_compiler.py
  protostar/compiler/project_compiler.py
  protostar/compiler/project_compiler_exceptions.py
  protostar/compiler/project_compiler_types.py
  protostar/composition_root.py
  protostar/configuration_file/configuration_file.py
  protostar/testing/cheatcodes/declare_cheatcode.py
  protostar/testing/environments/common_test_cheatcode_factory.py
  protostar/testing/starkware/contract_based_test_execution_state.py
  protostar/testing/starkware/test_execution_state.py
  protostar/testing/test_runner.py
  tests/integration/_conftest/protostar_fixture_factory.py
  tests/integration/cairo1_hint_locals/declare/data/broken.cairo
  tests/integration/cairo1_hint_locals/declare/data/cairo0.cairo
  tests/integration/cairo1_hint_locals/declare/data/minimal.cairo
  tests/integration/cairo1_hint_locals/declare/declare_test.cairo
  tests/integration/cairo1_hint_locals/declare/test_declare.py
  tests/integration/project_compiler/project_compiler_test.py
Owners: @Arcticae, @MaksymilianDemitraszek

Extract error handling logic to separate method
  protostar/starknet_gateway/gateway_facade.py
Owners: @Arcticae, @Radinyn

Use correct type for `compiled-class-hash` argument
  protostar/commands/cairo1_commands/declare_cairo1_command.py
Owners: @Arcticae

Add declare-cairo1 e2e test
  tests/e2e/test_gateway_commands.py
  tests/e2e/test_gateway_commands/minimal_contract_compiled.json
Owners: @Arcticae

Add DeclareCairo1Command
  protostar/commands/__init__.py
  protostar/commands/cairo1_commands/__init__.py
  protostar/commands/cairo1_commands/declare_cairo1_command.py
  protostar/composition_root.py
Owners: @Arcticae, @MaksymilianDemitraszek

Update declare command integration test
  tests/integration/commands/declare_command_test.py
  tests/integration/commands/declare_command_test/balance.cairo
  tests/integration/commands/declare_command_test/minimal.cairo
  tests/integration/commands/declare_command_test/minimal_contract_compiled.casm
  tests/integration/commands/declare_command_test/minimal_contract_compiled.json
Owners: @Arcticae

Update DeclareCairo1Command e2e test
  tests/e2e/test_gateway_commands.py
  tests/e2e/test_gateway_commands/minimal.cairo
  tests/e2e/test_gateway_commands/minimal_contract_compiled.json
Owners: @Arcticae

Split declare into separate files
  protostar/commands/__init__.py
  protostar/commands/declare/__init__.py
  protostar/commands/declare/declare_command.py
  protostar/commands/declare/declare_messages.py
Owners: @Arcticae, @Radinyn

Update DeclareCairo1Command integration test
  tests/integration/commands/declare_command_test.py
  tests/integration/commands/declare_command_test/minimal_contract_compiled.casm
Owners: @Arcticae

Update contract path in e2e test
  tests/e2e/test_gateway_commands.py
Owners: @Arcticae

Support declare v2 in gateway_facade.py
  protostar/starknet_gateway/gateway_facade.py
Owners: @Arcticae, @Radinyn

Update CLI reference
  website/docs/cli-reference.md
Owners: @MaksymilianDemitraszek

Replace path with contract name in DeclareCairo1Command
  protostar/commands/cairo1_commands/declare_cairo1_command.py
  protostar/composition_root.py
  protostar/starknet_gateway/gateway_facade.py
  tests/integration/_conftest/protostar_fixture_factory.py
Owners: @Arcticae, @MaksymilianDemitraszek, @Radinyn

Add DeclareCairo1Command integration test
  tests/integration/commands/declare_command_test.py
  tests/integration/commands/declare_command_test/balance.cairo
  tests/integration/commands/declare_command_test/minimal_contract_compiled.json
  tests/integration/commands/deploy_command_test.py
Owners: @Arcticae

Simplify ProjectCompiler
  protostar/cairo_testing/cairo1_test_runner.py
  protostar/cheatable_starknet/callable_hint_locals/declare_hint_local.py
  protostar/compiler/project_compiler.py
  protostar/testing/test_runner.py
Owners: @MaksymilianDemitraszek, @Arcticae

Add DeclareCairo1Command to ProtostarFixture
  tests/integration/_conftest/protostar_fixture.py
  tests/integration/_conftest/protostar_fixture_factory.py
Owners: @Arcticae

Bump devnet
  poetry.lock
  pyproject.toml
Owners: @Arcticae

Use more complex contract in tests
  tests/e2e/test_gateway_commands.py
  tests/e2e/test_gateway_commands/minimal.cairo
  tests/integration/commands/declare_command_test.py
  tests/integration/commands/declare_command_test/minimal.cairo
Owners: @Arcticae

Update cli docs
  protostar/commands/cairo1_commands/declare_cairo1_command.py
  website/docs/cli-reference.md
Owners: @Arcticae, @MaksymilianDemitraszek

Add example usages to docs
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/declare-cairo0.md
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/declare.md
Owners: @MaksymilianDemitraszek

Add note about cairo0 contracts to declare
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/declare.md
Owners: @MaksymilianDemitraszek

Document declare hint local
  website/docs/tutorials/07-testing/02-cheatcodes/declare-cairo0.md
  website/docs/tutorials/07-testing/02-cheatcodes/declare.md
Owners: @MaksymilianDemitraszek

Add cheatcodes section in cairo1 support
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/README.md
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/declare-cairo0.md
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/declare.md
Owners: @MaksymilianDemitraszek

Typos
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/declare-cairo0.md
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/declare.md
Owners: @MaksymilianDemitraszek

Revert "Document declare hint local"
  website/docs/tutorials/07-testing/02-cheatcodes/declare-cairo0.md
  website/docs/tutorials/07-testing/02-cheatcodes/declare.md
Owners: @MaksymilianDemitraszek

Extend README.md
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/README.md
Owners: @MaksymilianDemitraszek

Apply suggestions from code review
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/README.md
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/declare-cairo0.md
Owners: @MaksymilianDemitraszek

Reorder docs
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/declare.md
Owners: @MaksymilianDemitraszek

Add missing file
  tests/e2e/test_gateway_commands/balance.cairo
Owners: @Arcticae

init
  tests/integration/cairo1_hint_locals/declare/declare_test.cairo
Owners: @Arcticae

Adjust test mock return values
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
Owners: @Arcticae

Apply suggestions from code review
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/declare-cairo0.md
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/declare.md
Owners: @MaksymilianDemitraszek

Adjust prepare tests (#1701)
  tests/integration/cairo1_compiler_bindings/library_functions_test.py
Owners: @Arcticae
