Repository software-mansion/protostar, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arcticae, @MaksymilianDemitraszek, @Radinyn

Fix
  binary_entrypoint.py
  protostar/commands/cairo1_commands/test_cairo1_command.py
  protostar/commands/test/test_command.py
  protostar/self/protostar_directory.py
Owners: @Arcticae, @MaksymilianDemitraszek

lint
  binary_entrypoint.py
  protostar/commands/cairo1_commands/test_cairo1_command.py
  protostar/commands/test/test_command.py
Owners: @Arcticae

Release fixes (#1775)
  binary_entrypoint.py
  protostar/commands/cairo1_commands/test_cairo1_command.py
  protostar/commands/test/test_command.py
  templates/cairo1/src/main.cairo
Owners: @Arcticae

release Protostar 0.9.3
  pyproject.toml
Owners: @Arcticae

move cairo_project.toml's
  tests/e2e/fixtures/scarb_integration_build_command/cairo1_scarb_libraries/cairo_project.toml
  tests/e2e/fixtures/scarb_integration_build_command/cairo1_scarb_libraries/protostar.toml
  tests/e2e/fixtures/scarb_integration_build_command/cairo1_scarb_libraries/src/cairo_project.toml
  tests/e2e/fixtures/scarb_integration_build_command/cairo1_scarb_modules/cairo_project.toml
  tests/e2e/fixtures/scarb_integration_build_command/cairo1_scarb_modules/protostar.toml
  tests/e2e/fixtures/scarb_integration_build_command/cairo1_scarb_modules/src/cairo_project.toml
  tests/e2e/fixtures/scarb_integration_build_command/cairo1_scarb_online_dependencies/cairo_project.toml
  tests/e2e/fixtures/scarb_integration_build_command/cairo1_scarb_online_dependencies/protostar.toml
  tests/e2e/fixtures/scarb_integration_build_command/cairo1_scarb_online_dependencies/src/cairo_project.toml
Owners: @Arcticae

Remove unnecessary code from NewProjectCrator
  protostar/commands/init/project_creator/new_project_creator.py
Owners: @MaksymilianDemitraszek

Update init command test
  tests/integration/commands/init_command_test/project_name/hello_starknet/cairo_project.toml
  tests/integration/commands/init_command_test/project_name/hello_starknet/src/business_logic.cairo
  tests/integration/commands/init_command_test/project_name/hello_starknet/src/business_logic/utils.cairo
  tests/integration/commands/init_command_test/project_name/hello_starknet/src/contracts.cairo
  tests/integration/commands/init_command_test/project_name/hello_starknet/src/contracts/hello_starknet.cairo
  tests/integration/commands/init_command_test/project_name/hello_starknet/src/lib.cairo
  tests/integration/commands/init_command_test/project_name/protostar.toml
  tests/integration/commands/init_command_test/project_name/src/cairo_project.toml
  tests/integration/commands/init_command_test/project_name/tests/test_utils.cairo
Owners: @Arcticae

Update template structure
  protostar/commands/init/project_creator/new_project_creator.py
  templates/cairo1/hello_starknet/cairo_project.toml
  templates/cairo1/hello_starknet/src/business_logic.cairo
  templates/cairo1/hello_starknet/src/business_logic/utils.cairo
  templates/cairo1/hello_starknet/src/contracts.cairo
  templates/cairo1/hello_starknet/src/contracts/hello_starknet.cairo
  templates/cairo1/hello_starknet/src/lib.cairo
  templates/cairo1/protostar.toml
  templates/cairo1/src/cairo_project.toml
  templates/cairo1/tests/test_utils.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

e2e tests for invalid contracts (#1776)
  tests/e2e/cairo1/test_cairo1_building.py
Owners: @Arcticae

Plugged in `available_gas`
  protostar/cairo_testing/cairo1_test_collector.py
  protostar/testing/test_collector.py
Owners: @MaksymilianDemitraszek

Added edge case handling
  protostar/testing/test_collector.py
Owners: @MaksymilianDemitraszek

Added `available_gas` docs
  website/docs/tutorials/08-cairo-1-support/05-gas.md
Owners: @MaksymilianDemitraszek

Produce both sierra and casm outputs when build-cairo1
  protostar/commands/cairo1_commands/build_cairo1_command.py
Owners: @Arcticae

Expect .casm.json and .sierra.json are built in tests for build-cairo1
  tests/e2e/cairo1/test_cairo1_building.py
  tests/e2e/cairo_0_1_mixed/test_cairo_0_1_mixed_building.py
Owners: @Arcticae

Compile to casm from already compiled sierra contract in build-cairo1
  protostar/commands/cairo1_commands/build_cairo1_command.py
Owners: @Arcticae

Iterate over contracts once in test_cairo1_build_with_contract_names_build_together's assert
  tests/e2e/cairo_0_1_mixed/test_cairo_0_1_mixed_building.py
Owners: @Arcticae

init
  tests/integration/cairo1_hint_locals/call/call_test.cairo
Owners: @Arcticae

add test not mutating state test
  tests/integration/cairo1_hint_locals/call/call_test.cairo
  tests/integration/cairo1_hint_locals/call/data/with_storage/cairo_project.toml
  tests/integration/cairo1_hint_locals/call/data/with_storage/lib.cairo
  tests/integration/cairo1_hint_locals/call/test_call.py
Owners: @Arcticae

prepare: distinguish between no args and no ctor
  tests/integration/cairo1_hint_locals/prepare/data/minimal_no_ctor/cairo_project.toml
  tests/integration/cairo1_hint_locals/prepare/data/minimal_no_ctor/lib.cairo
  tests/integration/cairo1_hint_locals/prepare/prepare_test.cairo
  tests/integration/cairo1_hint_locals/prepare/test_prepare.py
Owners: @Arcticae

Use `deploy_contract` in call tests (#1777)
  tests/integration/cairo1_hint_locals/call/call_test.cairo
Owners: @Arcticae

Produce both sierra and casm outputs when build-cairo1 (#1722)
  protostar/commands/cairo1_commands/build_cairo1_command.py
  tests/e2e/cairo1/test_cairo1_building.py
  tests/e2e/cairo_0_1_mixed/test_cairo_0_1_mixed_building.py
Owners: @Arcticae

remove unnecessary test
  tests/integration/cairo1_hint_locals/call/call_test.cairo
  tests/integration/cairo1_hint_locals/call/test_call.py
Owners: @Arcticae

init
  protostar/cheatable_starknet/controllers/contracts.py
  tests/integration/cairo1_hint_locals/declare/data/simple/cairo_project.toml
  tests/integration/cairo1_hint_locals/declare/data/simple/lib.cairo
  tests/integration/cairo1_hint_locals/declare/declare_test.cairo
  tests/integration/cairo1_hint_locals/declare/test_declare.py
Owners: @MaksymilianDemitraszek, @Arcticae

remove unnecessary vars
  tests/integration/cairo1_hint_locals/prepare/prepare_test.cairo
Owners: @Arcticae

fix
  tests/integration/cairo1_hint_locals/prepare/prepare_test.cairo
Owners: @Arcticae

Fix declaring two contracts next to each other (#1798)
  protostar/cheatable_starknet/controllers/contracts.py
  tests/integration/cairo1_hint_locals/declare/data/simple/cairo_project.toml
  tests/integration/cairo1_hint_locals/declare/data/simple/lib.cairo
  tests/integration/cairo1_hint_locals/declare/declare_test.cairo
  tests/integration/cairo1_hint_locals/declare/test_declare.py
Owners: @MaksymilianDemitraszek, @Arcticae

refactored tests
  tests/e2e/cairo1/conftest.py
  tests/e2e/cairo1/test_building_contracts_scarb.py
  tests/e2e/cairo1/test_testing_contracts_scarb.py
  tests/e2e/cairo1/test_testing_pure_cairo_scarb.py
  tests/e2e/cairo1/test_testing_scarb.py
  tests/e2e/fixtures/scarb_integration/libraries/tests/test_contract.cairo
  tests/e2e/fixtures/scarb_integration/libraries/tests/test_pure_cairo.cairo
  tests/e2e/fixtures/scarb_integration/modules/tests/test_contract.cairo
  tests/e2e/fixtures/scarb_integration/modules/tests/test_pure_cairo.cairo
  tests/e2e/fixtures/scarb_integration/online_dependencies/tests/test_contract.cairo
  tests/e2e/fixtures/scarb_integration/online_dependencies/tests/test_pure_cairo.cairo
Owners: @Arcticae

release Protostar 0.9.4
  pyproject.toml
Owners: @Arcticae

Improved typing
  protostar/cairo_testing/cairo1_test_collector.py
  protostar/testing/test_collector.py
Owners: @MaksymilianDemitraszek

Lint
  protostar/cairo_testing/cairo1_test_collector.py
Owners: @MaksymilianDemitraszek

wip
  tests/e2e/conftest.py
  tests/integration/conftest.py
Owners: @Arcticae

`List` -> `list`
  protostar/testing/test_collector.py
Owners: @MaksymilianDemitraszek

Move test runner tests
  tests/integration/cairo1_tests/test_runner/cairo1_runner_test.py
  tests/integration/cairo1_tests/test_runner/cairo1_runner_test/broken/test_cairo1_broken_suite.cairo
  tests/integration/cairo1_tests/test_runner/cairo1_runner_test/external_lib_foo/cairo_project.toml
  tests/integration/cairo1_tests/test_runner/cairo1_runner_test/external_lib_foo/foo.cairo
  tests/integration/cairo1_tests/test_runner/cairo1_runner_test/external_lib_foo/lib.cairo
  tests/integration/cairo1_tests/test_runner/cairo1_runner_test/multiple_suites/test_cairo1.cairo
  tests/integration/cairo1_tests/test_runner/cairo1_runner_test/multiple_suites/test_cairo1_two_cases.cairo
  tests/integration/cairo1_tests/test_runner/cairo1_runner_test/test_cairo1.cairo
  tests/integration/cairo1_tests/test_runner/cairo1_runner_test/test_cairo1_empty_suite.cairo
  tests/integration/cairo1_tests/test_runner/cairo1_runner_test/test_cairo1_ext_lib.cairo
  tests/integration/cairo1_tests/test_runner/cairo1_runner_test/test_cairo1_failing.cairo
  tests/integration/cairo1_tests/test_runner/cairo1_runner_test/test_cairo1_two_cases.cairo
  tests/integration/cairo1_tests/test_runner/data/cairo_project.toml
  tests/integration/cairo1_tests/test_runner/data/lib.cairo
Owners: @Arcticae

Move hint local test to common dir
  tests/integration/cairo1_tests/hint_locals/declare/data/simple/cairo_project.toml
  tests/integration/cairo1_tests/hint_locals/declare/data/simple/lib.cairo
  tests/integration/cairo1_tests/hint_locals/declare_cairo0/data/basic_contract.cairo
  tests/integration/cairo1_tests/hint_locals/declare_cairo0/data/broken_syntax_contract.cairo
  tests/integration/cairo1_tests/hint_locals/declare_cairo0/declare_cairo0_test.cairo
  tests/integration/cairo1_tests/hint_locals/declare_cairo0/test_declare_cairo0.py
Owners: @Arcticae

Move declare cairo1 command test to separate file
  tests/integration/commands/declare_cairo1_command_test/cairo_project.toml
  tests/integration/commands/declare_cairo1_command_test/lib.cairo
  tests/integration/commands/declare_cairo1_test.py
  tests/integration/commands/declare_command_test.py
Owners: @Arcticae

Fix declare-cairo1 test name
  tests/integration/commands/declare_cairo1_command_test.py
Owners: @Arcticae

Fix declare error message typo
  protostar/cheatable_starknet/callable_hint_locals/declare_hint_local.py
Owners: @MaksymilianDemitraszek

Update start_prank_hint_local.py and stop_prank_hint_local.py
  protostar/cheatable_starknet/callable_hint_locals/__init__.py
  protostar/cheatable_starknet/callable_hint_locals/start_prank_hint_local.py
  protostar/cheatable_starknet/callable_hint_locals/stop_prank_hint_local.py
Owners: @MaksymilianDemitraszek

Use pranked caller address in invoke
  protostar/cheatable_starknet/controllers/contracts.py
Owners: @MaksymilianDemitraszek

Add prank tests
  tests/integration/cairo1_hint_locals/prank/data/pranked/cairo_project.toml
  tests/integration/cairo1_hint_locals/prank/data/pranked/lib.cairo
  tests/integration/cairo1_hint_locals/prank/prank_test.cairo
  tests/integration/cairo1_hint_locals/prank/test_prank.py
Owners: @Arcticae

.github/CODEOWNERS:

* @Arcticae

/protostar @MaksymilianDemitraszek
/protostar/cli @Arcticae
/protostar/commands @Arcticae
/protostar/commands/declare @Arcticae @Radinyn
/protostar/commands/deploy @Arcticae @Radinyn
/protostar/commands/init @MaksymilianDemitraszek
/protostar/compiler @Arcticae
/protostar/configuration_file @Arcticae
/protostar/formatter @Radinyn
/protostar/git @Radinyn
/protostar/package_manager @Radinyn
/protostar/profiler @MaksymilianDemitraszek
/protostar/starknet @MaksymilianDemitraszek
/protostar/starknet_gateway @Arcticae @Radinyn
/protostar/testing/cheatcodes/load_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/cheatcodes/store_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/fuzzing @Radinyn
/protostar/upgrader @Arcticae

/website @Arcticae
/website/docs @MaksymilianDemitraszek
README.md @MaksymilianDemitraszek
/readme/ @MaksymilianDemitraszek
