Repository software-mansion/protostar, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arcticae, @MaksymilianDemitraszek, @Radinyn

.github/CODEOWNERS:

* @Arcticae

/protostar @MaksymilianDemitraszek
/protostar/cli @Arcticae
/protostar/commands @Arcticae
/protostar/commands/declare @Arcticae @Radinyn
/protostar/commands/deploy @Arcticae @Radinyn
/protostar/commands/init @MaksymilianDemitraszek
/protostar/compiler @Arcticae
/protostar/configuration_file @Arcticae
/protostar/formatter @Radinyn
/protostar/git @Radinyn
/protostar/package_manager @Radinyn
/protostar/profiler @MaksymilianDemitraszek
/protostar/starknet @MaksymilianDemitraszek
/protostar/starknet_gateway @Arcticae @Radinyn
/protostar/testing/cheatcodes/load_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/cheatcodes/store_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/fuzzing @Radinyn
/protostar/upgrader @Arcticae

/website @Arcticae
/website/docs @MaksymilianDemitraszek
README.md @MaksymilianDemitraszek
/readme/ @MaksymilianDemitraszek

init
  tests/integration/cairo1_hint_locals/deploy_contract/data/cairo0.cairo
  tests/integration/cairo1_hint_locals/deploy_contract/data/simple.cairo
  tests/integration/cairo1_hint_locals/deploy_contract/data/with_ctor.cairo
  tests/integration/cairo1_hint_locals/deploy_contract/data/with_ctor_panic.cairo
  tests/integration/cairo1_hint_locals/deploy_contract/deploy_contract_test.cairo
  tests/integration/cairo1_hint_locals/deploy_contract/test_deploy_contract.py
Owners: @Arcticae

renames
  tests/integration/cairo1_hint_locals/deploy_contract/data/cairo0_with_constructor.cairo
  tests/integration/cairo1_hint_locals/deploy_contract/data/minimal.cairo
  tests/integration/cairo1_hint_locals/deploy_contract/data/with_constructor.cairo
  tests/integration/cairo1_hint_locals/deploy_contract/data/with_constructor_panic.cairo
  tests/integration/cairo1_hint_locals/deploy_contract/deploy_contract_test.cairo
  tests/integration/cairo1_hint_locals/deploy_contract/test_deploy_contract.py
Owners: @Arcticae

add cairo0 test with ctor
  tests/integration/cairo1_hint_locals/deploy_contract/data/cairo0_with_ctor.cairo
  tests/integration/cairo1_hint_locals/deploy_contract/deploy_contract_test.cairo
  tests/integration/cairo1_hint_locals/deploy_contract/test_deploy_contract.py
Owners: @Arcticae

add tests checking the error message
  protostar/cheatable_starknet/callable_hint_locals/callable_hint_local.py
Owners: @MaksymilianDemitraszek

fix name
  tests/integration/cairo1_hint_locals/deploy_contract/deploy_contract_test.cairo
Owners: @Arcticae

init
  tests/integration/cairo1_hint_locals/deploy/data/broken.cairo
Owners: @Arcticae

add test with wrong number of args in ctor
  tests/integration/cairo1_hint_locals/deploy/test_deploy.py
Owners: @Arcticae

Rename `_make_project_config`
  protostar/commands/init/project_creator/new_project_creator.py
Owners: @MaksymilianDemitraszek

fix tests
  tests/integration/cairo1_hint_locals/deploy_contract/data/minimal/cairo_project.toml
  tests/integration/cairo1_hint_locals/deploy_contract/data/minimal/lib.cairo
  tests/integration/cairo1_hint_locals/deploy_contract/data/with_constructor/cairo_project.toml
  tests/integration/cairo1_hint_locals/deploy_contract/data/with_constructor/lib.cairo
  tests/integration/cairo1_hint_locals/deploy_contract/data/with_constructor_panic/cairo_project.toml
  tests/integration/cairo1_hint_locals/deploy_contract/data/with_constructor_panic/lib.cairo
  tests/integration/cairo1_hint_locals/deploy_contract/test_deploy_contract.py
Owners: @Arcticae

Rename `project_directory_from_template`
  protostar/commands/init/project_creator/new_project_creator.py
Owners: @MaksymilianDemitraszek

Fix failing test
  tests/integration/commands/init_command_test/project_name/src/contracts/hello_starknet.cairo
  tests/integration/commands/init_command_test/project_name/tests/test_hello_starknet.cairo
Owners: @Arcticae

Add newlines
  templates/cairo1/src/business_logic.cairo
  templates/cairo1/src/business_logic/utils.cairo
  templates/cairo1/src/cairo_project.toml
  templates/cairo1/src/contracts.cairo
  templates/cairo1/tests/test_hello_starknet.cairo
  templates/cairo1/tests/test_utils.cairo
  tests/integration/commands/init_command_test/project_name/src/business_logic.cairo
  tests/integration/commands/init_command_test/project_name/src/business_logic/utils.cairo
  tests/integration/commands/init_command_test/project_name/src/cairo_project.toml
  tests/integration/commands/init_command_test/project_name/src/contracts.cairo
  tests/integration/commands/init_command_test/project_name/tests/test_hello_starknet.cairo
  tests/integration/commands/init_command_test/project_name/tests/test_utils.cairo
Owners: @Arcticae

Update website/docs/tutorials/08-cairo-1-support/03-cheatcodes/invoke.md
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/invoke.md
Owners: @MaksymilianDemitraszek

Apply suggestions from code review
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/invoke.md
Owners: @MaksymilianDemitraszek

Added mention about call
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/invoke.md
Owners: @MaksymilianDemitraszek

Improving readability
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/invoke.md
Owners: @MaksymilianDemitraszek

Commit to JSON
  design_docs/shell.md
Owners: @Arcticae

Remove unnecessary part
  design_docs/shell.md
Owners: @Arcticae

Replace Scarb.toml with scarb metadata
  design_docs/shell.md
Owners: @Arcticae

Explain changes to backends better
  design_docs/shell.md
Owners: @Arcticae

Update website/docs/tutorials/08-cairo-1-support/03-cheatcodes/invoke.md
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/invoke.md
Owners: @MaksymilianDemitraszek

Add `deploy_contract` tests (#1732)
  tests/integration/cairo1_hint_locals/deploy_contract/data/cairo0.cairo
  tests/integration/cairo1_hint_locals/deploy_contract/data/cairo0_with_constructor.cairo
  tests/integration/cairo1_hint_locals/deploy_contract/data/minimal/cairo_project.toml
  tests/integration/cairo1_hint_locals/deploy_contract/data/minimal/lib.cairo
  tests/integration/cairo1_hint_locals/deploy_contract/data/with_constructor/cairo_project.toml
  tests/integration/cairo1_hint_locals/deploy_contract/data/with_constructor/lib.cairo
  tests/integration/cairo1_hint_locals/deploy_contract/data/with_constructor_panic/cairo_project.toml
  tests/integration/cairo1_hint_locals/deploy_contract/data/with_constructor_panic/lib.cairo
  tests/integration/cairo1_hint_locals/deploy_contract/deploy_contract_test.cairo
  tests/integration/cairo1_hint_locals/deploy_contract/test_deploy_contract.py
Owners: @Arcticae

release Protostar 0.9.3
  pyproject.toml
Owners: @Arcticae

address feedback
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/call.md
Owners: @MaksymilianDemitraszek

Fixed template
  templates/cairo1/src/main.cairo
Owners: @Arcticae

Use default values in ConfigurationFileV2Model
  protostar/commands/init/project_creator/adapted_project_creator.py
  protostar/commands/init/project_creator/new_project_creator.py
  protostar/configuration_file/configuration_file_v2.py
  tests/integration/_conftest/protostar_project_fixture.py
Owners: @MaksymilianDemitraszek, @Arcticae

Fixed template
  templates/cairo1/src/main.cairo
Owners: @Arcticae

Update protostar/commands/init/project_creator/new_project_creator.py
  protostar/commands/init/project_creator/new_project_creator.py
Owners: @MaksymilianDemitraszek

make code shorter
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/call.md
Owners: @MaksymilianDemitraszek

Add call Cairo 1 docs (#1773)
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/call.md
Owners: @MaksymilianDemitraszek

prints
  protostar/commands/cairo1_commands/test_cairo1_command.py
  protostar/self/protostar_directory.py
Owners: @Arcticae, @MaksymilianDemitraszek

init
  tests/e2e/cairo1/test_cairo1_building.py
Owners: @Arcticae

release Protostar 0.9.4
  pyproject.toml
Owners: @Arcticae

release Protostar 0.9.5
  pyproject.toml
Owners: @Arcticae

Fixes
  pyproject.toml
Owners: @Arcticae

Added invoke docs (#1769)
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/call.md
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/invoke.md
Owners: @MaksymilianDemitraszek

Remove unused variable
  templates/cairo1/tests/test_hello_starknet.cairo
  tests/integration/commands/init_command_test/project_name/tests/test_hello_starknet.cairo
Owners: @Arcticae

Add test which imports from a contract (#1736)
  tests/integration/cairo1_compiler_bindings/data/external_contract/cairo_project.toml
  tests/integration/cairo1_compiler_bindings/data/external_contract/contract.cairo
  tests/integration/cairo1_compiler_bindings/data/external_contract/lib.cairo
  tests/integration/cairo1_compiler_bindings/tests_collector_and_compiler_test.py
  tests/integration/cairo1_compiler_bindings/tests_collector_and_compiler_test/test_with_contract_deps.cairo
Owners: @Arcticae

init
  tests/integration/cairo1_hint_locals/call/call_test.cairo
Owners: @Arcticae

fix typos and remove confusing run_build_with_custom_action
  tests/e2e/cairo1/test_cairo1_building.py
Owners: @Arcticae
