Repository software-mansion/protostar, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arcticae, @MaksymilianDemitraszek, @Radinyn

Reduce ProjectCompiler functionality to path resolving
  protostar/cheatable_starknet/callable_hint_locals/declare_hint_local.py
  protostar/commands/cairo1_commands/declare_cairo1_command.py
  protostar/compiler/project_compiler.py
Owners: @MaksymilianDemitraszek, @Arcticae

Rename ProjectCompiler to ContractPathResolver
  protostar/cairo_testing/cairo1_test_runner.py
  protostar/cairo_testing/cairo_hint_local_factory.py
  protostar/cairo_testing/cairo_test_execution_state.py
  protostar/cairo_testing/execution_environments/cairo_setup_case_execution_environment.py
  protostar/cairo_testing/execution_environments/cairo_setup_execution_environment.py
  protostar/cairo_testing/execution_environments/cairo_test_execution_environment.py
  protostar/cheatable_starknet/callable_hint_locals/declare_hint_local.py
  protostar/commands/cairo1_commands/declare_cairo1_command.py
  protostar/compiler/__init__.py
  protostar/composition_root.py
  protostar/contract_path_resolver/__init__.py
  protostar/contract_path_resolver/contract_path_resolver.py
  protostar/testing/starkware/contract_based_test_execution_state.py
  protostar/testing/starkware/test_execution_state.py
  protostar/testing/test_runner.py
  tests/integration/_conftest/protostar_fixture_factory.py
  tests/integration/commands/declare_cairo1_command_test.py
Owners: @MaksymilianDemitraszek, @Arcticae

Fix declare hint local logic
  protostar/cheatable_starknet/callable_hint_locals/declare_hint_local.py
Owners: @MaksymilianDemitraszek

Update mock in declare_cairo1_command_test
  tests/integration/commands/declare_cairo1_command_test.py
Owners: @Arcticae

Update reference_docs_generator.py
  docs_generator/reference_docs_generator.py
Owners: @Arcticae

init
  scripts/install_cairo_bindings.sh
Owners: @Arcticae

Fix misleading comments in the bindings installing script (#1865)
  scripts/install_cairo_bindings.sh
Owners: @Arcticae

Add warp cheatcode implementation + test
  protostar/cheatable_starknet/cheatables/cheatable_deprecated_syscall_handler.py
  protostar/cheatable_starknet/cheatables/cheatable_execute_entry_point.py
  protostar/cheatable_starknet/cheatables/cheatable_syscall_handler.py
  tests/integration/cairo1_hint_locals/warp/data/simple/cairo_project.toml
  tests/integration/cairo1_hint_locals/warp/data/simple/lib.cairo
  tests/integration/cairo1_hint_locals/warp/test_warp.py
  tests/integration/cairo1_hint_locals/warp/warp_test.cairo
Owners: @MaksymilianDemitraszek, @Arcticae

Ignore type on original implementation
  protostar/cheatable_starknet/cheatables/cheatable_execute_entry_point.py
Owners: @MaksymilianDemitraszek

Fix, try
  pyproject.toml
Owners: @Arcticae

Move test + add docs
  tests/integration/cairo1/hint_locals/warp/data/simple/cairo_project.toml
  tests/integration/cairo1/hint_locals/warp/data/simple/lib.cairo
  tests/integration/cairo1/hint_locals/warp/test_warp.py
  tests/integration/cairo1/hint_locals/warp/warp_test.cairo
  website/docs/tutorials/08-cairo-1-support/03-cheatcodes/warp.md
Owners: @Arcticae, @MaksymilianDemitraszek

Move docs to appropriate section
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/warp.md
Owners: @MaksymilianDemitraszek

Added stderr ignore
  tests/e2e/test_gateway_commands.py
Owners: @Arcticae

Update website/docs/tutorials/08-cairo-1-support/05-cheatcodes/warp.md
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/warp.md
Owners: @MaksymilianDemitraszek

Tidy up function name
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/warp.md
Owners: @MaksymilianDemitraszek

Remove data transformation in cairo1 cheatcodes (#1863)
  protostar/cheatable_starknet/callable_hint_locals/invoke_hint_local.py
  protostar/cheatable_starknet/callable_hint_locals/prepare_hint_local.py
  protostar/cheatable_starknet/controllers/contracts.py
Owners: @MaksymilianDemitraszek

Fix variable names
  protostar/cheatable_starknet/callable_hint_locals/declare_hint_local.py
Owners: @MaksymilianDemitraszek

Fix variable names
  tests/integration/commands/declare_cairo1_command_test.py
Owners: @Arcticae

Make bindings imports more explicit
  protostar/cheatable_starknet/callable_hint_locals/declare_hint_local.py
  protostar/commands/cairo1_commands/declare_cairo1_command.py
Owners: @MaksymilianDemitraszek, @Arcticae

Remove `Optional` from bindings
  protostar/cairo/cairo_bindings.py
  protostar/cheatable_starknet/callable_hint_locals/declare_hint_local.py
  protostar/commands/cairo1_commands/declare_cairo1_command.py
Owners: @MaksymilianDemitraszek, @Arcticae

Support `get_builtin_costs`in runner facade
  protostar/cairo/cairo_function_runner_facade.py
Owners: @MaksymilianDemitraszek

Update gas test to use `get_builtin_costs`
  tests/integration/cairo1/misc/gas_test/test.cairo
Owners: @Arcticae

Rename warp & roll to start_(warp/roll). Add respective stop variants. Rename libfunc parameters.
  protostar/cairo_testing/cairo_hint_local_factory.py
  protostar/cheatable_starknet/callable_hint_locals/__init__.py
  protostar/cheatable_starknet/callable_hint_locals/start_warp_hint_local.py
  tests/integration/cairo1/compiler_bindings/library_functions_test.py
  tests/integration/cairo1/compiler_bindings/library_functions_test/start_roll_test.cairo
  tests/integration/cairo1/compiler_bindings/library_functions_test/start_warp_test.cairo
  tests/integration/cairo1/compiler_bindings/tests_collector_and_compiler_test.py
  tests/integration/cairo1/compiler_bindings/tests_collector_and_compiler_test/roll_test.cairo
  tests/integration/cairo1/compiler_bindings/tests_collector_and_compiler_test/start_roll_test.cairo
  tests/integration/cairo1/hint_locals/start_warp/data/simple/cairo_project.toml
  tests/integration/cairo1/hint_locals/start_warp/data/simple/lib.cairo
  tests/integration/cairo1/hint_locals/start_warp/start_warp_test.cairo
  tests/integration/cairo1/hint_locals/start_warp/test_start_warp.py
Owners: @MaksymilianDemitraszek, @Arcticae

Update naming in the documentation
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/start_warp.md
Owners: @MaksymilianDemitraszek

Add missing newline
  tests/integration/cairo1/hint_locals/call/call_test.cairo
Owners: @Arcticae

Apply suggestions from code review
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/README.md
Owners: @MaksymilianDemitraszek

init
  tests/integration/cairo1/misc/builtins_test/test.cairo
Owners: @Arcticae

Add deploy doesnt move calldata test
  tests/integration/cairo1/hint_locals/deploy/deploy_test.cairo
  tests/integration/cairo1/hint_locals/deploy/test_deploy.py
Owners: @Arcticae

Remove outdated link from deploy_contract_cairo0.md
  website/docs/tutorials/08-cairo-1-support/05-cheatcodes/deploy_contract_cairo0.md
Owners: @MaksymilianDemitraszek

.github/CODEOWNERS:

* @Arcticae

/protostar @MaksymilianDemitraszek
/protostar/cli @Arcticae
/protostar/commands @Arcticae
/protostar/commands/declare @Arcticae @Radinyn
/protostar/commands/deploy @Arcticae @Radinyn
/protostar/commands/init @MaksymilianDemitraszek
/protostar/compiler @Arcticae
/protostar/configuration_file @Arcticae
/protostar/formatter @Radinyn
/protostar/git @Radinyn
/protostar/package_manager @Radinyn
/protostar/profiler @MaksymilianDemitraszek
/protostar/starknet @MaksymilianDemitraszek
/protostar/starknet_gateway @Arcticae @Radinyn
/protostar/testing/cheatcodes/load_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/cheatcodes/store_cheatcode.py @MaksymilianDemitraszek
/protostar/testing/fuzzing @Radinyn
/protostar/upgrader @Arcticae

/website @Arcticae
/website/docs @MaksymilianDemitraszek
README.md @MaksymilianDemitraszek
/readme/ @MaksymilianDemitraszek
